@model SeHubPortal.ViewModel.LocationsMap
@{
    ViewBag.Title = "LocationsMap";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />




    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.mainCalendar > 0)
    {
        <style>
            #MainCalendarLink {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.mainDashboard > 0)
    {
        <style>
            #MainDashboardLink {
                display: block !important;
            }
        </style>
    }


    <style>

        #LocationsMapLink {
            display: block !important;
            color: black;
            font-weight: bold;
            background-color: #f0f2f5;
        }

        #mainClicked {
            display: block !important;
        }

        .fc-agendaWeek-button {
            display: none;
        }

        .fc-toolbar h2 {
            color: #008ce3;
        }

        #mainClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #mainButton {
            color: black;
            font-weight: bold;
        }



        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            padding: 5px
        }

            .card-header h6 {
                color: black;
            }

        .fc-row.fc-week.ui-widget-content {
            height: 100px !important;
        }

        body {
            overflow-y: hidden !important;
        }
    </style>
</head>
<body>
    <div class="row heading" style="margin-right:15px">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadCrumb" style=" height:100%;margin-top:0px; background-color:white">
                    <li class="breadcrumb-item"><a href="@Url.Action("Locationsmap", "Main")">Main</a></li>
                    <li class="breadcrumb-item " aria-current="page">Locations Map</li>

                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size: 25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>


    <div class="row">
        <div class="col-lg-3 text-center" style="padding-right:0px; padding-left:45px">
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-12">
                    @using (Html.BeginForm("DashboardChangeLocation", "Main", FormMethod.Post))
                    {
                        @Html.DropDownListFor(m => m.SelectedLocationId, Model.LocationsList, new { @onChange = "this.form.submit()", @class = "text-center", @style = "font-weight:bolder; font-size:30px; text-align-last: center; width:100%; height:60px;", @required = "required", @id = "Location" })
                    }
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-12">

                    @if (Model.SelectedLocationId == "001" || Model.SelectedLocationId == "AHO")
                    {
                        <img src="https://s3-media0.fl.yelpcdn.com/bphoto/wsDhCW6-I8I43JRECAAXlA/l.jpg" style="width:100%" alt="Alternate Text" />
                    }
                    else if (Model.SelectedLocationId == "003")
                    {
                        <img src="https://cdn.canada247.info/assets/uploads/0215058eedff72e63fd9e5f371d72df5_-newfoundland-and-labrador-division-no-1-st-johns-east-end-city-tire-auto-centre-ltd-709-754-5000html.jpg" style="width:100%" alt="Alternate Text" />
                    }
                    else if (Model.SelectedLocationId == "009")
                    {
                        <img src="https://pr0.nicelocal.ca/GHLkLtgZLvFxpYalSUZNLQ/630x384,q85/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2W0c83jQlGNzqIMLc2J9YI_25a1jIe_JrETRJZL_MB5MxAs8ohz70K5kTSzYTrPBaQ" style="width:100%" alt="Alternate Text" />
                    }
                    else if (Model.SelectedLocationId == "010" || Model.SelectedLocationId == "011" || Model.SelectedLocationId == "347")
                    {
                        <img src="https://cdn.canada247.info/assets/uploads/1ee058112f68733273df30845376e544_-newfoundland-and-labrador-division-no-1-mount-pearl-city-tire-auto-centre-ltd-709-364-6809html.jpg" style="width:100%" alt="Alternate Text" />
                    }
                    else
                    {
                        <img src="https://s3-media0.fl.yelpcdn.com/bphoto/wsDhCW6-I8I43JRECAAXlA/l.jpg" style="width:100%" alt="Alternate Text" />
                    }



                </div>
            </div>
            <div class="row" style="margin-bottom:0px">
                <div class="col-lg-12">
                    <p>
                        @Model.locdesc.cta_street1, @Model.locdesc.cta_street2, @Model.locdesc.cta_city, @Model.locdesc.cta_province, @Model.locdesc.cta_postal_code, @Model.locdesc.cta_country
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-12 text-left">
                    <b><u>Phone:</u></b> @Model.locdesc.cta_phone
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-12 text-left">
                    <b><u>Fax:</u></b> @Model.locdesc.cta_fax
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-12 text-left">
                    <b><u>Service Email:</u></b> @Model.locdesc.service_email
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <b><u>Employees</u></b>
                </div>
            </div>
            <div class="row" style="overflow-y:auto; overflow-x:hidden; max-height:260px">
                <div class="col-lg-12 text-left">
                    @foreach (var emp in Model.employees)
                    {
                        <div class="row" style="padding:0px; margin:0px; font-size:12px">
                            <div class="col-lg-5 text-left" style="padding:0px; margin:0px">
                                @emp.full_name:
                            </div>
                            <div class="col-lg-7 text-left" style="padding:0px; margin:0px">
                                @emp.cta_position
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-9" style="padding-right:30px">
            <iframe src="@Model.locdesc.googleMap" frameborder="0" style="border:0;width:100%; height:46em" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>

</html>




