@model SeHubPortal.Models.tbl_employee

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div style="display:flex; border:2px solid #a6a6a6; padding:10px 0px; border-radius:10px">
            <div style="        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center">

                @{
                    string base64ProfilePic = "";
                    if (Model.profile_pic is null)
                    {
                        base64ProfilePic = "";
                    }
                    else
                    {
                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.profile_pic);
                    }
                }

                <div>
                    @if (base64ProfilePic == "")
                    {
                        <img class="imageClass" data-toggle="modal" data-target="#upload" style="cursor:pointer; border-radius:40px; width:70px; margin:0px 10px 0px 10px" src="~/Content/profilepic.jpg" alt="ProfilePic" />
                    }
                    else
                    {
                        <img class="imageClass" data-toggle="modal" data-target="#upload" style="cursor:pointer; border-radius:30px; width:50px; margin:0px 10px 0px 10px" alt="profilePic" src="@base64ProfilePic" />
                    }
                </div>
                <div>
                    <p style="margin:0px; font-size:13px; color:black"><span><b>@Model.full_name</b></span></p>
                    <p style="margin:0px; font-size:13px; color:black">@Model.employee_id</p>
                    <p style="margin:0px; font-size:10px; color:black">@Model.cta_position</p>
                </div>

                <input id="base64string" type="text" style="display:none" name="name" value="@base64ProfilePic" />
            </div>
            <div>
                <a  style="padding:0px 10px" href="@Url.Action("LogOut", "Main")" class="btn">
                    <img src="~/Content/power.png" />
                </a>
            </div>
        </div>
        
        

        <script>

            if ($('#base64string').val() != "" && $('#base64string').val() != null) {
                $('#UploatImage').attr("src", $('#base64string').val());
            }

        </script>

    </body>
    </html>


