@model SeHubPortal.ViewModel.HarpoonTimesheetViewModel
@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_LayoutHarpoon.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/1.1.9/js/libs/jquery-1.10.2.min.js"></script>

    @if (Model.client_info.employees_page.Value)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.fleet_page.Value)
    {
        <style>
            #VehicleClicked {
                display: block !important;
            }
        </style>
    }

    <style>
            .nav-link {
                width: 100%;
                font-size: 0.8vw;
                font-weight: bolder
            }

            #SettingsClicked {
                display: block !important;
            }

            .fc-disabled-day {
                background-color: #d2d2d2;
            }

            .fc-day {
                background-color: white;
            }

            .fc-toolbar h2 {
                color: #008ce3;
                font-style:italic;
                font-size:1.5vw;
                font-weight:bold
            }

            @*

            .fc-left {
                background-color: #008ce3;
                color: white;
                border-radius: 0.3vw
            }

            .fc-right {
                background-color: #008ce3;
                color: white;
                border-radius: 0.3vw
            }

                *@


            .fc-widget-header {
                background-color: #b1d2fc;
                color: black;
                font-size:0.6vw
            }

            #TimesheetClicked {
                display: block !important;
            }

            #TimesheetClicked {
                background-color: #f0f2f5;
                color: black;
                font-weight: 600;
            }

            #timesheetBtn {
                color: black;
                font-weight: 600;
            }


            body {
                background-color: #f0f2f5;
            }


            .example::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            .example {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }

            .selectedEmployee {
                display:flex;
                align-items:center;
                background-color: #797a7a;
                color: white;
                font-weight: bolder;
            }

            .empButton {
                border: 1px solid dimgray;
                border-radius: 4px;
                cursor: pointer;
                padding: 0.4vw;
                width: 100%;
                font-style: italic;
                box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.55);
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.55);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.55);
                display:flex;
                justify-content:space-between;
                align-items:center
            }

            .tab-content {
                height: 83vh;
                background-color: white;
                margin: 0px;
                padding: 0px;
                border-left: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                border-right: 1px solid #d1d1d1
            }

            .heading {
                margin: 10px 0px 0px 0px;
            }

        .heading-left {
            margin: 0px 5px 15px 15px;
            padding: 10px;
            background-color: white;
        }

            .nav-item {
                width: 10vw;
                font-size: 0.8vw;
                text-align: center;
            }

            .lineStile {
                width: 3.2vw;
                height: 1.7vw;
                text-align: center
            }

            .lineStileModal{
                text-align-last:center;
                text-align:center;
                margin:10px;
                font-weight:bold;
                font-style:italic;
                font-size:45px;
                width:40%
            }

            td {
                text-align: center;
                vertical-align: middle;
                text-align-last: center;
                font-size: 0.8vw
            }

            th {
                flex-direction: column;
            }

            .card {
                border: 2px solid #b1d2fc
            }

            .card-header, .modal-header {
                padding: 5px 15px;
                background-color: #b1d2fc;
                font-size: 1vw;
                font-style: italic;
                font-weight: bolder
            }

            .summaryLable {
                justify-content: center;
                width: 70%;
                display: flex;
                align-items: center;
                border: 2px solid dimgray;
                padding: 3px 0px;
                font-weight: bold;
                font-style: italic;
                font-size: 0.7vw;
                height: 2vw
            }

            .summaryValue {
                justify-content: center;
                width: 30%;
                display: flex;
                align-items: center;
                background-color: dimgray;
                color: white;
                font-size: 20px;
                padding: 3px 5px;
                font-weight: bold;
                font-style: italic;
                font-size: 1.1vw;
                height: 2vw
            }

            .summaryItem {
                margin-bottom: 1vw;
            }

            .optionDetails {
                font-size: 0.7vw;
                padding: 0px;
                display: flex;
                justify-content: space-between;
                font-style: italic;
                font-weight: bold
            }

            .dayName {
                font-size: 0.8vw;
                font-weight: bold
            }

            .shortDate {
                font-size: 0.5vw;
            }

            li > a {
                font-weight: bold
            }

            .spaceBetweenNav {
                flex-grow: 100
            }

            .timesheetBody {
                padding: 0.5vw 1.1vw
            }

            .locationNav {
                background-color: white;
                border: 1px solid #f0f2f5;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .locationDropdown {
                text-align-last: center;
                flex-grow:100;
                height: 1.2vw;
                font-size: 0.8vw
            }

            .timesheetMain {
                padding: 0.8vw 0;
                padding-right:0px;
                display: flex
            }

            .employeeList {
                flex: 2;
                margin: 0px 0px 0px 0.8vw;
                padding-right:0px
            }

            .timesheetEntry {
                padding-left: 0px;
                padding-right: 0px;
                flex: 10;
                margin: 0px 0px 0px 0.8vw;
                display:flex;
                flex-direction:column;
               
            }

        .WeekItem {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center
        }

        .WeekInput{
            display:flex; 
            justify-content:center; 
            align-items: center; 
            padding:35px; 
            color:white; 
            margin:0px 50px; 
            border-radius:10px; 
            border:10px solid dimgray;
        }

        .TopText{
            font-weight:bolder;
            font-style:italic;
            font-size:1vw;
            color:deepskyblue
        }

        .BottomText{
            font-weight:bolder;
            font-style:italic;
            font-size:0.6vw;
            color:dimgray
        }

    </style>

</head>
<body>
    <div class="row timesheetBody">
        <div class="col-md-12 col-sm-12 col-lg-12" style="padding:5px">
            <div class="row" style="margin:0px; padding:0px">
                <div class="col-md-12 col-sm-12 col-lg-12" style="display:flex; justify-content:space-between; align-items:center; background-color:white; padding:10px">
                    <div>
                        <a href="@Url.Action("Timesheet", "TimesheetHarpoon")">Timesheet </a>/ Dashboard
                    </div>



                    <div style="display:flex; justify-content:space-between; visibility:hidden">
                        <button class="btn" style="background-color:#b1d2fc; font-weight:bolder; padding:0px 20px; margin:0px 10px">
                            <
                        </button>
                        @using (Html.BeginForm("ChangeTimeSheetID", "TimeSheetHarpoon", FormMethod.Post))
                        {
                            @Html.DropDownListFor(m => m.Timesheet_id, Model.Timeshet_ids, new { @id = "timesheet_id", @onChange = "this.form.submit()", @type = "text", @class = "locationDropdown" })
                            @Html.HiddenFor(m => m.MatchedLocID)
                            @Html.HiddenFor(m => m.SelectedEmployeeId)
                        }
                        <button class="btn" style="background-color:#b1d2fc; font-weight:bolder; padding:0px 20px; margin:0px 10px">
                            >
                        </button>
                    </div>

                    <div style="display:flex; justify-content:space-around; align-items:center">
                        <label>Location</label>
                        <div style="width:0.5vw"></div>
                        <div>
                            @using (Html.BeginForm("ChangeLocTimeSheet", "TimeSheetHarpoon", FormMethod.Post))
                            {
                                <div>
                                    @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, "Select", new { @onChange = "this.form.submit()", @type = "text", @class = "locationDropdown" })
                                </div>
                                <noscript> <input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row timesheetMain">
                    <div class="employeeList">
                        <div class="row">
                            <div class="col-lg-12 example empListOverflow">
                                @foreach (var items in Model.employeepayrollList)
                                {
                                    if (Model.SelectedEmployeeId == items.employeeId)
                                    {
                                        <div class="empButton selectedEmployee">
                                            <label>
                                                @items.fullName
                                            </label>
                                            <div>
                                                <img class="btn" style="vertical-align:middle" src="~/Content/yes.png" alt="">
                                                <img style="width: 20px; height: 23px" src="~/Content/lock_Icon.png" alt="Submit" />
                                            </div>                                            
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="empButton" onclick="location.href='@Url.Action("Timesheet", "TimesheetHarpoon", new {locId = Model.MatchedLocID, employeeId = items.employeeId, timesheetID = Model.Timesheet_id})';">
                                            <label>
                                                @items.fullName
                                            </label>
                                            <div>
                                                <img class="btn" style="vertical-align:middle" src="~/Content/no.png" alt="">
                                                <img style="width:20px; height:23px" src="~/Content/Unlock_Icon.png" alt="Submit" />
                                            </div>                                            
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                    <div class="timesheetEntry" style="border:2px solid darkgray">
                        <div style="display:flex; margin-bottom:20px">
                            <div class="WeekItem">
                                <span class="TopText">Sunday</span>
                                <span class="BottomText">March 3</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Monday</span>
                                <span class="BottomText">March 4</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Tuesday</span>
                                <span class="BottomText">March 5</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Wednesday</span>
                                <span class="BottomText">March 6</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Thursday</span>
                                <span class="BottomText">March 7</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Friday</span>
                                <span class="BottomText">March 8</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Saturday</span>
                                <span class="BottomText">March 9</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div style="display:flex;">
                            <div class="WeekItem">
                                <span class="TopText">Sunday</span>
                                <span class="BottomText">March 10</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Monday</span>
                                <span class="BottomText">March 11</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Tuesday</span>
                                <span class="BottomText">March 12</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Wednesday</span>
                                <span class="BottomText">March 13</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Thursday</span>
                                <span class="BottomText">March 14</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Friday</span>
                                <span class="BottomText">March 15</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="WeekItem">
                                <span class="TopText">Saturday</span>
                                <span class="BottomText">March 16</span>
                                <div class="WeekInput">
                                    <img src="http://cdn.onlinewebfonts.com/svg/img_28512.png" style="width:40px" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div style="display:flex; padding:30px">
                            <div style="flex:1; margin:10px 20px">
                                <div class="card">
                                    <h5 class="card-header text-center">Virtual Pay Stub</h5>
                                    <div class="card-body" style="height:300px">

                                    </div>
                                </div>
                            </div>
                            <div style="flex:1; margin:10px 20px">
                                <div class="card">
                                    <h5 class="card-header text-center">YTD Earnings & Deductions</h5>
                                    <div class="card-body" style="height:300px">

                                    </div>
                                </div>
                            </div>
                            <div style="flex:1; margin:10px 20px">
                                <div class="card">
                                    <h5 class="card-header text-center">YTD Leave Tracking</h5>
                                    <div class="card-body" style="height:300px">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 2px 10px">
                    <h5 class="modal-title" style="color:black"><strong><span id="eventTitle">  </span></strong></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 text-center" style="display:flex; flex-direction:column; justify-content:space-evenly; align-items:center">
                            <input readonly class="lineStileModal" id="timeDuration" type="text" name="name" value="" />
                            <input id="regularValue" autocomplete="nope" class="lineStileModal" placeholder="Regular" type="number" name="name" value="" />
                            @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "Select", new { @id = "OptValue", @class = "lineStileModal", @style = "font-size:25px; height:70px" })
                            <input id="OtherValue" autocomplete="nope" class="lineStileModal" placeholder="Other" type="number" name="name" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:2px 10px">
                    <button type="button" style="padding:0px 20px" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button onclick="saveEvents()" type="button" style="padding:0px 20px" class="btn btn-success" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(window).resize(function () {
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
        });
    </script>

    <script>

        function saveEvents() {
            $('#TempReg').val($('#regularValue').val())
            $('#TempOpt').val($('#OptValue').val())
            $('#TempOptVal').val($('#OtherValue').val())

            if ($('#TempOpt').val() == '' || $('#TempOptVal').val() == '') {
                $('#TempOptVal').val('0')
            }


            $.ajax({
                url: '@Url.Action("SaveTimesheetRecord", "TimeSheetHarpoon")',
                data: { Re: $('#TempReg').val(), Opt: $('#TempOpt').val(), OptVal: $('#TempOptVal').val(), dat: $('#TempDate').val(), emp: $('#Auto_emp_id').val(), tid : $('#timesheet_id').val()},
                async: false,
                success: function (data) {
                    renderCalendar()
                }
            });

            updateSummary()
        }

        function updateSummary() {
            $.ajax({
                url: '@Url.Action("UpdateSummary", "TimeSheetHarpoon")',
                data: {emp: $('#Auto_emp_id').val(), timeSheei_id: $('#timesheet_id').val()},
                success: function (data) {
                    let details = JSON.parse(data)
                    $('#Re').html(details.Re_type)
                    $('#Br').html(details.Br_type)
                    $('#Nl').html(details.Nl_type)
                    $('#Ot').html(details.Ot_type)
                    $('#Pl').html(details.Pl_type)
                    $('#Si').html(details.Si_type)
                    $('#St').html(details.St_type)
                    $('#Va').html(details.Va_type)
                    if (details.total != '') {
                        $('#total').html(details.total)
                    }
                    else {
                        $('#total').html('0.00')
                    }
                    
                }
            });
        }


    </script>
    <script>

        function renderCalendar() {
            setTimeout(function () {
                GetEvents()
            }, 100);
        }

        function GetEvents() {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/TimeSheetHarpoon/GetAttendanceDates",
                data: { empid: $('#Auto_emp_id').val(), start: $('#timeSheet_start').val(), end: $('#timeSheet_end').val() },
                success: function (data) {
                    $.each(data, function (i, v) {

                        if (!(v.Value.startsWith('0') || v.Value.startsWith('1'))) {
                            events.push({
                                start: v.Key,
                                title: v.Value,
                                color: 'transparent', //#fcf2ae
                                imageurl: 'https://ctasehub.blob.core.windows.net/sehub-content/red_dollar.png',
                            });
                        }
                        else {
                            events.push({
                                start: v.Key,
                                title: v.Value,
                                color: 'transparent', //#fcf2ae
                                imageurl: '/Content/clockHarpoonn.png',
                            });
                        }

                        eventOrder: 'color,start'

                    })

                    GenerateCalender(events);
                    GenerateCalender1(events);
                },
                error: function (error) {

                }
            })
        }

        function GenerateCalender(events) {
            $('#calendar').fullCalendar('destroy')
            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: ''
                },
                height: 100,
                defaultView: 'basicWeek',
                defaultDate: $('#timeSheet_middle').val(),
                dayClick: function (date, jsEvent, view) {
                    if (moment(date.format("YYYY-MM-DD")).isBetween($('#timeSheet_start').val(), $('#timeSheet_end').val())) {
                        populatePop_up(date.format("YYYY-MM-DD"))
                    }                    
                },
                events: events,

                eventRender: function (event, eventElement) {
                    if (event.imageurl) {
                        eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl + "' style='padding-bottom:0.15vw; margin:0; width:0.6vw; object-fit:contain'>");
                    }
                },

                dayRender: function (date, cell) {
                    if (moment(date.format("YYYY-MM-DD")).isBetween($('#timeSheet_start').val(), $('#timeSheet_end').val())) {
                        if (events.filter(function (el) { return el.start == date.format("YYYY-MM-DD") && el.title.includes('Re') }).length > 0) {
                            cell.css("background", "#c9ffcd");
                        }
                        else {
                            cell.css("background", "#ffccc9");
                        }
                    }                    
                },

                eventClick: function (calEvent, jsEvent, view) {
                    populatePop_up(calEvent.start.format("YYYY-MM-DD"));
                }
            });
        }

        function GenerateCalender1(events) {
            $('#calendar1').fullCalendar('destroy')
            $('#calendar1').fullCalendar({
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                height: 100,
                defaultView: 'basicWeek',
                defaultDate: $('#timeSheet_middle').val(),
                dayClick: function (date, jsEvent, view) {
                    if (moment(date.format("YYYY-MM-DD")).isBetween($('#timeSheet_start').val(), $('#timeSheet_end').val())) {
                        populatePop_up(date.format("YYYY-MM-DD"))
                    }                    
                },
                events: events,

                eventRender: function (event, eventElement) {
                    if (event.imageurl) {
                        eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl + "' style='padding-bottom:0.15vw; margin:0; width:0.6vw; object-fit:contain'>");
                    }
                },

                dayRender: function (date, cell) {
                    if (moment(date.format("YYYY-MM-DD")).isBetween($('#timeSheet_start').val(), $('#timeSheet_end').val())) {
                        if (events.filter(function (el) { return el.start == date.format("YYYY-MM-DD") && el.title.includes('Re') }).length > 0) {
                            cell.css("background", "#c9ffcd");
                        }
                        else {
                            cell.css("background", "#ffccc9");
                        }
                    }                    
                },

                eventClick: function (calEvent, jsEvent, view) {
                    populatePop_up(calEvent.start.format("YYYY-MM-DD"));
                }
            });
        }



        function populatePop_up(dat) {

            $.ajax({
                url: '@Url.Action("GetDateDetails", "TimeSheetHarpoon")',
                data: { dat: dat, emp: $('#Auto_emp_id').val()},
                success: function (data) {
                    let details = JSON.parse(data)
                    $('#timeDuration').val(details.timeduration);
                    $('#eventTitle').html('Timesheet for date: ' + dat);
                    $('#myModal').modal('show');
                    $('#TempDate').val(dat);
                    $('#regularValue').val(details.reg)
                    $('#OptValue').val(details.opt)
                    $('#OtherValue').val(details.optVal) 
                }
            });
        }

    </script>

    <script>
        $(document).ready(function () {
            renderCalendar()
            updateSummary()
        });
    </script>

</body>
</html>

