@model SeHubPortal.ViewModel.FleetTVT
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/FleetTVT.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }



    @if (Model.SehubAccess.fleetTvt_fieldSurvey > 0)
    {
        <style>
            #FleetTVTFieldSurveyEditAccountLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTvt_EditAccount > 0)
    {
        <style>
            #FleetTVTEditAccountLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT_vier_or_edit_survey > 0)
    {
        <style>
            #ViewOrEditSurveyLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTvt_snapshot > 0)
    {
        <style>
            #FleetSnapShotLink {
                display: block !important;
            }
        </style>
    }


    <style>


        #FleetTVTClicked {
            display: block !important;
        }

        #FleetTVTDashboardLink {
            display: block !important;
        }


        .Trailer {
            display: none;
        }

        #FleetTVTDashboardClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: bold;
        }

        #FleetTVTClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: bold;
        }

        .fleetTVTBtn {
            color: black;
            font-weight: bold;
        }

        #FleetTVTDashboardLink {
            color: black;
            font-weight: bold;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding: 0px !important;
            margin: 0px !important;
        }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }
    </style>
</head>
<body style="overflow-y: hidden; ">
    <div class="row heading" style="padding:10px 20px 0px 15px">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="        background-color: white;
        height: 100%;
        margin-top: 0px;
    ">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "FleetTVT")">Fleet TVT</a></li>
                    <li class="breadcrumb-item " aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style=" margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size: 25px "></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <div class="row" style="padding-left: 15px">

        <div class="col-lg-2">
            <div class="row" style="padding-left: 15px">
                <div id="GenerateSurveyPrint" class="card shadow-lg " type="button" data-toggle="modal" data-target="#exampleModal" style="width:260px; height:360px">
                    <div class="card-body text-center" style="height:270px; padding-top:50px">
                        <img src="~/Content/checklist icon.png" style="margin-top:0px; margin-bottom:30px; width:130px;">
                        <div class="row" style="padding:0px 60px 0px 60px">
                            <h5><b>Survey Field Sheet</b></h5>
                        </div>
                        <span id="invisibleSpan" style="display:none">@Model.URL</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row" style="padding-left: 15px">
                <div id="UnitPrint" class="card shadow-lg " type="button" data-toggle="modal" data-target="#exampleModal" style="width:260px; height:360px">
                    <div class="card-body text-center" style="height:270px; padding-top:50px">
                        <img src="~/Content/checklist icon.png" style="margin-top:0px; margin-bottom:30px; width:130px;">
                        <div class="row" style="padding:0px 60px 0px 60px">
                            <h5><b>New Unit Field Sheet</b></h5>
                        </div>
                        <span id="invisibleSpanUnit" style="display:none">@Model.UnitURI</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="padding-right:5px;">
            <div class="card shadow-lg " data-toggle="modal" data-target="#InspectionChecklist" style="height:735px">
                <div class="card-header text-center" style="padding: 6px 6px 0px 6px">
                    <h5>Equipment Type</h5>
                </div>
                <div class="card-body text-center" style="padding:5px; height:270px; ">
                    <div class="row" style="padding-left:10px; margin-top:10px">
                        <div class="col-lg-4 text-left">
                            <label>Type </label>
                        </div>
                        <div class="col-lg-8 text-right" style="padding-right:20px;">
                            @{
                                List
                                <SelectListItem>
                                listItems = new List
                                <SelectListItem>
                                ();

                                listItems.Add(new SelectListItem
                                {
                                    Text = "Tractor",
                                    Value = "Tractor"
                                });

                                listItems.Add(new SelectListItem
                                {
                                    Text = "Trailer",
                                    Value = "Trailer"
                                });
                            }
                            @Html.DropDownListFor(m => m.Type, listItems, new { @id = "Type", @class = "text-center", @style = "text-align-last: center; width:110px; height:30px; margin-left:0px", @required = "required", @onchange = "jsFunction(this.value);" })

                        </div>
                    </div>
                    <div class="row" style="padding-left:10px; margin-top:10px">
                        <div class="col-lg-4">
                            <label>Configuration </label>
                        </div>
                        <div class="col-lg-8 text-right" style="padding-right:20px;">
                            @Html.DropDownListFor(m => m.Configuration, Model.ConfigurationsListTractor, new { @id = "Configuration", @class = "text Tractor", @style = "margin-left: 27px; text-align-last: center; width:110px; height:30px", @required = "required", @onchange = "jsFunction(this.value);" })
                            @Html.DropDownListFor(m => m.Configuration, Model.ConfigurationsListTrailer, new { @id = "Configuration", @class = "text Trailer", @style = "margin-left: 27px; text-align-last: center; width:110px; height:30px", @required = "required", @onchange = "jsFunction(this.value);" })

                        </div>
                    </div>

                    <hr style="        height: 2px;
        margin: 10px 10px 0px 10px;
        border: none;
        background-color: lightgray;">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" style="margin-top:5px">
                                <div class="col-lg-12 text-center">
                                    <img id="EquipmentType" src="~/Content/Tractor_4A-12T.png" style="padding:10px; width:229px; height:510px; " alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style="height:2px; margin:5px 10px 0px 10px; border:none; background-color:lightgray;">

                    <div class="row" style="margin-top:15px; margin-left:0px">
                        <div class="col-lg-12 text-left">
                            <button class="btn btn-secondary" style="font-weight:bold; padding:0px 10px 0px 10px; margin-right:0px">+</button>
                            <label style="margin-left:2px; font-size:13px; padding-top:5px">Request New Configuration</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#AddDocuments" style="width:790px; height:360px">
                        <div class="card-header text-center" style="padding:6px 6px 0px 6px">
                            <h5>Action List</h5>
                        </div>
                        <div class="card-body text-center" style="height:270px">
                            <table class="table table-striped table-bordered">
                                <thead style="background-color:gray; color:white">
                                    <tr>
                                        <th style="font-size:10px; padding:0px" scope="col">Customer</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Unit#</th>
                                        <th style="font-size:10px; padding:0px" scope="col"># of tires</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Last survey</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Day overdue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-lg-12">
                    <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#AddDocuments" style="width:790px; height:360px">
                        <div class="card-header text-center" style="padding:6px 15px 0px 15px">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8 text-center">
                                    <h5>Enrolled Customers</h5>
                                </div>
                                <div class="col-lg-2 text-right">

                                    @if (Model.SehubAccess.fleetTvt_dashboard >= 3)
                                    {
                                        <input data-toggle="modal" data-target="#AddCust" readonly type="text" style="float:right; font-weight:bold; padding:0px; width:32px; height:26px" class="btn btn-secondary" name="name" value="+" />
                                    }

                                </div>
                            </div>


                        </div>
                        <div class="card-body text-center" style="height:270px">

                            <div class="row" style="padding-left:15px; padding-right:15px">
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color:gray; color:white">
                                        <tr>
                                            <th style="font-size:10px; padding:0px" scope="col">Name</th>
                                            <th style="font-size:10px; padding:0px" scope="col">Number</th>
                                            <th style="font-size:10px; padding:0px" scope="col">Size</th>
                                            <th style="font-size:10px; padding:0px" scope="col">Report</th>
                                            <th style="font-size:10px; padding:0px" scope="col">Address</th>
                                            <th style="font-size:10px; padding:0px" scope="col">Frequency</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.customer_table)
                                        {
                                            <tr>
                                                <td style="font-size:11px">@item.customer_name</td>
                                                <td style="font-size:11px">@item.customer_number</td>
                                                <td style="font-size:11px">@item.fleet_size</td>
                                                <td style="font-size:11px">@item.reporting_contact</td>
                                                <td style="font-size:11px">@item.reporting_email</td>
                                                <td style="font-size:11px">@item.reporting_frequency</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="height:980px; width:900px">
                <div class="modal-body" style="padding:0px">
                    <div>
                        <iframe id="modal_content" src="" style="width:100%;height:980px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddCust" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">

            @using (Html.BeginForm("AddCustomer", "FleetTVT", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:3px 3px 0px 15px">
                        <h5>Customer Addition Request</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                Customer #
                            </div>
                            <div class="col-lg-7">
                                @Html.DropDownListFor(m => m.AddCustomer.custNum, Model.CustList, "Select Customer", new {@id = "custNum", @onchange="CheckRequiredFeilds()", @style = "width:100%; height:30px", @required = "required" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Reporting Contact
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.reportingContact, new { htmlAttributes = new {@id = "reportingContact",  @onkeydown="CheckRequiredFeilds()", @style = "width:100%", @required = "required" } })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Reporting Email
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.reportingEmail, new { htmlAttributes = new { @id = "reportingEmail", @onkeydown="CheckRequiredFeilds()", @style = "width:100%", @required = "required" } })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Mileage Required
                            </div>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(m => m.AddCustomer.mileageRequired, new { @style = "width:25px; height:25px", @required = "required"  })
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Inspection Date Expired
                            </div>
                            <div class="col-lg-7">
                                @Html.CheckBoxFor(m => m.AddCustomer.dateExpired, new { @style = "width:25px; height:25px", @required = "required"  })
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Pull Point - Steer
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.pullPointSteer, new { htmlAttributes = new { @id = "pullPointSteer", @onkeydown="CheckRequiredFeilds()", @style = "width:60px", @required = "required" } })  / 32nds
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Pull Point - Drive
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.pullPointDrive, new { htmlAttributes = new {  @id = "pullPointDrive", @onkeydown="CheckRequiredFeilds()", @style = "width:60px", @required = "required" } })  / 32nds
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Pull Point - Trailer
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.pullPointTrailer, new { htmlAttributes = new { @id = "pullPointTrailer", @onkeydown ="CheckRequiredFeilds()", @style = "width:60px", @required = "required" } })  / 32nds
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button data-dismiss="modal" class="btn btn-danger" style="padding:3px 20px 3px 20px">Cancel</button>
                        <button id="SubmitBtn" type="submit" class="btn btn-success" style="display:none; padding:3px 20px 3px 20px">Submit</button>
                    </div>
                </div>
            }


        </div>
    </div>



    <script>

        function CheckRequiredFeilds() {
            if ($('#custNum').val() != "" && $('#reportingContact').val() != "" && $('#reportingEmail').val() != "" && $('#pullPointSteer').val() != "" && $('#pullPointDrive').val() != "" && $('#pullPointTrailer').val() != "") {
                $('#SubmitBtn').css("display", "block")
            }
            else {
                $('#SubmitBtn').css("display", "none")
            }
        }

        function pullUnitInfo(unitNum) {

            $('#mileage').text("")
            $('#surveyLocation').text("")

            $.ajax({
                url: '@Url.Action("pullUnitLatestSurvey", "FleetTVT")',
                data: { value: unitNum },
                type: 'POST',
                success: function (data) {
                    var UnitDetails = JSON.parse(data);
                    //alert(UnitDetails.mileage + " " + UnitDetails.survey_location);
                    $('#mileage').text(UnitDetails.mileage)
                    $('#surveyLocation').text(UnitDetails.survey_location)
                }

            });
        }

        function InitiateStep3(value1) {

            $.ajax({
                url: '@Url.Action("PullUnits", "FleetTVT")',
                data: { value: value1 },
                type: "POST",
                success: function (data) {
                    var s = '<option value="-1">Select Unit Number</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                        console.log('<option value="' + data[i].value + '">' + data[i].text + '</option>');
                    }
                    $("#UnitsDropdown").html(s);
                }
            });

            $("#UnitsDropdown").val("Please Select Customer")

            $("#Step3").css('visibility', 'visible');
        }

        $('#GenerateSurveyPrint').click(function () {
            $('#modal_content').attr('src', $('#invisibleSpan').html());
        });

        $('#UnitPrint').click(function () {
            $('#modal_content').attr('src', $('#invisibleSpanUnit').html());
        });



        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });

        $("#Type").change(function () {
            var Type = document.getElementById("Type").value;

            if (Type == "Tractor") {
                $('.Trailer').css("display", "none");
                $('.Tractor').css("display", "block");
            }
            if (Type == "Trailer") {
                $('.Tractor').css("display", "none");
                $('.Trailer').css("display", "block");
            }
        });

        function jsFunction(value) {
            var Type = document.getElementById("Type").value;
            var ConfigurationTractor = $('.Tractor').val();
            var ConfigurationTrailer = $('.Trailer').val();

            if (Type == "Tractor" && ConfigurationTractor == "2A/4T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_2A-4T .png";
            }
            if (Type == "Tractor" && ConfigurationTractor == "2A/6T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_2A-6T.png";
            }
            if (Type == "Tractor" && ConfigurationTractor == "3A/10T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_3A-10T.png";
            }
            if (Type == "Tractor" && ConfigurationTractor == "3A/6T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_3A-6T.png";
            }
            if (Type == "Tractor" && ConfigurationTractor == "4A/12T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_4A-12T.png";
            }
            if (Type == "Tractor" && ConfigurationTractor == "4A/8T") {
                document.getElementById("EquipmentType").src = "/Content/Tractor_4A-8T.png";
            }


            if (Type == "Trailer" && ConfigurationTrailer == "1A/2T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_1A-2T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "1A/4T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_1A-4T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "2A/4T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_2A-4T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "2A/8T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_2A-8T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "3A/12T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_3A-12T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "3A/6T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_3A-6T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "4A/16T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_4A-16T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "4A/8T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_4A-8T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "5A/10T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_5A-10T.png";
            }
            if (Type == "Trailer" && ConfigurationTrailer == "5A/20T") {
                document.getElementById("EquipmentType").src = "/Content/Trailer_5A-20T.png";
            }



        }

    </script>

</body>
</html>









