<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Harpoonn.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>

        body {
            overflow-x: hidden !important;
            overflow-y: hidden;
        }

        #upload {
            padding-left: 10%
        }

        .topbar{
            width:100%; background-color:white; display:flex; justify-content:space-between;
        }

        .harpoonLogoContainer{
            flex:1; display:flex; justify-content:center; align-items:center; padding:0.5vw
        }

        .harpoonLogo{
            width:10vw;
        }

        .topbarMenuItemsContainer{
            flex:5; display:flex; align-items:center; padding:0.5vw
        }

        .maenuItemContainer{
            display:none; cursor:pointer
        }

        .maenuItem{
            margin:0vw 0.5vw; display:flex; flex-direction:column; justify-content:center; align-items:center; padding:0.5vw; border-radius:0.3vw
        }

        .maenuItemLabel{
            margin:0; font-size:1vw; cursor:pointer
        }

        .profileBlockContainer{
            flex:1.2; display:flex; justify-content:space-between; align-items:center;
        }

    </style>
</head>
<body>

    <div class="topbar">
        <div class="harpoonLogoContainer">
            <img class="harpoonLogo" src="~/Content/HarpoonLongg.png"/>
        </div>
        <div class="topbarMenuItemsContainer">
            <div class="maenuItemContainer" id="ManagementClicked" onclick="location.href='@Url.Action("TimeClockEvents", "ManagementHarpoon")'">
                <div class="maenuItem">
                    <img style="width:1.5vw" src="~/Content/employees_harpoon.png" alt="Alternate Text" />
                    <label class="maenuItemLabel" id="managementBtn">
                        Employees
                    </label>
                </div>
            </div>
            <div class="maenuItemContainer" id="VehicleClicked" onclick="location.href='@Url.Action("Dashboard", "VehicleHarpoon")'">
                <div class="maenuItem">
                    <img style="width: 1.5vw" src="~/Content/vehicles_harpoon.png" alt="Alternate Text" />
                    <label class="maenuItemLabel" id="vehicleBtn">
                        Fleet
                    </label>
                </div>
            </div>

            <div class="maenuItemContainer" id="SettingsClicked" onclick="location.href='@Url.Action("System", "SettingsHarpoon")'">
                <div class="maenuItem">
                    <img style="width:1.3vw" src="~/Content/settings.png" alt="Alternate Text" />
                    <label class="maenuItemLabel" id="settingsBtn">
                        Settings
                    </label>
                </div>
            </div>

            <div class="maenuItemContainer" style="display:block" id="TimesheetClicked" onclick="location.href='@Url.Action("Timesheet", "TimesheetHarpoon")'">
                <div class="maenuItem">
                    <img style="width: 1.4vw" src="~/Content/payroll.png" alt="Alternate Text" />
                    <label class="maenuItemLabel" id="timesheetBtn">
                        Timesheet
                    </label>
                </div>
            </div>

        </div>
        <div class="profileBlockContainer">
            <div id="profileBlock">

            </div>
            <div style="display:flex; flex-direction:column">
                <a style="float:right" href="@Url.Action("HarpoonLogin", "Login")" class="btn">
                    <img style="width: 1.4vw" src="~/Content/power.png" />
                </a>
                <a style="float:right" data-toggle="modal" data-target="#ResetProfilePassword" class="btn">
                    <img style="width: 1.4vw" src="~/Content/profile.png" />
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:300px">

                @using (Html.BeginForm("UploadProfileImage", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header text-center" style="padding:3px 3px 0px 3px">
                        <h5 style="        margin-left: auto;
        margin-right: auto
">Upload Profile Picture</h5>
                    </div>
                    <div class="modal-body text-center">
                        <input style="display:none" name="EmployeeImage" type='file' id="imgInp" />
                        <input for="imgInp" type="text" readonly style="margin-bottom:15px; height:23px; width:100px;" value="Upload" class="btn btn-primary" onclick="document.getElementById('imgInp').click()" />
                        <img id="UploatImage" style="border-radius:100%; width:200px" src="~/Content/profilepic.jpg" alt="ProfilePic" />

                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button type="button" class="btn btn-danger" style="padding:2px 22px 2px 22px" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" style="padding:2px 30px 2px 30px">Save</button>
                    </div>
                }

            </div>
        </div>
    </div>



    <div class="modal fade " id="ResetProfilePassword" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="editProfile" role="document">

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
            $.ajax({
                url: '@Url.Action("ProfileBlock", "SettingsHarpoon")',
                success: function (data) {
                    $('#profileBlock').html(data)
                }
            });
    </script>

    <script>
            $.ajax({
                url: '@Url.Action("EditProfile", "Login")',
                success: function (data) {
                    $('#editProfile').html(data)
                }
            });
    </script>

    <script>


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#UploatImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });


    </script>

    <div id="MainDiv">
        @RenderBody()
    </div>
    <script>
        $.ajax({
            url: '@Url.Action("ProfileBlock", "SettingsHarpoon")',
            success: function (data) {
                $('#profileBlock').html(data)
            }
        });
    </script>
    @Scripts.Render("~/bundles/jquery")   @*I commented this line because datatables in the fuel log page is not working properly. please uncomment if you face any issue with other pages*@
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
