@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/sidebar/sidebar.css")
@Scripts.Render("~/Content/sidebar/sidebar.js")

<style>
    #sidebar {
        background-color: white;
        color: black
    }

        #sidebar ul li a {
            color: black;
            border-bottom: 2px solid #f0f2f5;
            border-right: 1px solid #f0f2f5;
        }

        #sidebar ul li.active > a {
            color: black;
            border-bottom: 2px solid #f0f2f5;
        }
</style>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">

        <ul class="list-unstyled components mb-5">
            <li class="active" style="display:none" id="DashboardLink">
                <a id="DashboardClicked" href="@Url.Action("Dashboard", "Library", new { values = ""})">Dashboard</a>
            </li>

            <li class="active" style="display:none" id="BranchSharedDriveLink">
                <a id="BranchSharedDriveClicked" href="@Url.Action("Branch_Shared_drive", "Library", new { id = "",barcode="" })">Branch Shared Drive</a>
            </li>

            <li class="active" style="display:none" id="CompanyDocumentsLink">
                <a id="CompanyDocumentsClicked" href="@Url.Action("Company_Documents", "Library", new { values = ""})">Company Documents</a>
            </li>

            <li class="active" style="display:block" id="CustomerDocumentsLink">
                <a id="CustomerDocumentsClicked" href="@Url.Action("Customer_Documents", "Library", new { values = ""})">Customer Documents</a>
            </li>

            <li class="active" style="display:none" id="ManagementLink">
                <a id="ManagementClicked" href="@Url.Action("Management", "Library")">Management Library</a>
            </li>

            <li class="active" style="display:none" id="SupplierDocumentsLink">
                <a id="SupplierDocumentsClicked" href="@Url.Action("Supplier_Documents", "Library", new { id = "",barcode="" })">Supplier Documents</a>
            </li>

        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div id="LibraryArea">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/Content/sidebar/sidebar.js"></script>
@RenderSection("scripts", required: false)




