
@{
    ViewBag.Title = "_Settings_Harpoon";
    Layout = "~/Views/Shared/_LayoutHarpoon.cshtml";
}

@Styles.Render("~/Content/sidebar/sidebar.css")
@Scripts.Render("~/Content/sidebar/sidebar.js")

<style>
    #sidebar {
        background-color: white;
        color: black;
    }
    
    #sidebar ul li a {
        color: black;
        border-bottom: 2px solid #f0f2f5;
        border-right: 1px solid #f0f2f5;
    }

    #sidebar ul li.active > a {
        color: black;
        border-bottom: 2px solid #f0f2f5;
    }
</style>
<div class="d-flex">
    <nav id="sidebar" >
        <ul class="list-unstyled">
            <li class="active" style="display:none;" id="TimeClockEventsLink">
                <a id="TimeClockEventsClicked" href="@Url.Action("TimeClockEvents", "ManagementHarpoon")">Attendance</a>
            </li>
            <li class="active" style="display:none" id="AttendanceLink">
                <a id="AttendanceClicked" href="@Url.Action("Attendance", "ManagementHarpoon", new { locId = "",employeeId=""})">Attendance History</a>
            </li>
            <li class="active" style="display:none" id="SettingsLink">
                <a id="DashboardClicked" href="@Url.Action("Employees", "SettingsHarpoon")">My Staff</a>
            </li>
            <li class="active" style="display:none" id="EmployeeFilesLink">
                <a id="EmployeeFilesClicked" href="@Url.Action("EmployeeFolder", "ManagementHarpoon", new { values=""})">Employee Folder</a>
            </li>
            <li class="active" style="display:block" id="AttendanceReportLink">
                <a id="AttendanceReportClicked" href="@Url.Action("AttendanceReport", "ManagementHarpoon", new { showJob = false })">Attendance Report</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div id="LibraryArea">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/Content/sidebar/sidebar.js"></script>

