@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/sidebar/sidebar.css")
@Scripts.Render("~/Content/sidebar/sidebar.js")
<style>
        #sidebar {
            background-color: white;
            color: black
        }

        #sidebar ul li a {
            color: black;
            border-bottom: 2px solid #f0f2f5;
            border-right: 1px solid #f0f2f5;
        }

        #sidebar ul li.active > a {
            color: black;
            border-bottom: 2px solid #f0f2f5;
        }
</style>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="border-color:black;border-width:10px;">
        @*<div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>*@

        <ul class="list-unstyled components mb-5">
            <li class="active" style="display:none" id="DashboardLink">
                <a id="DashboardClicked" href="@Url.Action("Dashboard", "Tools", new { values = ""})">Dashboard</a>
            </li>
            @*<li>
            <a id="EditOrderClicked" href="@Url.Action("EditOrder", "TreadTracker")"><span class="fa fa-user mr-3"></span> Edit Order</a>
        </li>*@
            <li class="active" style="display:none" id="FuelLogLink">
                <a id="FuelClicked" href="@Url.Action("FuelLogMainPage", "Tools", new { VIN="" })">Fuel Reporting</a>
            </li>
            <li class="active" style="display:none" id="CRMLink">
                <a id="CRMClicked" href="@Url.Action("CRM", "Tools", new { CustId=""})">CRM</a>
            </li>
            <li class="active" style="display:none" id="ExpnseClaimLink">
                <a id="ExpnseClaimClicked" href="@Url.Action("ExpnseClaim", "Tools")">ExpnseClaim</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div id="ToolsArea">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/Content/sidebar/sidebar.js"></script>
@RenderSection("scripts", required: false)