@model SeHubPortal.ViewModel.TreadTrackerDashboard
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_TreadTrackerLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.treadTracker_failure_analysis > 0)
    {
        <style>
            #FailureAnalysisLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker_production_report > 0)
    {
        <style>
            #ProductionReportLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker_customers > 0)
    {
        <style>
            #CustomersLink {
                display: block !important;
            }
        </style>
    }


    <style>

        .breadCrumb{
        background-color:white;
    }

        #DashboardLink {
            display: block !important;
        }

        #treadTrackereClicked {
            display: block !important;
        }

        #treadTrackereClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #treadTrackerButton {
            color: black;
            font-weight: 600;
        }

        #DashboardLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .NewOrder {
            padding-top: 14%;
            padding-left: 6%;
        }

        #CustomerData {
            padding-right: 12%;
        }



        .editEmployeeModal {
            padding-right: 38%;
        }

        #editEmployeeModalOpen{
            padding-left:6%
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body class="body">
    <div class="row heading dontShowInPrint">
        <div class="col">
            <nav aria-label="breadcrumb breadCrumb">
                <ol class="breadcrumb" style="background-color:white;height:100%;margin-top:0px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "TreadTracker")">TreadTracker</a></li>
                    <li class="breadcrumb-item " aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <div class="row dontShowInPrint" style="padding-left: 15px">

        <div class="col-lg-2">
            <div class="row" style="padding-left: 15px">
                <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#exampleModal" style="width: 260px; height: 360px">
                    <div class="card-body text-center" style="height:270px; padding-top:65px">
                        <img src="~/Content/new_document.png" style="margin-top: 0px; margin-bottom: 37px; width: 155px;">
                        <h5><b>New Work Order</b></h5>
                    </div>
                </div>
            </div>

            @if (Model.SehubAccess.treadTrackerDashboard >= 3)
            {
                <div class="row" style="margin-top: 15px;padding-left: 15px">
                    <div id="fieldSheet" class="card shadow-lg " type="button" data-toggle="modal" data-target="#Document" style="width: 260px; height: 360px">
                        <div class="card-body text-center" style="height:270px; padding-top:65px">
                            <img src="~/Content/checklist icon.png" style="margin-top:0px; margin-bottom:37px; width:120px;">
                            <div class="row" style="padding:0px 50px 0px 50px">
                                <h5><b>Tread Tracker Field Sheet</b></h5>
                                <span id="invisibleSpan" style="display:none">@Model.FieldSheetURL</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-lg-2">
            <div class="row" style="padding-left: 15px">
                <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#OpenOrder" style="width:260px; height:360px">
                    <div class="card-body text-center" style="height:270px; padding-top:65px">
                        <img src="~/Content/edit_document.png" style="margin-top:0px; margin-bottom:37px; width:155px;">
                        <h5><b>View/Edit Work Order</b></h5>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px; padding-left: 15px">
                <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#CasingSearch" style="width:260px; height:360px">
                    <div class="card-body text-center" style="height:270px; padding-top:65px">
                        <img src="~/Content/SearchCasing.png" style="margin-top:0px; margin-bottom:5px; width:200px;">
                        <h5><b>Casing Search</b></h5>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.SehubAccess.treadTrackerDashboard >= 3)
        {
            <div class="col-lg-2" style="padding:0px 0px 0px 5px; ">
                <div class="card shadow-lg " data-toggle="modal" data-target="#InspectionChecklist" style="width:100%; height:735px">
                    <div class="card-header text-center" style="padding: 6px 6px 0px 6px">
                        <h5>Casing Inventory</h5>
                    </div>
                    <div class="card-body text-center" style="padding:10px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped table-bordered" style="margin-bottom:0px">
                                    <thead style="background-color:gray; color:white">
                                        <tr>
                                            <th style="font-size:10px; width:40%; padding:0px" scope="col">Size</th>
                                            <th style="font-size:10px; padding:0px; width:20%" scope="col"> Owned</th>
                                            <th style="font-size:10px; padding:0px; width:20%" scope="col"> Credit</th>
                                            <th style="font-size:10px; padding:0px; width:20%" scope="col"> Customer</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="example" style="height:655px; overflow-y:auto">
                                    <table class="table table-striped table-bordered">

                                        <tbody>

                                            @foreach (var item in Model.CasingInventory)
                                            {

                                                <tr>
                                                    <th style="text-align:left; font-size:13px; padding:5px; width:40%" scope="row">@item.casing_size</th>
                                                    <td style="font-size:13px; padding:5px; width:20%; @(item.total_code_11 == 0 ? "":"font-weight:bold")">@item.total_code_11</td>
                                                    <td style="font-size:13px; padding:5px; width:20%; @(item.total_code_6 == 0 ? "":"font-weight:bold")">@item.total_code_6</td>
                                                    @{
                                                        int cust = Convert.ToInt32(item.total_code_10) + Convert.ToInt32(item.total_code_10);
                                                        <td style="font-size:13px; padding:5px; width:20%; @(cust == 0 ? "":"font-weight:bold")">@cust</td>
                                                    }
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#AddDocuments" style="width:790px; height:360px">
                            <div class="card-header text-center" style="padding:6px 6px 0px 6px">
                                <h5>Production Priority List</h5>
                            </div>
                            <div class="card-body text-center" style="height:270px">
                                <div class="row example" style="max-height:285px; overflow-y:auto">
                                    <div class="col-md-12">
                                        <table id="firstTable" class="table table-striped table-bordered" style="width:100%; margin-top:0px">
                                            <thead style="background-color:gray; color:white">
                                                <tr>
                                                    <th style="display:none; text-align:center; font-size:10px; padding:0px; width:5%" scope="col">Production ID</th>
                                                    <th style="display:none; text-align:center; font-size:10px; padding:0px; width:8%" scope="col">Production Date</th>
                                                    <th style="display:none; text-align:center; font-size:10px; padding:0px" scope="col">Priority</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:5%" scope="col">Quantity</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:8%" scope="col">Part Num</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:10%" scope="col">Size</th>
                                                    <th style="display:none; text-align:center; font-size:10px; padding:0px; width:5%" scope="col">Virgin</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:10%" scope="col">Tread</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:8%" scope="col">Complete</th>
                                                    <th style="text-align:center; font-size:10px; padding:0px; width:28%" scope="col">Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody id="firstTableBody" style="background-color:white; font-weight:bold">
                                                @foreach (var productionItem in Model.productionSchedule)
                                                {
                                                    if (productionItem.quantity != productionItem.quantity_complete)
                                                    {
                                                        <tr class="box @productionItem.production_id">
                                                            <td style="display:none; width:5%;text-align: center;font-size: 15px;padding: 0px;vertical-align: middle" scope="col">
                                                                @productionItem.production_id
                                                            </td>
                                                            <td style="display:none; width:8%;text-align:center; font-size:15px; padding:0px; vertical-align:middle" scope="col">
                                                                @if (productionItem.production_date.HasValue)
                                                                {
                                                                    @productionItem.production_date.Value.ToString("yyyy-MMM-dd")
                                                                }
                                                            </td>
                                                            <td style="        display: none;
        text-align: center;
        font-size: 15px;
        padding: 0px;
        vertical-align: middle" scope="col">
                                                                @productionItem.priority
                                                            </td>
                                                            <td style="        width: 5%;
        text-align: center;
        font-size: 15px;
        padding: 0px;
        vertical-align: middle" scope="col">
                                                                @productionItem.quantity
                                                            </td>
                                                            <td style="width:8%;text-align: center;font-size: 15px;padding: 0px;vertical-align: middle" scope="col">
                                                                @productionItem.part_no
                                                            </td>

                                                            <td style="width:10%;text-align:center; font-size:15px; padding:0px; vertical-align:middle" scope="col">
                                                                @productionItem.size
                                                            </td>
                                                            <td style="display:none; width:5%;text-align: center;font-size: 15px;padding: 3px;vertical-align: middle" scope="col">
                                                                @if (productionItem.virgin != null)
                                                                {
                                                                    if (productionItem.virgin == "1")
                                                                    {
                                                                        <input type="checkbox" onclick="return false" checked readonly name="name" value="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" onclick="return false" readonly name="name" value="" />
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>N/A</span>
                                                                }
                                                            </td>
                                                            <td style="        width: 10%;
        text-align: center;
        font-size: 15px;
        padding: 3px;
        vertical-align: middle" scope="col">
                                                                @productionItem.tread
                                                            </td>
                                                            <td style="width: 8%;text-align: center;font-size: 15px;padding: 3px;vertical-align: middle" scope="col">
                                                                @productionItem.quantity_complete
                                                            </td>
                                                            <td style="width:28%; text-align:center; font-size:15px; padding:3px; vertical-align:middle" scope="col">
                                                                @{
                                                                    string percent1 = "0%";
                                                                    if (productionItem.quantity_complete.HasValue && productionItem.quantity.HasValue)
                                                                    {
                                                                        percent1 = (productionItem.quantity_complete.Value * 100 / productionItem.quantity.Value).ToString() + "%";
                                                                    }

                                                                }
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @percent1" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@percent1</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-lg-12">
                        <div class="card shadow-lg " type="button" data-toggle="modal" data-target="#AddDocuments" style="width:790px; height:360px">
                            <div class="card-header text-center" style="padding:6px 6px 0px 6px">
                                <div class="row" style="padding-right:15px; padding-left:15px">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <h5>Enrolled Customers</h5>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <input data-target="#AddCust" data-toggle="modal" type="text" readonly style="font-weight:bold; padding:0px; width:32px; height:26px" class="btn btn-secondary" name="name" value="+" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center" style="height:270px">

                                <div class="row" style="padding-left:15px; padding-right:15px">

                                    <table class="table table-striped table-bordered" style="margin-bottom:0px">
                                        <thead style="background-color:gray; color:white">
                                            <tr>
                                                <th style="font-size:10px; padding:0px; width:30%" scope="col">Name</th>
                                                <th style="font-size:10px; padding:0px; width:10%" scope="col">Account ID</th>
                                                <th style="font-size:10px; padding:0px; width:20%" scope="col">Contact</th>
                                                <th style="font-size:10px; padding:0px; width:40%" scope="col">Email</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="example" style="height:270px; overflow-y:auto; width:100%">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <tbody style="">
                                                @foreach (var item in Model.CustList)
                                                {

                                                    <tr>
                                                        <th style="text-align: left;font-size: 13px;padding: 5px; width:30%" scope="row">
                                                            @if (item.CustomerName.Length > 24)
                                                            {
                                                                @item.CustomerName.Substring(0, 24)
                                                            }
                                                            else
                                                            {
                                                                @item.CustomerName
                                                            }
                                                        </th>
                                                        <td style="font-size:13px; padding:5px; width:10%">@item.CustomerCode</td>
                                                        <td style="font-size:13px; padding:5px; width:20%"></td>
                                                        <td style="font-size:13px; padding:5px; width:40%"></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- Modal -->
    <div class="modal fade NewOrder" data-backdrop="static" data-keyboard="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="padding:3px 0px 0px 0px">
                    <h5 style="margin-left:auto; margin-right:auto">New Work Order</h5>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:15px 0px 15px 15px">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row" style="color:dimgray">
                                        <b>Work Order #</b>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div style="padding:0px; border:1px solid black; border-radius:3px">
                                        <img style="width:20px; margin:3px; visibility:hidden; float:left" src="~/Content/yes.png" alt="Alternate Text" />
                                        <input name="somename"
                                               autofocus
                                               id="NewOrderNumber"
                                               oninput="checkMaxAndBarcode(this.value)"
                                               onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                               type="number"
                                               maxlength="6"
                                               style="font-weight:bold; margin-left:auto; margin-right:auto; width:170px; outline:none; border:none; text-align:center" />
                                        <img style="width:20px; margin:3px; display:none; float:right" id="ExistsIcon" src="~/Content/yes.png" alt="Alternate Text" />
                                        <img style="width:20px; margin:3px; display:none; float:right" id="DoesntExixtIcon" src="~/Content/no.png" alt="Alternate Text" />
                                    </div>
                                </div>
                                <script>
                                    function checkMaxAndBarcode(val) {
                                        if (val.length == 6) {
                                            validateWorkOrder(val, 'n')
                                        }
                                        else if (val.length > 6) {
                                            $('#NewOrderNumber').val(val.slice(0, 6));
                                        }
                                        else {
                                            $('#ExistsIcon').css("display", "none");
                                            $('#DoesntExixtIcon').css("display", "none");
                                        }
                                    }
                                </script>
                            </div>
                            <div class="row" style="margin-top:15px">
                                <div class="col-lg-4">
                                    <div class="row" style="color:dimgray">
                                        <b>Customer</b>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    @Html.DropDownListFor(m => m.Customer, Model.Customers, new { @style = "font-weight:bold; outline:none; width:100%; height:27px", @id = "customersDropDown", @onchange = "CustomerChange(this.value)" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="padding:5px;">
                    <div class="row" style="padding:0; margin:0; display:flex; justify-content:space-between">
                        <div></div>
                        <div style="display:flex">
                            <button type="button" id="NewOrderSubmit" class="btn btn-success" data-dismiss="modal" style="display:none; padding:0px 28px 0px 28px; margin-right:5px">Submit</button>
                            <button type="button" id="NewOrderCancel" class="btn btn-danger" data-dismiss="modal" style="padding:0px 30px 0px 30px">Cancel</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade NewOrder" data-backdrop="static" data-keyboard="false" id="OpenOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="padding:3px 0px 0px 0px">
                    <h5 style="margin-left:auto; margin-right:auto">View/Edit Work Order</h5>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:15px 0px 15px 15px">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <b>Work Order #</b>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div style="padding:0px; border:1px solid black;">
                                        <img style="width:20px; margin:3px; visibility:hidden; float:left" src="~/Content/yes.png" alt="Alternate Text" />
                                        <input id="OpenOrderNumber"
                                               oninput="checkMaxAndBarcodeOpen(this.value)"
                                               type="number"
                                               maxlength="6"
                                               style="font-weight:bold; margin-left:auto; margin-right:auto; width:170px; outline:none; border:none; text-align:center" />
                                        <img class="commonExistClass" style="width:20px; margin:3px; display:none; float:right" id="ExistsIconOpen" src="~/Content/yes.png" alt="Alternate Text" />
                                        <img class="commonExistClass" style="width:20px; margin:3px; display:none; float:right" id="DoesntExixtIconOpen" src="~/Content/no.png" alt="Alternate Text" />
                                    </div>

                                </div>

                                <script>
                                    function checkMaxAndBarcodeOpen(val) {
                                        if (val.length == 6) {
                                            validateWorkOrder(val, 'o')
                                        }
                                        else if (val.length > 6) {
                                            $('#OpenOrderNumber').val(val.slice(0, 6));
                                        }
                                        else {
                                            $('#ExistsIconOpen').css("display", "none");
                                            $('#DoesntExixtIconOpen').css("display", "none");
                                        }
                                    }


                                    // Get the input field
                                    var input = document.getElementById("OpenOrderNumber");

                                    // Execute a function when the user releases a key on the keyboard
                                    input.addEventListener("keyup", function (event) {
                                        // Number 13 is the "Enter" key on the keyboard
                                        if (event.keyCode === 13) {
                                            // Cancel the default action, if needed
                                            event.preventDefault();
                                            // Trigger the button element with a click

                                            if ($('#ExistsIconOpen').css('display') == 'block') {
                                                document.getElementById("OpenOrderSubmit").click();
                                            }


                                        }
                                    });


                                </script>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 5px">
                    <button data-toggle="modal" data-target="#editEmployeeModalOpen" type="button" id="OpenOrderSubmit" data-dismiss="modal" class="btn btn-success" style="display:none; padding:0px 30px 0px 30px">Submit</button>
                    <button type="button" id="OpenOrderCancel" class="btn btn-danger" data-dismiss="modal" style="padding:0px 30px 0px 30px">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade editEmployeeModal" data-backdrop="static" data-keyboard="false" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content" style="width:1530px;">

                <div class="modal-body" style="padding:0px">
                    <div id="EditEmployeeModalDiv">

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div style="display:none">
        <div class="row" style="margin-bottom:15px; height:100px">
            <div class="col-md-2">
                Customer
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Customer, Model.Customers, "Select Customer", new { @style = "font-weight:bold; outline:none; width:100%; height:27px", @id = "customersDropDown", @onchange = "CustomerInfoChange(this.value)" })
            </div>
            <div class="col-md-6">
                <div class="row" style="margin-bottom:5px">
                    <div id="row1" class="col-md-12 text-right">

                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div id="row2" class="col-md-12 text-right">

                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div id="row3" class="col-md-12 text-right">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" id="WorkOrderTable">
                    <thead class="thead-dark">
                        <tr>
                            <th style="padding:0px; text-align:center" scope="col">WorkOrderNumber</th>
                            <th style="padding:0px; text-align:center" scope="col"># Of Barcodes Open</th>
                            <th style="padding:0px; text-align:center" scope="col"># Of Barcodes Closed</th>
                            <th style="padding:0px; text-align:center" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" data-keyboard="false" id="CasingSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content" style="width:400px">
                <div class="modal-header text-center" style="padding:5px 0px 0px 15px">
                    <h5><b>Casing Search</b></h5>
                </div>
                <div class="modal-body" style="padding:15px">
                    <div class="row" style="padding:15px 0px 15px 15px">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row" style="color:dimgray">
                                        <b>Barcode #</b>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div style="padding:0px; border:1px solid black;">
                                        <img style="width:20px; margin:3px; visibility:hidden; float:left" src="~/Content/yes.png" alt="Alternate Text" />
                                        <input id="OpenOrderNumberBarcode"
                                               oninput="checkMaxAndBarcodeOpenBarcode(this.value)"
                                               type="number"
                                               maxlength="8"
                                               style="font-weight:bold; margin-left:auto; margin-right:auto; width:170px; outline:none; border:none; text-align:center" />
                                        <img class="commonExistClass" style="width:20px; margin:3px; display:none; float:right" id="ExistsIconOpenBarcode" src="~/Content/yes.png" alt="Alternate Text" />
                                        <img class="commonExistClass" style="width:20px; margin:3px; display:none; float:right" id="DoesntExixtIconOpenBarcode" src="~/Content/no.png" alt="Alternate Text" />
                                    </div>

                                </div>

                                <script>
                                    function checkMaxAndBarcodeOpenBarcode(val) {
                                        if (val.length == 8) {
                                            validateWorkOrderBarcode(val, 'o')
                                        }
                                        else if (val.length > 8) {
                                            $('#OpenOrderNumberBarcode').val(val.slice(0, 8));
                                        }
                                        else {
                                            $('#ExistsIconOpenBarcode').css("display", "none");
                                            $('#DoesntExixtIconOpenBarcode').css("display", "none");
                                        }
                                    }


                                    // Get the input field
                                    var input = document.getElementById("OpenOrderNumber");

                                    // Execute a function when the user releases a key on the keyboard
                                    input.addEventListener("keyup", function (event) {
                                        // Number 13 is the "Enter" key on the keyboard
                                        if (event.keyCode === 13) {
                                            // Cancel the default action, if needed
                                            event.preventDefault();
                                            // Trigger the button element with a click

                                            if ($('#ExistsIconOpen').css('display') == 'block') {
                                                document.getElementById("OpenOrderSubmit").click();
                                            }
                                        }
                                    });


                                </script>

                            </div>

                        </div>
                    </div>

                    <div class="row commonExistClass" id="workOrderRow" style="display:none">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4" style="color:dimgray"><b>Work Order #</b></div>
                                <div class="col-lg-6 text-right" style="padding-right:0px; padding-left:25px">
                                    <input readonly style="text-align:center; font-weight:bold; width:100%;" id="casingSearchWorkOrder" type="text" name="name" value="" />
                                </div>
                                <div class="col-lg-2" style="padding-right:0px">
                                    <button data-toggle="modal" data-target="#editEmployeeModalOpen" type="button" id="CasingSearchSubmit" data-dismiss="modal" style="background-color:transparent; outline:none; border:none; display:none; padding:0px">
                                        <img src="~/Content/Open.png" style="width:30px" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="ClearCasingSearch()" data-dismiss="modal" class="btn btn-danger" style=" padding:2px 27px 3px 27px">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function ClearCasingSearch() {
            $('#workOrderRow').css("display", "none");
            $('#ExistsIconOpenBarcode').css("display", "none");
            $('#DoesntExixtIconOpenBarcode').css("display", "none");
            $('#OpenOrderNumberBarcode').val("");
        }
    </script>

    <div class="modal fade editEmployeeModal" data-backdrop="static" data-keyboard="false" id="editEmployeeModalOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content" style="width:1415px;">

                <div class="modal-body" style="padding:0px">
                    <div id="EditEmployeeModalDivOpen">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="Document" tabindex="-1" role="dialog" aria-labelledby="DocumentLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="height:980px; width:900px">
                <div class="modal-body" style="padding:0px">
                    <div>
                        <iframe id="modal_content" src="" style="width:100%;height:980px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddCust" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">

            @using (Html.BeginForm("AddCustomer", "TreadTracker", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:3px 3px 0px 15px">
                        <h5>Customer Addition Request</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                Customer #
                            </div>
                            <div class="col-lg-7">
                                @Html.DropDownListFor(m => m.AddCustomer.customer_number, Model.CustomersList, "Select Customer", new { @id = "custNum", @onchange = "CheckRequiredFeilds()", @style = "width:100%; height:30px", @required = "required" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Reporting Contact
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.reporting_contact, new { htmlAttributes = new { @id = "reportingContact", @onkeydown = "CheckRequiredFeilds()", @style = "width:100%", @required = "required" } })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Reporting Email
                            </div>
                            <div class="col-lg-7">
                                @Html.EditorFor(m => m.AddCustomer.reporting_email, new { htmlAttributes = new { @id = "reportingEmail", @onkeydown = "CheckRequiredFeilds()", @style = "width:100%", @required = "required" } })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-5">
                                Default Retread
                            </div>
                            <div class="col-lg-7">
                                @Html.DropDownListFor(m => m.AddCustomer.default_retread, Model.RetreadList , new { @style = "width:260px", @id = "defaultRetread", @onkeydown = "CheckRequiredFeilds()", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button data-dismiss="modal" class="btn btn-danger" style="padding:3px 20px 3px 20px">Cancel</button>
                        <button id="SubmitBtn" type="submit" class="btn btn-success" style="padding:3px 20px 3px 20px">Submit</button>
                    </div>
                </div>
            }


        </div>
    </div>


    <script>

        $('#fieldSheet').click(function () {
            $('#modal_content').attr('src', $('#invisibleSpan').html());
        });

        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });


        function OpecCustWorkOrder(val) {
            $.ajax({
                url: '@Url.Action("ViewOrder", "TreadTracker")', //ViewOrder
                data: {orderNumber: val },
                type: 'GET',
                success: function (data) {
                    $("#EditEmployeeModalDivOpen").html(data);
                    $("#editEmployeeModalOpen").modal();
                }
            });
        }


        function CustomerInfoChange(val) {
            $.ajax({
                url: '@Url.Action("PullWorkOrdersChangeCustomer", "TreadTracker")',
                data: { value: val },
                type: "POST",
                success: function (data) {
                    $("#WorkOrderTable tbody").html("");
                    var WorkOrders = JSON.parse(data);
                    $(WorkOrders).each(function(i,val)
                    {
                        var newRowContent = "<tr><td style=" + '"' + "padding:0px; text-align:center" + '"' + " >" + val.WorkOrderNumber + "</td><td style=" + '"' + "padding:0px; text-align:center" + '"' + ">" + val.openBarcodes + "</td><td style=" + '"' + "padding:0px; text-align:center" + '"' + ">" + val.closedBarcodes + "</td><td style=" + '"' + "padding:0px; text-align:center" + '"' + "> <input type=" + '"' + "checkbox" + '"' + "value =" + '"' +val.WorkOrderNumber+ '"' + "onclick=" +'"'+ "OpecCustWorkOrder(this.value)"+'"'+ "data-dismiss=" +'"'+"modal"+ '"' + " /></td></tr>"
                        $("#WorkOrderTable tbody").append(newRowContent);
                    });
                }
            });

            $.ajax({
                url: '@Url.Action("PullCustInfo", "TreadTracker")',
                data: { value: val },
                type: "POST",
                success: function (data) {
                    var custinfom = data.split(";")
                    $('#row1').html(custinfom[0])
                    $('#row2').html(custinfom[1] + " " + custinfom[2] + " " + custinfom[3])
                    $('#row3').html(custinfom[4] + " " + custinfom[5] + " " + custinfom[6])
                }
            });

        }

        function WorkOrderInfoChange(val) {

            $.ajax({
                url: '@Url.Action("PullBarcodesChangeWorkOrders", "TreadTracker")',
                data: { value: val },
                type: "POST",
                success: function (data) {
                    var s = '<option value="-1">Select Barcode</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                        console.log('<option value="' + data[i].value + '">' + data[i].text + '</option>');
                    }
                    $("#BarcodeDropdown").html(s);
                    //$("#WorkOrder").css("visiblity", "visible");

                }
            });
        }

        function BarcodeInfoChange(val) {

            $.ajax({
                url: '@Url.Action("PullBarcodesInfo", "TreadTracker")',
                data: { value: val },
                type: "POST",
                success: function (data) {
                    //alert(data);

                    var status = data.split(";");

                    $('#prel').html(status[0]);
                    $('#ndt').html(status[1]);
                    $('#buff').html(status[2]);
                    $('#final').html(status[3]);
                }
            });
        }



        function validateWorkOrder(workorder, type) {

            validateRequirements();

            if (workorder.length == 6) {
                $.ajax({
                    url: '@Url.Action("validateWorkOrder", "TreadTracker")',
                    data: { value: workorder },
                    type: 'POST',
                    success: function (data) {
                        if (data == "Exists") {
                            if (type == 'n') {
                                $('#ExistsIcon').css("display", "none")
                                $('#DoesntExixtIcon').css("display", "block")
                                $('#NewOrderSubmit').prop({ disabled: true })
                            }
                            else {
                                $('#ExistsIconOpen').css("display", "block")
                                $('#DoesntExixtIconOpen').css("display", "none")
                                $('#OpenOrderSubmit').css("display", "block")
                            }
                        }
                        else {
                            if (type == 'n') {
                                $('#ExistsIcon').css("display", "block")
                                $('#DoesntExixtIcon').css("display", "none")
                                $('#NewOrderSubmit').prop({ disabled: false })
                            }
                            else {
                                $('#ExistsIconOpen').css("display", "none")
                                $('#DoesntExixtIconOpen').css("display", "block")
                                $('#OpenOrderSubmit').css("display", "none")
                            }

                        }

                    }
                });
            }
            else {
                $('#ExistsIconOpen').css("display", "none")
                $('#DoesntExixtIconOpen').css("display", "none")
                $('#ExistsIcon').css("display", "none")
                $('#DoesntExixtIcon').css("display", "none")
            }
        }

        function validateWorkOrderBarcode(barcode, type) {

            //validateRequirements();

            if (barcode.length == 8) {
                $.ajax({
                    url: '@Url.Action("validateWorkOrderBarcode", "TreadTracker")',
                    data: { value: barcode },
                    type: 'POST',
                    success: function (data) {

                        if (data != "") {

                            $('#OpenOrderNumber').val(data)
                            $('#casingSearchWorkOrder').val(data)
                            $('#ExistsIconOpenBarcode').css("display", "block")
                            $('#ExistsIconOpen').css("display", "block")
                            $('#DoesntExixtIconOpenBarcode').css("display", "none")
                            $('#CasingSearchSubmit').css("display", "block")
                            $('#workOrderRow').css("display", "block")

                        }
                        else {

                            $('#OpenOrderNumber').val("")
                            $('#casingSearchWorkOrder').val("")
                            $('#ExistsIconOpenBarcode').css("display", "none")
                            $('#DoesntExixtIconOpenBarcode').css("display", "block")
                            $('#CasingSearchSubmit').css("display", "none")
                            $('#workOrderRow').css("display", "none")
                        }

                    }
                });
            }
            else {
                $('#OpenOrderNumber').val("")
                $('#casingSearchWorkOrder').val("")
                $('#ExistsIconOpenBarcode').css("display", "none")
                $('#DoesntExixtIconOpenBarcode').css("display", "none")
                $('#CasingSearchSubmit').css("display", "none")
                $('#workOrderRow').css("display", "none")
            }
        }


        $('#customersDropDown').change(function () {
            validateRequirements();
        });


        function validateRequirements() {
            var workOrderNum = $('#NewOrderNumber').val();
            var customerNumber = $('#customersDropDown').val();

            if (workOrderNum != null && customerNumber != null && workOrderNum != "" && customerNumber != "" && workOrderNum.length == 6) {
                $('#NewOrderSubmit').css("display", "block")
            }
            else {
                $('#NewOrderSubmit').css("display", "none")
            }
        }


        function onlyNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }


        $('#NewOrderCancel').click(function () {
            $('#NewOrderNumber').val("");
            $('#customersDropDown').val("");
            $('#ExistsIcon').css("display", "none")
            $('#DoesntExixtIcon').css("display", "none")
            $('#NewOrderSubmit').css("display", "none")
        });

        $('#OpenOrderCancel').click(function () {
            $('#OpenOrderNumber').val("");
            $('#ExistsIconOpen').css("display", "none")
            $('#DoesntExixtIconOpen').css("display", "none")
        });

        $('#NewOrderSubmit').click(function () {


            var workOrder = $('#NewOrderNumber').val();
            var customer = $('#customersDropDown').val();

            //alert(customer + " and " + workOrder);


            $.ajax({
                url: '@Url.Action("PlaceOrder", "TreadTracker")',
                data: { custNo: customer, workOrd: workOrder },
                type: 'GET',
                success: function (data) {
                    $("#EditEmployeeModalDiv").html(data);
                    $("#editEmployeeModal").modal();
                }
            });

        });

        $('#OpenOrderSubmit').click(function () {

            opordr()

        });

        $('#CasingSearchSubmit').click(function () {

            opordr()

        });

        function opordr() {
            var workOrder = $('#OpenOrderNumber').val();
            $("#EditEmployeeModalDivOpen").html('');
            $.ajax({
                url: '@Url.Action("ViewOrder", "TreadTracker")', //ViewOrder
                data: {orderNumber: workOrder },
                type: 'GET',
                success: function (data) {
                    $("#EditEmployeeModalDivOpen").html(data);
                    $("#editEmployeeModalOpen").modal();
                }
            });
            $('.commonExistClass').css('display', 'none');
            $('#OpenOrderNumber').val('')
            $('#OpenOrderNumberBarcode').val('')
        }

    </script>


</body>

</html>

