
@{
    ViewBag.Title = "OpenOrder";
    Layout = "~/Views/Shared/_TreadTrackerLayout.cshtml";
}
@*@model SeHubPortal.ViewModel.OpenOrderModel*@
@*@model IEnumerable<SeHubPortal.Models.tbl_treadtracker_barcode>*@
@model SeHubPortal.ViewModel.ViewWorkOrderModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@




    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.neworder > 0)
    {
        <style>
            #NewOrderLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTrackerDashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.barcodeInformation.Count == 11)
    {
        <style>
            #printSection {
                position: absolute;
                top: 1.7in;
                left: 0.8in;
                -webkit-transform: rotate(270deg) scaleX(1.75) scaleY(0.8);
            }
        </style>
    }
    else
    {
        <style>
            #printSection {
                position: absolute;
                top: 1.7in;
                left: 0.5in;
                -webkit-transform: rotate(270deg) scaleX(1.6) scaleY(0.8);
            }
        </style>
    }

    <style type="text/css">

        #OpenOrderLink {
            display: block !important;
        }

        #treadTrackereClicked {
            display: block !important;
        }

        #treadTrackereClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #treadTrackerButton {
            color: black;
            font-weight: 600;
        }

        #OpenOrderLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .orderMainBody {
            margin: 15px 15px 0px 15px;
            /*background-color:antiquewhite;*/
        }

        .subHeading {
            text-align: center;
            background-color: #e9ecef;
            margin: 15px 0px 0px 0px;
            color: gray;
        }

        .subTables {
            margin: 0px 0px 0px 0px;
        }

        .tableBorders {
            border-style: solid;
            border-width: thin;
            margin: 0px 0px 0px 0px;
            border-color: #e9ecef;
            color: black;
        }

        thead th {
            /*font-size: 1em;*/
            padding: 1px !important;
            height: 25px;
            font-size: 13px;
        }

        .mainTable {
            margin: 5px 0px 0px 0px;
        }

        .textFields {
            text-align: center;
        }

        input {
            text-align: center;
        }

        .lineStyle {
            width: 60px;
            visibility: visible;
        }

        select {
            color: black;
            visibility: hidden;
        }

        .commentsHeader {
            background-color: #343a40;
            margin: 0px 0px 0px 0px;
            font-size: 1em;
            padding: 1px !important;
            height: 25px;
        }

        .TableTransactions {
            margin: 0px 0px 10px 0px;
        }

            .TableTransactions button {
                margin: 0px 0px 0px 10px;
            }

        .transcationButtons {
            margin: 0px 0px 0px 0px;
            border-radius: 5px;
            width: 90px;
            height: 35px;
        }

        .commentsSection {
            margin: 10px 0px 0px 0px;
        }

        #comments {
            width: 100%;
            height: 80px;
            box-sizing: border-box;
        }

        #NewOrderSubmit {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: #343a40;
            border-color: #343a40;
        }

        .SearchInputs {
            width: 100%;
            visibility: visible;
            border-color: black;
            border-width: 2px;
        }

        .generateBtn {
            width: 100%;
            border-radius: 5px;
            visibility: visible;
        }

        #CustId {
            visibility: visible;
        }


        .progress {
            margin-top: 4px;
            background-color: darkgray;
        }

        .TextStyle {
            vertical-align: middle;
            color: black;
        }

        .fieldStyle {
            width: 100%;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            height: 35px;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        
        
        @@media screen {
            #printSection {
                display: none;
            }

            #dontshow {
                display: none;
            }

        }

        @@media print {
            #btnPrint {
                display: none;
            }

            #editButton {
                display: none;
            }

            #emailButton {
                display: none;
            }

            #dontShowInPrint {
                display: none;
            }

            body * {
                visibility: hidden;
            }

            #printSection, #printSection * {
                visibility: visible;
            }



            /*
                #printSection {
                    position: absolute;
                    left: 0;
                    top: 0;
                    -ms-transform: rotate(270deg) scaleX(1.40) scaleY(1.2);
                    -webkit-transform: rotate(270deg) scaleX(1.40) scaleY(1.2);
                    transform: rotate(270deg) scaleX(1.40) scaleY(1.2);
                    top: 4.3in;
                    left: 0.07in;
                }

            */
        }
    </style>
</head>
<body>

    <div class="example" style="margin-top:0px; padding-top:0px; height:820px; overflow-y:auto; overflow-x:hidden">
        <div class="row">
            <div class="col-md-12">
                <div>

                    <div class="row heading">
                        <div class="col">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" style="background-color:white;height:100%;margin-top:0px;">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "TreadTracker")">Tread Tracker</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("OpenOrder", "TreadTracker")">Open Order</a></li>
                                    
                                    @if (Model.WorkOrderNumber != null)
                                    {
                                        <li class="breadcrumb-item " aria-current="page">@Model.WorkOrderNumber</li>
                                    }
                                </ol>
                            </nav>
                        </div>
                        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                            <i class="fa fa-bars" style="font-size:25px"></i>
                            <span class="sr-only">Toggle Menu</span>
                        </button>
                    </div>
                    @if((@Model.WorkOrderNumber == "" || @Model.workOrderInfo == null) && (@Model.Barcode == null)){
                        <div class="orderMainBody" id="dontShowInPrint">
                            @using (Html.BeginForm("ViewOrder", "TreadTracker", FormMethod.Post))
                            {<div class="card shadow-sm flex-fill grow">
                                    <div class="card-header" style="padding: 3px 3px 3px 15px">
                                        <h6 class="card-title mb-0 d-inline-block">Open Tread Order</h6>
                                        <a href="#" class="d-inline-block float-right text-primary"></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-between">
                                            <div class="col-md-5">
                                                <div class="container">
                                                    <div class="row subTables">
                                                        <div class="col-5 ">
                                                            <text class="TextStyle">Retread Work Order</text>
                                                        </div>
                                                        <div class="col-7 ">
                                                            @* <input type="text" class="SearchInputs" id="workOrderNumberSearch" name="workOrderNumberSearch" maxlength="7">*@
                                                            @Html.TextBoxFor(m => m.WorkOrderNumber, new { @class = "fieldStyle", @type = "text", @maxlength = "6", @onkeypress = "return onlyNumberKey(event)" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="container">
                                                    <div class="row subTables">
                                                        <div class="col-5 ">
                                                            <text class="TextStyle">Retread Barcode</text>
                                                        </div>
                                                        <div class="col-7">
                                                            @*<input type="text" class="SearchInputs" id="customerSearch" name="customerSearch" maxlength="7">*@
                                                            @Html.TextBoxFor(m => m.Barcode, new { @class = "fieldStyle", @type = "text", @maxlength = "8", @onkeypress = "return onlyNumberKey(event)" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <input id="GenerateClicked" class="generateBtn btn btn-success" type="submit" value="Generate" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                    
                </div>
            </div>
        </div>
        @if ((@Model.WorkOrderNumber != "" && @Model.workOrderInfo != null) || (@Model.Barcode != "" && @Model.workOrderInfo != null))
        {
            <div class="row">
                <div class="col-md-12">
                    <div>
                        @*class="shadow-lg p-1 mb-1 bg-white rounded"*@
                        <div class="orderMainBody" id="printThis" style="padding-top:0px; margin-top:0px;">
                            @*here i remove class - container*@
                            <div class="row text-center" id="dontshow">
                                <div class="col-md-3"></div>
                                <div class="col-md-5 text-center"><img src="~/Content/LoginLogo.png" style="margin-left: auto;margin-right: auto; width:350px;"></div>
                                <div class="col-md-4 text-right" style="padding-right:33px; padding-top:40px">
                                    <p style="margin: 0px; padding: 0px; line-height : 10px">
                                        <font size="2">
                                            @ViewBag.addressSTREET1, @if (ViewBag.addressSTREET2 != null)
                                            {
                                                @ViewBag.addressSTREET2
                                            }
                                        </font>
                                    </p>
                                    <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">@ViewBag.addressCITY, @ViewBag.addressPROVINCE, @ViewBag.addressPOSTAL</font></p>
                                    <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">Phone : @ViewBag.locPHONE</font></p>
                                    <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">Fax : @ViewBag.locFAX</font></p>
                                    <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">www.citytire.com</font></p>
                                </div>
                            </div>
                            <div class="row text-center" id="dontshowemail" style="display:none">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4 text-center"><img src="~/Content/LoginLogo.png" style="margin-left: auto;margin-right: auto; width:350px;"></div>

                                        <div class="col-md-4 text-right" style="padding-right:33px; padding-top:40px">
                                            <p style="margin: 0px; padding: 0px; line-height : 10px">
                                                <font size="2">
                                                    @ViewBag.addressSTREET1, @if (ViewBag.addressSTREET2 != null)
                                                    {
                                                        @ViewBag.addressSTREET2
                                                    }
                                                </font>
                                            </p>
                                            <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">@ViewBag.addressCITY, @ViewBag.addressPROVINCE, @ViewBag.addressPOSTAL</font></p>
                                            <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">Phone : @ViewBag.locPHONE</font></p>
                                            <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">Fax : @ViewBag.locFAX</font></p>
                                            <p style="margin: 5px 0px 5px 10px; padding: 0px; line-height : 10px"><font size="2">www.citytire.com</font></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-end TableTransactions">
                                <a href="#">
                                    <input type="button" class="btn btn-primary transcationButtons" style="visibility:visible" id="btnPrint" value="Print" />
                                </a>
                                &nbsp;
                                <a href="#">
                                    <input type="button" class="btn btn-primary transcationButtons" style="visibility:visible" id="emailButton" value="Email" />
                                </a>
                                &nbsp;
                                <a href="@Url.Action("EditOrder", "TreadTracker", new { orderNumber =@Model.WorkOrderNumber})">
                                    <input type="button" class="btn btn-primary transcationButtons" style="visibility:visible" id="editButton" value="Edit" />
                                </a>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-md-6">

                                    <div class="card shadow-sm flex-fill grow" style="margin:10px 0px 0px 0px;">
                                        <div class="card-header" style="padding: 3px 3px 3px 15px">
                                            <h6 class="card-title mb-0 d-inline-block">Order Information</h6>
                                            <a href="#" class="d-inline-block float-right text-primary"></a>
                                        </div>
                                        <div class="card-body" style="background-color:white">
                                            <div class="row subTables">
                                                <div class="col-4 ">
                                                    Retread Work Order
                                                </div>
                                                <div class="col-8 ">
                                                    @Model.workOrderInfo.retread_workorder
                                                </div>
                                            </div>
                                            <div class="row subTables">
                                                <div class="col-4 ">
                                                    Work Order Date
                                                </div>
                                                <div class="col-8 ">
                                                    @Model.workOrderInfo.creation_date
                                                </div>
                                            </div>
                                            <div class="row subTables">
                                                <div class="col-4">
                                                    Employee
                                                </div>
                                                <div class="col-8">
                                                    @Model.workOrderInfo.employee_Id
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card shadow-sm flex-fill grow" style="margin:10px 0px 0px 0px;">
                                        <div class="card-header" style="padding: 3px 3px 3px 15px">
                                            <h6 class="card-title mb-0 d-inline-block">Customer Information</h6>
                                            <a href="#" class="d-inline-block float-right text-primary"></a>
                                        </div>
                                        <div class="card-body" style="background-color:white">
                                            <div class="row subTables">
                                                <div class="col-4 ">
                                                    Customer Name
                                                </div>
                                                <div class="col-8 ">
                                                    @Model.custInfo.cust_name
                                                </div>
                                            </div>
                                            <div class="row subTables">
                                                <div class="col-4 ">
                                                    Account Number
                                                </div>
                                                <div class="col-8 ">
                                                    @Model.custInfo.cust_us1
                                                </div>
                                            </div>
                                            <div class="row subTables">
                                                <div class="col-4">
                                                    Customer Address
                                                </div>
                                                <div class="col-8">
                                                    @Model.custInfo.cust_city,@Model.custInfo.cust_state,@Model.custInfo.cust_zip
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-lg-12">
                                    <div class="card shadow-sm flex-fill grow" style="margin:10px 0px 0px 0px;">
                                        <div class="card-header" style="padding: 3px 3px 3px 15px">
                                            <h6 class="card-title mb-0 d-inline-block">Order Status</h6>
                                            <a href="#" class="d-inline-block float-right text-primary"></a>
                                        </div>
                                        <div class="card-body" style="background-color:white">

                                            <div class="row mainTable">
                                                <table class="table table-striped">
                                                    <thead class="thead-dark">
                                                        <tr class="textFields">
                                                            <th scope="col">#</th>
                                                            <th scope="col">Code</th>
                                                            <th scope="col">BarCode</th>
                                                            <th scope="col">Serial/DOT</th>
                                                            <th scope="col">Size</th>
                                                            <th scope="col">Brand</th>
                                                            <th scope="col">Tread</th>
                                                            <th scope="col">Unit ID</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Production Progress</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="textFields">
                                                        @{
                                                            var incVal = 0;
                                                        }
                                                        @foreach (var barcodes in Model.barcodeInformation)
                                                        {
                                                            <tr>
                                                                <th scope="row">@(++incVal)</th>
                                                                <td>
                                                                    @barcodes.line_code
                                                                </td>
                                                                <td>
                                                                    @barcodes.barcode
                                                                </td>
                                                                <td>
                                                                    @barcodes.serial_dot.ToUpper()
                                                                </td>
                                                                <td>
                                                                    @barcodes.casing_size
                                                                </td>
                                                                <td>
                                                                    @barcodes.casing_brand
                                                                </td>
                                                                <td>
                                                                    @barcodes.retread_design.ToUpper()
                                                                </td>
                                                                <td>
                                                                    @barcodes.unit_ID
                                                                </td>
                                                                <td>
                                                                    @if (@barcodes.final_inspection_result == null)
                                                                    {
                                                                        if (@barcodes.buffer_builder_result == null)
                                                                        {
                                                                            if (@barcodes.ndt_machine_result == null)
                                                                            {
                                                                                @barcodes.preliminary_inspection_result
                                                                            }
                                                                            else
                                                                            {
                                                                                @barcodes.ndt_machine_result
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @barcodes.buffer_builder_result
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        @barcodes.final_inspection_result
                                                                    }

                                                                </td>
                                                                <td>
                                                                    @if (@barcodes.final_inspection_result == null)
                                                                    {
                                                                        if (@barcodes.buffer_builder_result == null)
                                                                        {
                                                                            if (@barcodes.ndt_machine_result == null)
                                                                            {
                                                                                if (@barcodes.preliminary_inspection_result.ToUpper() == "GOOD")
                                                                                {
                                                                                    <div class="progress">
                                                                                        <div class="progress-bar bg-success  progress-bar-animated" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                    </div>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="progress">
                                                                                        <div class="progress-bar bg-danger  progress-bar-animated" role="progressbar" style="width:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (@barcodes.ndt_machine_result.ToUpper() == "GOOD")
                                                                                {
                                                                                    <div class="progress">
                                                                                        <div class="progress-bar bg-success  progress-bar-animated" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="progress">
                                                                                        <div class="progress-bar bg-danger  progress-bar-animated" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (@barcodes.buffer_builder_result.ToUpper() == "GOOD")
                                                                            {
                                                                                <div class="progress">
                                                                                    <div class="progress-bar bg-success  progress-bar-animated" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="progress">
                                                                                    <div class="progress-bar bg-danger  progress-bar-animated" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                            }

                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (@barcodes.final_inspection_result.ToUpper() == "GOOD")
                                                                        {
                                                                            <div class="progress">
                                                                                <div class="progress-bar bg-success progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="progress">
                                                                                <div class="progress-bar bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        }

                                                                    }

                                                                </td>
                                                            </tr>

                                                        }
                                                        @{
                                                            var remainingCount = 11 - Model.barcodeInformation.Count;
                                                        }
                                                        @for (int i = 0; i < remainingCount; i++)
                                                        {
                                                            int linNumrem = Model.barcodeInformation.Count + i + 1;
                                                            <tr style="height:49px">
                                                                <td><b>@linNumrem</b></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-lg-12">
                                    <div class="card shadow-sm flex-fill grow" style="margin:10px 0px 0px 0px;">
                                        <div class="card-header" style="padding: 3px 3px 3px 15px">
                                            <h6 class="card-title mb-0 d-inline-block">Comments</h6>
                                        </div>
                                        <div class="card-body" style="padding: 10px">
                                            <div style="width:100%">
                                                <textarea id="comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*
        <div class="row" id="output">
          <img src="#" id="newimg" alt="Alternate Text" />
        </div>
                            *@
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>


    <script>
        function onlyNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $(document).ready(function () {


            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js">
    </script>

    <script type="text/javascript">
        document.getElementById("btnPrint").onclick = function () {
            printElement(document.getElementById("printThis"));
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }


        $("#emailButton").click(function () {

            document.getElementById("printThis").style.padding = "60px";
            document.getElementById("printThis").style.border = "thin solid black";

            email();

            changepadding();
        });

        function changepadding() {
            document.getElementById("printThis").style.padding = "0px";
            document.getElementById("printThis").style.borderRight = "none";
            document.getElementById("printThis").style.borderLeft = "none";
            document.getElementById("printThis").style.borderTop = "none";
        }


        function email() {
            let div = document.getElementById('printThis'); 

            

            $('#dontshowemail').show();

            $('#btnPrint').hide();
            $('#emailButton').hide();
            $('#editButton').hide();

            html2canvas(div).then(
                function (canvas) { 
                    $('#dontshowemail').hide();

                    $('#btnPrint').show();
                    $('#emailButton').show();
                    $('#editButton').show();
                    //document.getElementById('output').appendChild(canvas); 
                    //var imgsrc = canvas.toDataURL("image/png"); 
                    //$("#newimg").attr('src', imgsrc);                         
                        var dataURL = canvas.toDataURL(); 
                        $.ajax({ 
                            type: "POST", 
                            url: '@Url.Action("MailImageOpenOrder", "TreadTracker")',
                            data: { 
                                imgBase64: dataURL 
                            }, 
                            success: function (data) {
                                alert("Mailed Successfully")
                            }
                        })
                }
            )
        }


    </script>


</body>
</html>



