@model SeHubPortal.ViewModel.ProductionReportViewModel
@{
    ViewBag.Title = "ProductionReport";
    Layout = "~/Views/Shared/_TreadTrackerLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTrackerDashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker_failure_analysis > 0)
    {
        <style>
            #FailureAnalysisLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker_customers > 0)
    {
        <style>
            #CustomersLink {
                display: block !important;
            }
        </style>
    }

    <style type="text/css">

        #treadTrackereClicked {
            display: block !important;
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #treadTrackerButton {
            color: black;
            font-weight: 600;
        }


        #ProductionReportLink {
            display: block !important;
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }


            .card-header h6 {
                color: black;
            }

        .breadCrumb{
        background-color:white;
    }


        .orderMainBody {
            margin: 15px 15px 0px 15px;
            /*background-color:antiquewhite;*/
        }

        .subHeading {
            text-align: center;
            background-color: #e9ecef;
            margin: 15px 0px 0px 0px;
        }

        .subTables {
            margin: 0px 0px 0px 0px;
        }

        .tableBorders {
            border-style: solid;
            border-width: thin;
            margin: 0px 0px 0px 0px;
            border-color: #e9ecef;
        }

        .mainTable {
            margin: 25px 0px 0px 0px;
        }

        .textFields {
            text-align: center;
        }

        input {
            text-align: center;
        }

        .lineStyle {
            width: 60px;
            visibility: visible;
            height: 32px;
        }

        select {
            color: black;
            height: 32px;
        }

        input, select {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .commentsHeader {
            background-color: #343a40;
            margin: 0px 3px 0px 3px;
        }

        .commentsSection {
            margin: 10px 0px 0px 0px;
        }

        #comments {
            width: 100%;
            height: 100px;
            box-sizing: border-box;
        }

        #NewOrderSubmit {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: #343a40;
            border-color: #343a40;
        }

        .SearchInputs {
            width: 100%;
            visibility: visible;
            border-color: black;
            border-width: 2px;
        }

        .generateBtn {
            width: 100%;
            text-align: center;
            height: 35px;
            visibility: visible;
        }


        .fieldStyle {
            width: 100%;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            height: 35px;
        }

        .TextStyle {
            vertical-align: middle;
            color: black;
        }

        .SearchWith {
            width: 100%;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            height: 32px;
        }

        .SearchWithBtn {
            text-align: center;
            height: 35px;
        }

        .fc-title {
            font-size: .9em;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .fc-prev-button{
            display:none;
        }

        .fc-next-button{
            display:none;
        }

        .fc-center > h2{
            color: #007afd;
        }


        @@media screen {
            #printSection {
                display: none;
            }

            #dontshow {
                display: none;
            }

            .dontshow {
                display: none;
            }
        }

        @@media print {

            .printdiv{
                height:auto
            }

            #btnPrint {
                display: none;
            }

            .dontShowInPrint {
                display: none;
            }

            body * {
                visibility: hidden;
                background-color:white;
            }

            #printSection, #printSection * {
                visibility: visible;
            }
            
            #printSection {
                background-color:white;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

    </style>
</head>
<body>
    <div class="row dontShowInPrint">
        <div class="col-lg-12">
            <div class="row heading">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadCrumb" style="background-color:white;height:100%;margin-top:0px;">
                            <li class="breadcrumb-item"><a href="@Url.Action("ProductionReport", "TreadTracker")">Tread Tracker</a></li>
                            <li class="breadcrumb-item " aria-current="page">Reporting</li>
                        </ol>
                    </nav>
                </div>
                <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                    <i class="fa fa-bars" style="font-size:25px"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
        </div>

    </div>


    <div class="row dontShowInPrint" style="margin-left:15px; margin-right:15px">
        <div class="col-lg-12">
            <div class="row" style="background-color:white; padding:15px 0px 15px 0px">
                <div class="col-lg-12" style="display:flex; justify-content:space-around">

                    <button class="btn btn-primary" id="next" style="visibility: hidden;border: none;outline: none;padding: 0px 15px 0px 15px;height: 34px;margin-top: 1px;font-size: 20px;font-weight: bolder">
                        <
                    </button>
                    <div class="dontShowInPrint btn" id="calender2" style="background-color:white; margin-right:25px; padding:0px"></div>
                    <div class="dontShowInPrint btn" id="calender0" style="background-color:white; margin-left:25px; padding:0px"></div>
                    <button class="btn btn-primary" id="prev" style="border:none; outline: none; padding:0px 15px 0px 15px; height:34px; margin-top:1px; font-size:20px; font-weight:bolder">
                        >
                    </button>

                    <input type="number" name="name" value="0" id="counter" style="display:none" />
                </div>
            </div>
            @*
                <div class="row">
                    <button onclick="location.href='@Url.Action("PopulateTreadTracker", "Tools")';" >Populate TreadTracker</button>
                </div>
            *@

        </div>

    </div>


    <div class="modal fade" data-backdrop="static" id="rightWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:1000px;">

                <div id="printsect">
                    <div class="modal-header" style="display:flex; justify-content:space-between">
                        <div></div>
                        <input class="btn btn-primary dontShowInPrint" id="btnPrint" style="margin-right:0px; margin-top:0px; width:100px; height:30px; " type="text" readonly name="name" value="Print" />
                    </div>
                    <div class="modal-body">       
                        <div class="row example printdiv" style="height:700px; overflow-y:auto; background-color:white; overflow-x:hidden" id="printThis">
                        </div>
                    </div>
                </div>

                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="padding:2px 20px 2px 20px" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>

        $("#prev").click(function () {
            $("#counter").val(parseInt($("#counter").val()) + 1)
            $('.fc-prev-button').click();
            $("#next").css("visibility", "visible")
        });

        $("#next").click(function () {
            $("#counter").val(parseInt($("#counter").val()) - 1)
            $('.fc-next-button').click();
            if ($("#counter").val() == 0) {
                $("#next").css("visibility", "hidden")
            }
            else {
                $("#next").css("visibility", "visible")
            }
        });

        $(document).ready(function () {
            var events = [];
                $.ajax({
                    type: "GET",
                    url: "/TreadTracker/GetInspectionDates",
                    async: false,
                    success: function (data) {
                        $.each(data, function (i, v) {

                            events.push({
                                start: moment(v).add(1, 'days').format("YYYY-MM-DD"),
                                color: 'transparent',
                                description: 'PR',
                                imageurl: 'https://ctasehub.blob.core.windows.net/sehub-content/tire_production_report.png',
                            });
                            /*
                             
                             events.push({
                                start: moment(v).add(1, 'days').format("YYYY-MM-DD"),
                                color: 'transparent',
                                description: 'TR',
                                imageurl: 'https://ctasehub.blob.core.windows.net/sehub-content/transfer_report_icon.png',
                            });
                             
                             */
                        })

                        
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })

                $.ajax({
                    type: "GET",
                    url: "/TreadTracker/GetInspectionDatesCasingCredit",
                    async: false,
                    success: function (data) {
                        $.each(data, function (i, v) {
                            
                            events.push({
                                start: moment(v).add(1, 'days').format("YYYY-MM-DD"),
                                color: 'transparent',
                                description: 'CC',
                                imageurl: 'https://ctasehub.blob.core.windows.net/sehub-content/credit_production_report.png',
                            });
                        })

                        
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })

                GenerateCalender(events);
                

                function GenerateCalender(events) {

                    $('#calender0').fullCalendar('destroy');
                    var startDate0 = moment().subtract(1, 'month');
                    $('#calender0').fullCalendar({
                        defaultDate: startDate0,
                        contentHeight: 650,
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },
                        showNonCurrentDates: false,
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='21' height='21'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            } else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },


                        eventClick: function (calEvent, jsEvent, view) {
                            //alert(moment(calEvent.start).add(-1, 'days').format("YYYY-MM-DD"));

                            if (calEvent.description == 'PR') {
                                $.ajax({
                                    url: '@Url.Action("PopulateProductionReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                            else if (calEvent.description == 'TR') {
                                $.ajax({
                                    url: '@Url.Action("PopulateTransferReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                            else if (calEvent.description == 'CC') {
                                $.ajax({
                                    url: '@Url.Action("PopulateCasingCreditReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                        },
                    })


                    $('#calender2').fullCalendar('destroy');
                    $('#calender2').fullCalendar({
                        contentHeight: 650,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },
                        showNonCurrentDates: false,
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='21' height='21'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            }
                            else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },


                        eventClick: function (calEvent, jsEvent, view) {
                            //alert(moment(calEvent.start).add(-1, 'days').format("YYYY-MM-DD"));

                            if (calEvent.description == 'PR') {
                                $.ajax({
                                    url: '@Url.Action("PopulateProductionReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                            else if (calEvent.description == 'TR') {
                                $.ajax({
                                    url: '@Url.Action("PopulateTransferReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                            else if (calEvent.description == 'CC') {
                                $.ajax({
                                    url: '@Url.Action("PopulateCasingCreditReport", "TreadTracker")',
                                    data: { inspDate: moment(calEvent.start).add(0, 'days').format("YYYY-MM-DD") }, // before publishing make change -1 to 0
                                    type: 'GET',
                                    success: function (data) {
                                        $("#printThis").html(data);
                                        $('#rightWindow').modal();
                                    }
                                });
                            }
                        },
                    })
                }
        });

    </script>

    <script>

        document.getElementById("btnPrint").onclick = function () {
            $('#printThis').css('height', 'auto');
            printElement(document.getElementById("printsect"));
            $('#printThis').css('height', '700px');
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
    </script>

</body>
</html>

