@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@*@model List
    <SeHubPortal.ViewModel.EmployeeAttendanceListModel>
*@
@model SeHubPortal.ViewModel.AttendanceModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    *@
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />


    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings == 3)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }



    @if (Model.SehubAccess.management_dashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.my_staff > 0)
    {
        <style>
            #MyStaffLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.vacation_schedule > 0)
    {
        <style>
            #LeaveSchedulerLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.asset_control > 0)
    {
        <style>
            #AssetControlLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.employee_folder > 0)
    {
        <style>
            #EmployeeFilesLink {
                display: block !important;
            }
        </style>
    }


    <style type="text/css">

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #ManagementClicked {
            display: block !important;
        }

        #AttendanceLink {
            display: block !important;
        }

        #ManagementClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #managementBtn {
            color: black;
            font-weight: 600;
        }

        #AttendanceLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        .payRollMainBody {
            margin: 0px 15px 0px 20px;
            height: 100%;
        }
        /*.card-header {
         background-color: #5f76e8;
         }
         .card-title
         {
         color:#fff;
         }*/
        .wrap {
            width: 100%;
            overflow: auto;
        }

        .fleft {
            float: left;
            width: 20%;
            /*background: blue;*/
            height: 100vh;
        }

        .fright {
            float: right;
            /*background: pink;*/
            height: 100vh;
            width: 80%;
            margin: 0px 0px 0px 0px;
        }

        .SerachLoc {
            text-align: center;
            height: 35px;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }

        .fieldStyle {
            width: 100%;
            height: 35px;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            margin-bottom: 5px;
        }

        #MatchedLocID {
            width: 80px;
            height: 30px;
            font-size: 18px;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }

        .EmpDetailsHeader {
            height: 100px;
            margin: 0px 0px 0px 10px;
        }

        .time-list {
            display: flex;
            flex-grow: 1;
        }

        .dash-stats-list {
            align-items: center;
            display: flex;
            flex-flow: column wrap;
            flex-grow: 1;
            padding-left: 5px;
            padding-right: 5px;
        }
        /*//Stackedbarchart*/
        .toolTip {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            box-shadow: -3px 3px 15px #888888;
            color: black;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
        }

        .legend {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 60%;
        }

        text {
            font: 10px sans-serif;
        }

        .axis path {
            fill: none;
            stroke: #000;
        }

        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
        /*//AttendanceBarChart*/
        .AttendanceBarChart {
            margin: 0px 25px;
        }

        text,
        .axis text {
            font-size: 15px;
        }

        rect:hover {
            fill: orange;
        }

        .btn:hover {
            color: black;
            background-color: #cfcfcf;
        }
    </style>
</head>
<body>
    <div class="row" id="mainRow">
        <div class="col-md-12">
            <div>
                <div class="row heading">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" style="background-color:white;height:100%;margin-top:0px;">
                                <li class="breadcrumb-item"><a href="@Url.Action("Attendance", "Management")">Management</a></li>
                                <li class="breadcrumb-item " aria-current="page">Attendance</li>

                                <lable style="margin-left:1180px; margin-right:0px">Location</lable>
                                @using (Html.BeginForm("ChangeLocAttendance", "Management", FormMethod.Post))
                                {
                                    <div>

                                        @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, "Select", new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:100px;height:23px;font-size:15px;margin-left:6px;" })

                                        <noscript> <input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                                    </div>
                                }


                            </ol>
                        </nav>
                    </div>
                    <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                        <i class="fa fa-bars" style="font-size:25px"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="payRollMainBody">
                    <div class="row" style="margin-left:0px">
                        <div class="col-lg-2" style="padding-right:0px">
                            <div class="row example" style="height:78vh; overflow-y:auto">
                                <div class="col-lg-12" id="ul_list">
                                    @foreach (var items in Model.employeeList)
                                    {
                                        if (Model.SelectedEmployeeId == items.employeeId)
                                        {
                                            <div class="row empButton commonClass @items.employeeId selectedEmployee" style="cursor: pointer; font-weight: bold; padding: 15px; background-color: white" id="@items.employeeId" onclick="pullAttendance(this.id)">
                                                @items.fullName
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row empButton commonClass @items.employeeId" style="cursor: pointer; font-weight: bold; padding: 15px; background-color: transparent" id="@items.employeeId" onclick="pullAttendance(this.id)">
                                                @items.fullName
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-lg-10">
                            <div id="loading">
                                <div style="background-color:white; width:100%; height:79vh; display:flex; justify-content:center; align-items:center;">
                                    <img style="width:100px" src="~/Content/giphy.gif" alt="Alternate Text" />
                                </div>
                            </div>
                            <div class="dontShowInPrint btn" id="calender" style="width:100%; background-color:white"></div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>

    @*$(".btn").click(function () {
        $('#AttendanceRightBody').css('display', 'none');
        $('#divLoader').css('display', 'block');
        });*@

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px">
                    <h5 class="modal-title" style="color:black"><strong><span id="eventTitle"></span></strong></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <table class="table table-striped table-bordered">
                                <thead style="background-color:gray; color:white">
                                    <tr>
                                        <th style="font-size:10px; padding:0px" scope="col">Clock-IN</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Clock-Out</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Duration</th>
                                    </tr>
                                </thead>
                                <tbody id="pDetails">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:8px">
                    <input type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style="height:25px; width:100px" />
                </div>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>

        $(window).on('load', function () {
            $('#AttendanceRightBody').css('display', 'block');
            $('#divLoader').css('display', 'none');
        });

        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#divLoader').css('display', 'block');
            });

        });



        $("#AttendanceLink").click(function () {
            $('#AttendanceRightBody').css('display', 'none');
            $('#divLoader').css('display', 'block');
        });


        $(document).ready(function () {
            var events = [];
                $.ajax({
                    type: "GET",
                    url: "/Management/GetAttendanceDates",
                    data: { empid: @ViewData["EmployeeId"]},
                    success: function (data) {
                        $.each(data, function (i, v) {

                            console.log(v);
                            const words = v.split(' ');

                            if (v.includes("clockIN")) {
                                events.push({
                                    start: words[0],
                                    title: "clockIN" + " -> " + words[1],
                                    color: 'white',
                                });
                            }
                            else if (v.includes("clockOUT")) {
                                events.push({
                                    start: words[0],
                                    title: "clockOUT" + " -> " + words[1],
                                    color: 'white',
                                });
                            }
                            else if (v.includes("autoOUT")) {
                                events.push({
                                    start: words[0],
                                    title: "db autoOUT" + " -> " + words[1],
                                    color: '#fc5151',
                                });
                            }

                            eventOrder: 'color,start'

                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {

                    }
                })

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');

                    $('#calender').fullCalendar({
                        contentHeight: 660,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },

                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='32' height='30'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            } else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },

                        eventClick: function (calEvent, jsEvent, view) {
                            $.ajax({
                                url: '@Url.Action("GetSwipDetails", "Management")', 
                                data: { date: calEvent.start.format("YYYY-MM-DD"), empid: @ViewData["EmployeeId"]},
                                success: function (data) {
                                    var clockIN = [];
                                    var clockOUT = [];

                                    for (i = 0; i < data.length; i++) {
                                        if (i % 2 == 0) {
                                            clockIN.push(data[i]);
                                        }
                                        else {
                                            clockOUT.push(data[i]);
                                        }
                                    }

                                    $('#pDetails').html("");

                                    var duration = moment.duration('00:00:00')
                                    for (i = 0; i < data.length; i++) {
                                        if (i % 2 == 0) {
                                        }
                                        else {

                                            let startTime = Date.parse(data[i - 1].split(">")[0]);
                                            let endTime = Date.parse(data[i].split(">")[0]);

                                            var sessionstart= moment.unix(startTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                            var sessionend= moment.unix(endTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                            var ms = moment(sessionend,"DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart,"DD/MM/YYYY HH:mm:ss"));
                                            var d = moment.duration(ms);
                                            var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");
                                            
                                            $('#pDetails').html($('#pDetails').html() + '<tr><td style="font-size:12px; padding:0px">'+data[i - 1].split(">")[0]+'</td><td  style="font-size:12px; padding:0px">'+ data[i].split(">")[0] +'</td><td  style="font-size:12px; padding:0px">'+timeelapsed+'</td></tr>');

                                            duration = duration + moment.duration(timeelapsed).as('milliseconds')

                                        }
                                    }

                                    $('#myModal #eventTitle').empty().html("Net Duration --> " + moment.utc(duration).format("HH:mm:ss") + " (HH:MM:SS)");
                                    $('#myModal').modal();

                                    //var newDate = new Date();
                                    //alert(newDate)
                                }
                            });
                            //$('#myModal').modal();
                        }
                    })
                    $('#loading').css("display", "none")
                }
        });


        function pullAttendance(val) {

            $('.commonClass').css("background-color", "transparent")
            $('.'+val).css("background-color", "white")

            var events = [];
                $.ajax({
                    type: "GET",
                    url: "/Management/GetAttendanceDates",
                    data: { empid: val},
                    success: function (data) {
                        $.each(data, function (i, v) {

                            console.log(v);
                            const words = v.split(' ');

                            if (v.includes("clockIN")) {
                                events.push({
                                    start: words[0],
                                    title: "clockIN" + " -> " + words[1],
                                    color: 'white',
                                });
                            }
                            else if (v.includes("clockOUT")) {
                                events.push({
                                    start: words[0],
                                    title: "clockOUT" + " -> " + words[1],
                                    color: 'white',
                                });
                            }
                            else if (v.includes("autoOUT")) {
                                events.push({
                                    start: words[0],
                                    title: "db autoOUT" + " -> " + words[1],
                                    color: '#fc5151',
                                });
                            }

                            eventOrder: 'color,start'

                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {

                    }
                })

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');

                    $('#calender').fullCalendar({
                        contentHeight: 660,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },

                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='32' height='30'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            } else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },

                        eventClick: function (calEvent, jsEvent, view) {
                            $.ajax({
                                url: '@Url.Action("GetSwipDetails", "Management")', 
                                data: { date: calEvent.start.format("YYYY-MM-DD"), empid: val},
                                success: function (data) {
                                    var clockIN = [];
                                    var clockOUT = [];

                                    for (i = 0; i < data.length; i++) {
                                        if (i % 2 == 0) {
                                            clockIN.push(data[i]);
                                        }
                                        else {
                                            clockOUT.push(data[i]);
                                        }
                                    }

                                    $('#pDetails').html("");

                                    var duration = moment.duration('00:00:00')
                                    for (i = 0; i < data.length; i++) {
                                        if (i % 2 == 0) {
                                        }
                                        else {

                                            let startTime = Date.parse(data[i - 1].split(">")[0]);
                                            let endTime = Date.parse(data[i].split(">")[0]);

                                            var sessionstart= moment.unix(startTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                            var sessionend= moment.unix(endTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                            var ms = moment(sessionend,"DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart,"DD/MM/YYYY HH:mm:ss"));
                                            var d = moment.duration(ms);
                                            var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

                                            $('#pDetails').html($('#pDetails').html() + '<tr><td style="font-size:12px; padding:0px">'+data[i - 1].split(">")[0]+'</td><td  style="font-size:12px; padding:0px">'+ data[i].split(">")[0] +'</td><td  style="font-size:12px; padding:0px">'+timeelapsed+'</td></tr>');

                                            duration = duration + moment.duration(timeelapsed).as('milliseconds')

                                        }
                                    }

                                    $('#myModal #eventTitle').empty().html("Net Duration --> " + moment.utc(duration).format("HH:mm:ss") + " (HH:MM:SS)");
                                    $('#myModal').modal();

                                    //var newDate = new Date();
                                    //alert(newDate)
                                }
                            });
                            //$('#myModal').modal();
                        }
                    })
                }
        }


    </script>
</body>
</html>