
@model SeHubPortal.ViewModel.MyStaffViewModel
<style type="text/css">
    #active_status{
        height:20px;
        width:20px;
    }
</style>


@using (Html.BeginForm("EditEmployeeInfo", "Management", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">@Model.NewEmployee.full_name</h5>
            <div style="margin-left:20px;margin-top:5px;">
                @Html.CheckBoxFor(model => model.active_status, new { htmlAttributes = new { @class = "form-check-input", @type = "checkbox" } })
                @*<label class="form-check-label" for="inlineCheckbox1">Active</label>*@
            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>Employee ID</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.employee_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "required" } })
                        </div>

                        <div class="form-group col-md-2">
                            <label>Loc ID</label>
                            @*<input type="text" class="form-control">*@
                            @Html.DropDownListFor(model => model.NewEmployee.loc_ID, Model.MatchedStaffLocs, "select", new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group col-md-2">
                            <label>Sales ID</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.sales_id, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Work Number</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.cta_direct_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Cell Number</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.cta_cell, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Work Email ID</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.cta_email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Position</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.cta_position, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                    <hr style="border:1px solid  black" />
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>First Name</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.first_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Last Name</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.last_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-1">
                            <label>MI</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.middle_initial, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Date of Birth</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployee.Date_of_birth, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Personal Email</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.personal_email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Primary Phone</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.primary_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Secondary Phone</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.secondary_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Address 1</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.home_street1, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Address 2</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.home_street2, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>City</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.city, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            <label>Province</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.province, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Postal Code</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.postal_code, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            <label>Country</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.country, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                    <hr style="border:1px solid  black" />
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label style="color:red">Emergency Contact</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.emergency_contact_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            <label style="color:red">Phone Number</label>
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(model => model.NewEmployeePersonal.emergency_contact_number, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="form-group col-md-2">
                            <div class="col-lg-4">
                                <div class="form-check form-check-inline col-md-4">
                                    @*<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>*@
                                   
                                </div>                              
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Upload Image</label>
                            <input type="file" name="EmployeeImage" />
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:80px;">Cancel</button>

            <input type="submit" class="btn btn-success" value="Save" style="width:80px;" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {



    });
</script>