
@model SeHubPortal.ViewModel.FileURL
@{
    ViewBag.Title = "EmployeeFiles";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>


    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings == 3)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management_dashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.my_staff > 0)
    {
        <style>
            #MyStaffLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.attendance > 0)
    {
        <style>
            #AttendanceLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.asset_control > 0)
    {
        <style>
            #AssetControlLink {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.vacation_schedule > 0)
    {
        <style>
            #LeaveSchedulerLink {
                display: block !important;
            }
        </style>
    }



    <style>

        #ManagementClicked {
            display: block !important;
        }


        #ManagementClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #managementBtn {
            color: black;
            font-weight: 600;
        }

        #EmployeeFilesLink {
            display: block !important;
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }



        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

        .heading h2 {
            margin-top: 8px;
        }

        .card-header {
            background-color: #cde8ca;
        }

        
        .card-header h6 {
            color: black;
        }

        .renameModal {
            padding-left: 55% !important;
            padding-top: 18%;
        }

        .deleteModal {
            padding-left: 55% !important;
            padding-top: 18%;
        }
    </style>
</head>
<body>
    <div class="row heading">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white; height: 100%; margin-top: 0px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("EmployeeFiles", "Management")">Management</a></li>
                    <li class="breadcrumb-item " aria-current="page">Employee Files</li>
                    @if (Model.SehubAccess.employee_folder >= 2)
                    {
                        using (Html.BeginForm("UploadEmployeeFiles", "Management", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input for="Upload" type="text" readonly style="height:23px; width:100px; margin-left:450px" class="btn btn-success" name="name" value="Upload" onclick="document.getElementById('Upload').click()" />
                            <input id="Upload" type="file" name="CompanyDocument" style="height:23px; width:100px; margin-left:450px; display:none" onchange="form.submit()" />
                            <input id="1" type="text" data-toggle="modal" data-target="#SupplierDocManage" readonly style="height:23px; width:100px; margin-left:20px" class="btn btn-primary" name="name" value="Manage" />
                            @Html.HiddenFor(m => m.SelectedEmployeeId)
                        }

                        <lable style="float:right; margin-left:490px; margin-right:0px">Location</lable>
                        using (Html.BeginForm("ChangeLocEmployeeFiles", "Management", FormMethod.Post))
                        {
                            <div>

                                @Html.DropDownListFor(m => m.Location_ID, Model.LocationsList, "Select", new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:100px;height:23px;font-size:15px;margin-left:6px;" })
                                <noscript> <input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                            </div>
                        }


                    }
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <div class="payRollMainBody example" >
        <div class="row" style="padding:0px 30px 0px 30px">
            <div class="col-lg-2" style="padding-right:0px">
                @foreach (var items in Model.employeeList)
                {
                    if (Model.SelectedEmployeeId == items.employeeId)
                    {
                        <div class="row" style="cursor:pointer; font-weight:bold; padding:15px; background-color:white" onclick="location.href='@Url.Action("EmployeeFiles", "Management", new { locId = Model.Location_ID, employeeId=@items.employeeId})';">
                            @items.fullName
                        </div>
                    }
                    else
                    {
                        <div class="row" style="cursor:pointer; padding:15px; " onclick="location.href='@Url.Action("EmployeeFiles", "Management", new { locId = Model.Location_ID, employeeId=@items.employeeId})';">
                            @items.fullName
                        </div>
                    }

                }
            </div>
            <div class="col-lg-10" style="background-color:white">
                <div id="AttendanceRightBody">
                    <div class="row" style="height:740px; overflow-y: auto; overflow-x: hidden;">

                        @foreach (var items in Model.URLName)
                        {
                            <div id="div" class="col-md-2 text-center" style="padding: 20px">
                                <a id="anchor" class="btn" data-toggle="modal" data-target="#exampleModal" style="padding-left:0px" href=""><span style="display:none">@items.Key</span><p style="padding-left:0px; margin:0px"><img src="~/Content/doc-icon.png" style="width: 150px; border-color: white"></p></a>
                                <div style="word-wrap: break-word; white-space: normal; padding-top: 0px; color: cornflowerblue; font-size: 15px; margin-left: 30px; margin-right: 30px">
                                    <strong>@items.Value</strong>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="height:800px; width:1000px">
                                <div class="modal-body" style="padding:0px">
                                    <div>
                                        <iframe id="modal_content" src="" style="width:100%;height:880px;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AcknowledgmentModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:450px">
                                <div class="modal-header" style="padding:10px">
                                    <h5 class="modal-title" style="color:black"><strong>Acknowledgment</strong></h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8" style="color:black; padding-top:9%"><h6>successfully uploaded</h6></div>
                                        <div class="col-lg-4 text-right"><img id="EventImage" src="~/Content/uploadSuccess.png" style="width:100px; height:100px" /></div>
                                    </div>

                                </div>
                                <div class="modal-footer" style="padding:8px">
                                    <input type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style="height:25px; width:100px" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AcknowledgmentModalExist" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:450px">
                                <div class="modal-header" style="padding:10px">
                                    <h5 class="modal-title" style="color:black"><strong>Acknowledgment</strong></h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8" style="color:black; padding-top:9%"><h6>File already exists</h6></div>
                                        <div class="col-lg-4 text-right"><img id="EventImage" src="~/Content/doc-icon.png" style="width:100px; height:100px" /></div>
                                    </div>

                                </div>
                                <div class="modal-footer" style="padding:8px">
                                    <input type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style=" height: 25px; width: 100px" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="AcknowledgmentModalFormatNotSupported" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:450px">
                                <div class="modal-header" style="padding: 10px">
                                    <h5 class="modal-title" style="color:black"><strong>Acknowledgment</strong></h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8" style="color: black; padding-top: 5px">
                                            <p><h6>File Format Not Supported,</h6></p>
                                            <p><h6>Please contact IT Deparement at</h6></p>
                                            <p><h6>IT@citytire.com</h6></p>
                                        </div>
                                        <div class="col-lg-4 text-right" style="padding-top: 13px"><img id="EventImage" src="~/Content/FileNotSupported.png" style="width: 100px;height: 100px" /></div>
                                    </div>

                                </div>
                                <div class="modal-footer" style="padding:8px">
                                    <input type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style="height:25px; width:100px" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal manage fade" id="SupplierDocManage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg manageDialog" role="document"> 
                            <div class="modal-content" style="width:680px">
                                <div class="modal-body " style="padding:0px">
                                    <div class="card">
                                        <div class="card-header" style="padding: 8px 10px 3px 30px">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <h5><strong>Manage Employee Documents</strong></h5>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input style="width: 200px; border-radius: 4px; float: right " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search with name" title="Type in a name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body manageBody">

                                            <table id="myTable">
                                                @{
                                                    int i = 1;
                                                    foreach (var items in Model.URLName)
                                                    {
                                                        string k = i.ToString();
                                                        string Rename = "#R" + k;
                                                        string Delete = "#D" + k;
                                                        string Deleteid = Delete.Substring(1);
                                                        string Renameid = Rename.Substring(1);

                                                        using (Html.BeginForm("RenameEmployeeFiles", "Management", new { currentFileName = items.Value }, FormMethod.Post))
                                                        {
                                                            @Html.HiddenFor(m => m.SelectedEmployeeId)
                                                            <tr>
                                                                <td style="width:100px;">
                                                                    <a id="anchor" class="btn" data-toggle="modal" style="padding-left:0px" href=""><span style="display:none">@items.Key</span><p style="padding-left:0px; margin:0px"><img src="~/Content/doc-icon.png" style="width: 60px; border-color: white"></p></a>
                                                                </td>
                                                                <td style="width:410px;">
                                                                    <strong>@items.Value</strong>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-primary" style="padding:1px 15px 1px 15px" data-toggle="modal" data-target=@Rename>Rename</button>
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                    <button class="btn" data-toggle="modal" data-target=@Delete><img style="height:35px" src="~/Content/trash.png" /></button>
                                                                </td>

                                                                <td>
                                                                    <div class="modal fade renameModal" id=@Renameid role="dialog">
                                                                        <div class="modal-dialog modal-sm">
                                                                            <div class="modal-content" style="width:550px">
                                                                                <div class="modal-header" style="padding:3px 20px 3px 20px">
                                                                                    <h6 class="modal-title" style="color:black">Rename: @items.Value</h6>
                                                                                </div>
                                                                                <div class="modal-body" style="padding:3px 5px 3px 10px;">
                                                                                    <div class="row" style="padding:3px 0px 3px 3px; margin:0px">
                                                                                        <div class="col-md-8" style="padding-left:0px; padding-top:12px">@Html.EditorFor(m => m.RenameString, new { htmlAttributes = new { @required = "required", @style = "height:35px; width:330px", @value = "@items.Value" } })</div>
                                                                                        <div class="col-md-2" style="padding-top:1px"><button class="btn" type="submit"><img style="height:40px" src="~/Content/Tick.png" /></button></div>
                                                                                        <div class="col-md-2" style="padding-top:4px"><button class="btn" style="margin-left:8px" type="button" data-toggle="modal" aria-expanded="false" data-target=@Rename><img style="height:40px" src="~/Content/Cross.png" /></button></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="modal fade deleteModal" id=@Deleteid role="dialog">
                                                                        <div class="modal-dialog modal-sm">
                                                                            <div class="modal-content" style="width:550px">
                                                                                <div class="modal-header" style="padding:3px 20px 3px 20px">
                                                                                    <h6 class="modal-title" style="color:black">Please Confirm</h6>
                                                                                </div>
                                                                                <div class="modal-body" style="padding:3px 5px 3px 5px;">
                                                                                    <div class="row" style="padding-right:5px; margin:0px">
                                                                                        <div class="col-md-8" style="padding-top:17px"><label style="color:black">Delete: @items.Value</label></div>
                                                                                        <div class="col-md-2" style="padding-top:4px"><a class="btn" onclick="location.href='@Url.Action("DeleteEmployeeFiles", "Management", new { fileName = items.Value, employeeID = Model.SelectedEmployeeId})';"><img style="height:40px" src="~/Content/Tick.png" /></a></div>
                                                                                        <div class="col-md-2" style="padding-top:4px"><button class="btn" style="margin-left:8px" type="button" data-toggle="modal" aria-expanded="false" data-target=@Delete><img style="height:40px" src="~/Content/Cross.png" /></button></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }

                                                        i = i + 1;
                                                    }

                                                }

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script>
        $(document).ready(function () {

            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }


            var acknowledgment = getUrlVars()["ac"];
            if (acknowledgment == "success") {
                $("#AcknowledgmentModal").modal('show');
            }
            else if (acknowledgment == "FileAlreadyExists") {
                $("#AcknowledgmentModalExist").modal('show');
            }
            else if (acknowledgment == "WrongFormat") {
                $("#AcknowledgmentModalFormatNotSupported").modal('show');
            }



        });
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });



        $('#div a').click(function (e) {
            e.preventDefault()
            $that = $(this);
            $that.parent().find('a');
            var seleccionado = $(this).children("span").html();
            console.log(seleccionado);
            $('#modal_content').attr('src', seleccionado);

        });


    </script>

</body>

</html>

