@model SeHubPortal.ViewModel.FileURL
@{
    ViewBag.Title = "LeaveScheduler";
    Layout = "~/Views/Shared/_DevelopmentLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />

    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings == 3)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management_dashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.my_staff > 0)
    {
        <style>
            #MyStaffLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.attendance > 0)
    {
        <style>
            #AttendanceLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.asset_control > 0)
    {
        <style>
            #AssetControlLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.employee_folder > 0)
    {
        <style>
            #EmployeeFilesLink {
                display: block !important;
            }
        </style>
    }


    <style>
        .breadCrumb {
            background-color: white;
        }

        #DevelopmentClicked {
            display: block !important;
        }

        #LeaveSchedulerLink {
            display: block !important;
        }

        #DevelopmentClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #developmentBtn {
            color: black;
            font-weight: 600;
        }

        #LeaveSchedulerLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

            .fc-title {
            color: black;
        }

        .fc-widget-header {
            background-color: #343a40;
            color: white;
            font-size: 12px;
        }

        .fc-month-button {
            display:none;
        }

        .fc-agendaWeek-button {
            display:none;
        }

        .fc-agendaDay-button {
            display: none;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

    </style>
</head>
<body>
    <div class="row heading">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadCrumb" style=" background-color: white; height: 100%; margin-top: 0px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("LeaveScheduler", "Management")">Management</a></li>
                    <li class="breadcrumb-item " aria-current="page">Vacation Scheduler</li>
                    <label style="margin: 0px 3px 0px 1127px ">Location</label>
                    <div>

                        @Html.DropDownListFor(m => m.Location_ID, Model.LocationsList, new { @class = "text-center", @style = "text-align-last: center; width:100px; height:23px; margin-left:2px", @required = "required", @id = "Location" })

                    </div>
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>


    <div class="row" style="padding:0px 30px 0px 30px">
        <div class="col-md-12" style="background-color:white">
            <div class="row" style="margin:15px 0px 0px 0px; display:flex; justify-content:space-between; align-items:center">
                <div style="display:flex">
                    <b style="margin-right:10px">Sort By</b>
                    @using (Html.BeginForm("SortBy", "Management", FormMethod.Post))
                    {
                        List
                        <SelectListItem>
                        sortByItems = new List
                        <SelectListItem>
                        ();

                        sortByItems.Add(new SelectListItem
                        {
                            Text = "Select",
                            Value = "Select"
                        });

                        sortByItems.Add(new SelectListItem
                        {
                            Text = "Start Date",
                            Value = "Start Date"
                        });

                        sortByItems.Add(new SelectListItem
                        {
                            Text = "End Date",
                            Value = "End Date"
                        });
                        @Html.DropDownListFor(m => m.SortBy, sortByItems, new { @onChange = "this.form.submit()", @class = "text-center", @style = "text-align-last: center; width:100px; height:23px; margin-left:2px", @required = "required", @id = "Location" })
                    }
                </div>
                <div style="display:flex">
                    <b style="margin-right:10px">Callender Year</b>
                    @{
                        List
                        <SelectListItem>
                        YearList = new List
                        <SelectListItem>
                        ();


                        YearList.Add(new SelectListItem
                        {
                            Text = "2021",
                            Value = "2021"
                        });

                    }
                    @Html.DropDownListFor(m => m.Year, YearList, new { @class = "text-center", @style = "text-align-last: center; width:100px; height:23px; margin-left:2px", @required = "required", @id = "Location" })

                </div>
                <div style="display:flex">
                    <button class="btn btn-primary" style="padding:2px 20px 2px 20px" data-target="#NewLeave" data-toggle="modal">New Entry</button>
                </div>

            </div>
            <div id="calender" style="background-color:white; width:100%;"></div>
            <div class="row" style="margin:15px 0px 0px 0px; ">
                <table style="width:100%">
                    <thead style="text-align:center; background-color: #343a40; color:white" class="thead-dark">
                        <tr>
                            <th style="padding:0px; font-size:12px; margin:0px; width:8%" scope="col">Employee</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:8%" scope="col">Employee ID</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:20%" scope="col">Name</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:20%" scope="col">Start Date</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:20%" scope="col">End Date</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:8%" scope="col"># of Days</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:8%" scope="col">Edit</th>
                            <th style="padding:0px; font-size:12px; margin:0px; width:8%" scope="col">Delete</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
            <div class="row example" style="margin:0px; height:340px; overflow-y:auto">

                <table class="table ">
                    <tbody>
                        @foreach (var item in Model.vacations)
                        {
                            string base64ProfilePic = "";
                            if (Model.employeeVacList.Where(x => x.employee_id == item.empid).Select(x => x.profile_pic).FirstOrDefault() is null)
                            {
                                base64ProfilePic = "";
                            }
                            else
                            {
                                base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.employeeVacList.Where(x => x.employee_id == item.empid).Select(x => x.profile_pic).FirstOrDefault());
                            }
                            <tr>
                                <td style="width:8%;text-align:center">
                                    @if (base64ProfilePic == "")
                                    {
                                        <img src="~/Content/profilepic.jpg" style="width:30%; height:30px;" />
                                    }
                                    else
                                    {
                                        <img alt="profilePic" src="@base64ProfilePic" style="width:30%; height:30px;border-radius:50%" />
                                    }

                                </td>
                                <td style="width:8%; text-align:center">@item.empid</td>
                                <td style="width:20%; text-align:center">@Model.employeeVacList.Where(x => x.employee_id == item.empid).Select(x => x.full_name).FirstOrDefault()</td>
                                <td style="width:20%; text-align:center">@item.start_date.ToString("dd, MMM yyyy (dddd)")</td>
                                <td style="width:20%; text-align:center">
                                    @if (@item.end_date.HasValue)
                                    {
                                        @item.end_date.Value.ToString("dd, MMM yyyy (dddd)")
                                    }
                                </td>
                                <td style="width:8%; text-align:center">
                                    @{

                                        DateTime tempDate = item.start_date;
                                        int count = 0;




                                        while (tempDate != item.end_date)
                                        {

                                            if (tempDate.ToString("dddd") == "Sunday" || tempDate.ToString("dddd") == "Saturday")
                                            {

                                            }
                                            else
                                            {
                                                count = count + 1;
                                            }

                                            tempDate = tempDate.AddDays(1);

                                        }

                                        count = count + 1;

                                        <span>
                                            @count
                                        </span>
                                    }
                                </td>
                                <td style="width:8%; text-align: center">
                                    <button data-id="@item.empid" onclick="EditVacation(this.value)" value="@item.empid;@item.start_date.ToString("yyyy-MM-dd");@item.end_date.Value.ToString("yyyy-MM-dd");@item.leave_type;@item.comments " class="managePermissionsBtn" data-toggle="modal" data-target="#EditLeave" style="background-color: transparent;border: 1px solid transparent;text-align: center"><i class="fa fa-edit" style="font-size:20px;color:dodgerblue;float:right"></i></button>

                                </td>
                                <td style="width:8%; text-align: center">
                                    <button data-id="@item.empid" onclick="DeletVacation(this.value)" value="@item.empid;@item.start_date.ToString("yyyy-MM-dd");@item.end_date.Value.ToString("yyyy-MM-dd");" class="managePermissionsBtn" data-toggle="modal" data-target="#DeleteLeave" style="background-color: transparent;border: 1px solid transparent;text-align: center"><img style="padding:0x; margin:0px; width:15px" src="~/Content/trash.png" alt="Alternate Text" /></button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    

    <div class="modal fade" id="NewLeave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">

            @using (Html.BeginForm("NewLeave", "Management", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px 0px 5px 15px">
                        <h5 class="modal-title"><b>New Leave Details</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Start Date</b>
                            </div>
                            <div class="col-md-6 text-center">
                                <b>End Date</b>
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.employee.employee_id)

                        <div class="row">
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.newLeave.start_date, new { htmlAttributes = new { @min = System.DateTime.Today.ToString("yyyy-MM-dd"), @required = "required", @type = "date", @style = "text-align: center; font-size:15px;" } })
                            </div>
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.newLeave.end_date, new { htmlAttributes = new { @min = System.DateTime.Today.ToString("yyyy-MM-dd"), @required = "required", @type = "date", @style = "text-align: center; font-size:15px;" } })
                            </div>
                        </div>

                        <div class="row" style="padding:15px 40px 0px 40px">

                            @{
                                List
                                <SelectListItem>
                                listItems1 = new List
                                <SelectListItem>
                                ();
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Select Leave Type",
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Vacation",
                                    Value = "Vacation"
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Sick",
                                    Value = "Sick"
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Breavement",
                                    Value = "Breavement"
                                });

                            }

                            @Html.DropDownListFor(m => m.newLeave.leave_type, listItems1, new { @style = "width:100%" })

                        </div>
                        <div class="row" style="margin-top:15px">
                            <div class="col-md-12 text-center">
                                @Html.TextAreaFor(m => m.newLeave.comments, 4, 56, new { @placeholder = " Comments (Optional)" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button type="button" style="padding:2px 20px 2px 20px" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" style="padding:2px 30px 2px 30px" class="btn btn-success">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="modal fade" id="EditLeave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">

            @using (Html.BeginForm("EditLeave", "Management", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px 0px 5px 15px">
                        <h5 class="modal-title"><b>Edit Leave Details</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Start Date</b>
                            </div>
                            <div class="col-md-6 text-center">
                                <b>End Date</b>
                            </div>
                        </div>

                        @Html.EditorFor(m => m.editVacationEmployee, new { htmlAttributes = new { @id = "EditEmployee", @style = "display:none" } })

                        <div class="row">
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.EditLeave.start_date, new { htmlAttributes = new { @id = "EditEmployeeStart", @required = "required", @type = "date", @style = "text-align: center; font-size:15px;" } })
                            </div>
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.EditLeave.end_date, new { htmlAttributes = new { @id = "EditEmployeeEnd", @required = "required", @type = "date", @style = "text-align: center; font-size:15px;" } })
                            </div>
                        </div>

                        <div class="row" style="padding:15px 40px 0px 40px">

                            @{
                                List
                                <SelectListItem>
                                listItems1 = new List
                                <SelectListItem>
                                ();
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Select Leave Type",
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Vacation",
                                    Value = "Vacation"
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Sick",
                                    Value = "Sick"
                                });
                                listItems1.Add(new SelectListItem
                                {
                                    Text = "Breavement",
                                    Value = "Breavement"
                                });

                            }

                            @Html.DropDownListFor(m => m.EditLeave.leave_type, listItems1, new { @id = "EditEmployeeLeaveType", @style = "width:100%" })

                        </div>
                        <div class="row" style="margin-top:15px">
                            <div class="col-md-12 text-center">
                                @Html.TextAreaFor(m => m.EditLeave.comments, 4, 56, new { @id = "EditEmployeeComments", @placeholder = " Comments (Optional)" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button type="button" style="padding:2px 20px 2px 20px" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" style="padding:2px 30px 2px 30px" class="btn btn-success">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="modal fade" id="DeleteLeave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">

            @using (Html.BeginForm("DeleteLeave", "Management", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px 0px 5px 15px">
                        <h5 class="modal-title"><b>Delete Leave</b></h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <b>Start Date</b>
                            </div>
                            <div class="col-md-6 text-center">
                                <b>End Date</b>
                            </div>
                        </div>

                        @Html.EditorFor(m => m.editVacationEmployee, new { htmlAttributes = new { @id = "DeleteEmployee", @style = "display:none" } })

                        <div class="row">
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.EditLeave.start_date, new { htmlAttributes = new { @readonly = true, @id = "DeleteEmployeeStart", @required = "required", @type = "date", @style = " text-align: center; font-size:15px;" } })
                            </div>
                            <div class="col-md-6 text-center">
                                @Html.EditorFor(m => m.EditLeave.end_date, new { htmlAttributes = new { @readonly = true, @id = "DeleteEmployeeEnd", @required = "required", @type = "date", @style = "text-align: center; font-size:15px;" } })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:3px">
                        <button type="button" style="padding:2px 20px 2px 20px" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" style="padding:2px 30px 2px 30px" class="btn btn-success">Delete</button>
                    </div>
                </div>
            }

        </div>
    </div>

    <table style="display:none" id="results" width="360" border="1">
        <thead>
            <tr>
                <th scope="col" width="120">Date Created</th>
                <th scope="col" width="120">Name</th>
                <th scope="col" width="120">Tests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>04/04/2015</td>
                <td>Test Name 2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>09/08/2017</td>
                <td>Test Name 5</td>
                <td>2</td>
            </tr>
            <tr>
                <td>07/08/2015</td>
                <td>Test Name 4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>05/04/2015</td>
                <td>Test Name 3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>12/08/2017</td>
                <td>Test Name 6</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
    <button style="display:none" onclick="sortByDate()">Sort by date</button>

    <script>
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        function EditVacation(val) {
            //alert(val)

            let myArr = val.split(";");

            //alert(myArr[0] + myArr[1] + myArr[2] + myArr[3] + myArr[4])

            $('#EditEmployee').val(myArr[0])
            $('#EditEmployeeStart').val(myArr[1])
            $('#EditEmployeeEnd').val(myArr[2])
            $('#EditEmployeeLeaveType').val(myArr[3])
            $('#EditEmployeeComments').val(myArr[4])



        }

        function DeletVacation(val) {
            //alert(val)

            let myArr = val.split(";");

            //alert(myArr[0] + myArr[1] + myArr[2] + myArr[3] + myArr[4])

            $('#DeleteEmployee').val(myArr[0])
            $('#DeleteEmployeeStart').val(myArr[1])
            $('#DeleteEmployeeEnd').val(myArr[2])
        }

        function convertDate(d) {
            var p = d.split("/");
            return +(p[2] + p[1] + p[0]);
        }

        function sortByDate() {
            var tbody = document.querySelector("#results tbody");
            // get trs as array for ease of use
            var rows = [].slice.call(tbody.querySelectorAll("tr"));

            rows.sort(function (a, b) {
                return convertDate(a.cells[0].innerHTML) - convertDate(b.cells[0].innerHTML);
            });

            rows.forEach(function (v) {
                tbody.appendChild(v); // note that .appendChild() *moves* elements
            });
        }


    </script>

    <script>
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('.fc-month-button').style.display = 'none';
                $('.fc-agendaWeek-button').hide();
                $('.fc-agendaDay-button').hide();
            });

            $("#month").css('background-color', 'white');
            $("#month").css('color', '#008ce3');
            $("#month").css('border', '2px solid #008ce3');
        });

        $("#next").click(function () {
            $('.fc-next-button').click();
            $('#titleText').html($('.fc-center h2').html())
        });

        $("#prev").click(function () {
            $('.fc-prev-button').click();
            $('#titleText').html($('.fc-center h2').html())
        });

        $("#today").click(function () {
            $('.fc-today-button').click();
            $('#titleText').html($('.fc-center h2').html())
        });

        $("#month").click(function () {
            //alert($('.fc-event-title').html());
            $('.fc-month-button').click();
            $("#month").css('background-color', 'white');
            $("#month").css('color', '#008ce3');
            $("#month").css('border', '2px solid #008ce3');
            $("#basicWeek").css('background-color', '#008ce3');
            $("#basicWeek").css('color', 'white');
            $("#basicDay").css('background-color', '#008ce3');
            $("#basicDay").css('color', 'white');
            $('#titleText').html($('.fc-center h2').html())
        });

        $("#basicWeek").click(function () {
            $('.fc-agendaWeek-button').click();
            $("#basicWeek").css('border', '2px solid #008ce3');
            $("#basicWeek").css('background-color', 'white');
            $("#basicWeek").css('color', '#008ce3');
            $("#month").css('background-color', '#008ce3');
            $("#month").css('color', 'white');
            $("#basicDay").css('background-color', '#008ce3');
            $("#basicDay").css('color', 'white');
            $('#titleText').html($('.fc-center h2').html())
        });

        $("#basicDay").click(function () {
            $('.fc-agendaDay-button').click();
            $("#basicDay").css('border', '2px solid #008ce3');
            $("#basicDay").css('background-color', 'white');
            $("#basicDay").css('color', '#008ce3');
            $("#month").css('background-color', '#008ce3');
            $("#month").css('color', 'white');
            $("#basicWeek").css('background-color', '#008ce3');
            $("#basicWeek").css('color', 'white');
            $('#titleText').html($('.fc-center h2').html())
        });


    </script>
    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

        <script>
            $(document).ready(function () {
                var events = [];
                $.ajax({
                    type: "GET",
                    url: "/Management/GetVacationEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {

                            if (v.subject == 'Vacation') {
                                events.push({
                                    title: v.Description,
                                    description: v.subject,
                                    start: moment(v.start_date),
                                    end: moment(v.end_date),
                                    color: '#c9eaff',
                                    imageurl: '/Content/Vacation1.png',
                                });
                            }

                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        //alert('failed');
                    }
                })

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');

                    $('#calender').fullCalendar({
                        contentHeight: 300,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultView: 'basicWeek',
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function (event, eventElement) {
                            if (event.imageurl) {
                                eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl + "' width='32' height='30'>");
                            }
                        },


                        eventClick: function (calEvent, jsEvent, view) {
                            $('#myModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY")));
                            }
                            $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                            $('#myModal #pDetails').empty().html($description);
                            $('#myModal #EventImage').empty().attr("src", calEvent.imageurl);
                            $('#myModal').modal();
                        }



                    })

                    $('#titleText').html($('.fc-center h2').html())

                    $('.fc-center').css("display", "none");
                    $('.fc-prev-button').css("display", "none");
                    $('.fc-today-button').css("display", "none");
                    $('.fc-next-button').css("display", "none");

                }
                //$('h2').css("background-color", "red")
            })


        </script>

    }

</body>

</html>



