
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Management_Harpoon.cshtml";
}
@model SeHubPortal.ViewModel.MyStaffHarpoonViewModel

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@


        @if (Model.client_info.employees_page.Value)
        {
            <style>
                #ManagementClicked {
                    display: block !important;
                }
            </style>
        }
        @if (Model.client_info.fleet_page.Value)
        {
            <style>
                #VehicleClicked {
                    display: block !important;
                }
            </style>
        }

        @if (Model.AccessType == "Administrator")
        {
            <style>
                #SettingsClicked {
                    display: block !important;
                }

                #AttendanceLink {
                    display: block !important;
                }

                #SettingsLink {
                    display: block !important;
                }

                #EmployeeFilesLink {
                    display: block !important;
                }

                #TimeClockEventsLink {
                    display: block !important;
                }
            </style>
        }
        else if (Model.AccessType != "Shop Fireman")
        {
            <style>
                #AttendanceLink {
                    display: block !important;
                }

                #SettingsLink {
                    display: block !important;
                }

                #EmployeeFilesLink {
                    display: block !important;
                }

                #TimeClockEventsLink {
                    display: block !important;
                }
            </style>
        }

        <style>

            #ManagementClicked {
                display: block !important;
            }

            #DashboardClicked {
                display: block !important;
            }

            .example::-webkit-scrollbar {
                display: none;
            }

            .example {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }

            #ManagementClicked {
                background-color: #f0f2f5;
                color: black;
                font-weight: 600;
            }

            #managementBtn {
                font-weight: bold;
            }

            #SettingsLink {
                color: black;
                font-weight: 700;
                background-color: #f0f2f5;
            }

            body {
                background-color: #f0f2f5;
                padding-right: 0 !important;
            }

            .heading {
                margin: 10px 0px 0px 0px;
            }

                .heading h2 {
                    margin-top: 8px;
                }

            .card-header {
                background-color: #cde8ca;
            }

                .card-header h6 {
                    color: black;
                }

            .imageClass {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                object-fit: contain
            }

            .card {
                border: 1px solid #ededed;
                margin-bottom: 30px;
                border-radius: 10px;
            }

            .card {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                height: auto;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
            }

            p {
                font-size: 14px;
            }

            #MatchedStaffLocID {
                height: 30px;
                width: 100px;
            }
        </style>
    </head>
    
    <body>
        <div class="row heading">
            <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

                <div style="display:flex; justify-content:space-between; align-items:center">
                    <div>
                        <a href="@Url.Action("Employees", "SettingsHarpoon")">Employees </a>/ Employees
                    </div>
                    <input id="AddEmployeeBtn" readonly type="text" class="btn btn-success EmpTransBtns " data-toggle="modal" data-target="#AddEmployeeModal" value="Add" style="height:23px; width:100px;" />
                    <div style="display:flex; justify-content:space-around; align-items:center">
                        <label>Location</label>
                        @using (Html.BeginForm("Employees", "SettingsHarpoon", FormMethod.Post))
                        {
                            <div>
                                @Html.DropDownListFor(m => m.MatchedStaffLocID, Model.MatchedStaffLocs, new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:150px;height:23px;font-size:15px;margin-left:6px;" })

                                <noscript> <input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                <i class="fa fa-bars" style="font-size:25px"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>

        <div id="loading">
            <div style="display:flex; justify-content:center; align-items:center; width:100%; height:78vh">
                <img src="~/Content/giphy.gif" style="width:100px" alt="Alternate Text" />
            </div>
        </div>

        <div class="row" style="margin:0px 10px 20px 15px">
            <div class="row" style="margin:0px 0px 0px 0px;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" style="color:black;width:200px;text-align:center;" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="profile-tab" style="color:black;width:200px;text-align:center;" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">In-Active</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="height:700px; background-color:white">
                    <div class="tab-pane fade  show bg-white active" id="home" role="tabpanel" aria-labelledby="home-tab"  style="height:700px; width:1640px; background-color:white">
                        <div class="card-body example" style="max-height:705px; overflow-y:auto">
                            <!--Content tab-->
                            <div class="row people-grid-row">

                                @foreach (var employee in Model.employeeDetails)
                                {

                                    if (employee.status == 1)
                                    {
                                        string base64ProfilePic = "";
                                        if (employee.profile_pic != null)
                                        {
                                            base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@employee.profile_pic);
                                        }
                                         
                                        <div class="col-md-6 col-lg-6 col-xl-4">
                                            <div class="card shadow-sm">
                                                <button style="color:Black;background-color:white;text-align:left;border:transparent" data-id="@employee.employee_id" value="@employee.auto_emp_id>@employee.rfidPaired>@employee.employee_id>@employee.locationId>@employee.first_name>@employee.middle_initial>@employee.last_name>@employee.position>@employee.Date_of_birth>@employee.client_id>@employee.status>@base64ProfilePic" class="EditEmployeeBtn" data-toggle="modal" data-target="#editEmployeeModal" onclick="edit(this.value)">
                                                    @*href="@Url.Action("StaffInfo", "Management", new { values = @employee.employee_id})"*@
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-4 text-center">
                                                                <div class="booking-doc-img">
                                                                    @*<img src="~/Content/profilepic.jpg" alt="User Image">*@
                                                                    @if (base64ProfilePic == "")
                                                                    {
                                                                        <img class="imageClass" src="~/Content/profilepic.jpg" alt="ProfilePic" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="imageClass" alt="profilePic" style="" src="@base64ProfilePic" />
                                                                    }
                                                                </div>

                                                            </div>
                                                            <div class="col-md-8" style="padding-top:15px">
                                                                <h6 style="font-size:20px;">@employee.last_name, @employee.first_name</h6>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm"><b>@employee.position</b></p>
                                                                </div>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm">Employee ID : @employee.employee_id</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm">Date of birth : @employee.Date_of_birth.Value.ToString("MMMM dd, yyyy")</p>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </button>
                                            </div>

                                        </div>
                                    }


                                }
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade bg-white" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card-body example" style="max-height:705px; overflow-y:auto; width:1640px">

                            <div class="row people-grid-row">

                                @foreach (var employee in Model.employeeDetails)
                                {
                                    if (employee.status == 0)
                                    {
                                        string base64ProfilePic = "";
                                        if (employee.profile_pic != null)
                                        {
                                            //imag = "data:image/png;base64," + Convert.ToBase64String(@employee.profile_pic);
                                            base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@employee.profile_pic);
                                        }
                                        <div class="col-md-6 col-lg-6 col-xl-4">
                                            <div class="card shadow-sm">
                                                <button style="color:Black;background-color:white;text-align:left;border:transparent" data-id="@employee.employee_id" value="@employee.auto_emp_id>@employee.rfidPaired>@employee.employee_id>@employee.locationId>@employee.first_name>@employee.middle_initial>@employee.last_name>@employee.position>@employee.Date_of_birth>@employee.client_id>@employee.status>@base64ProfilePic" class="EditEmployeeBtn" data-toggle="modal" data-target="#editEmployeeModal" onclick="edit(this.value)">
                                                    @*href="@Url.Action("StaffInfo", "Management", new { values = @employee.employee_id})"*@
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-4 text-center">
                                                                <div class="booking-doc-img">
                                                                    @*<img src="~/Content/profilepic.jpg" alt="User Image">*@

                                                                    @if (base64ProfilePic == "")
                                                                    {
                                                                        <img class="imageClass" src="~/Content/profilepic.jpg" alt="ProfilePic" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="imageClass" alt="profilePic" src="@base64ProfilePic" />
                                                                    }

                                                                </div>

                                                            </div>
                                                            <div class="col-md-8" style="padding-top:15px">
                                                                <h6 style="font-size:20px;">@employee.last_name, @employee.first_name</h6>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm"><b>@employee.position</b></p>
                                                                </div>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm">Employee ID : @employee.employee_id</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mb-0 ctm-text-sm">Date of birth : @employee.Date_of_birth.Value.ToString("MMMM dd, yyyy")</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="AddEmployeeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                @using (Html.BeginForm("AddEmployee", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Employee</h5>
                        </div>
                        <div class="modal-body" style="padding:15px 30px 15px 30px">

                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12" style="width:100%; height:190px; border:2px solid dimgray">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="file" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-6" style="padding-right:0px">
                                            @Html.EditorFor(m => m.newemp.employee_id, new { htmlAttributes = new { @autocomplete="off", @oninput="CheckReq()", @id ="new_employee_id", @placeholder = "Employee ID", @style = "width:100%;", @required = "required", @onfocusout = "CheckIfEmpExist(this.value, this.id)" } })
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.DropDownListFor(m => m.newemp.auto_loc_id, Model.MatchedStaffLocs, new { @onchange="CheckReq()", @id ="new_loc_ID", @placeholder = "Location ID", @style = "width:100%; height:28px", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-10">
                                            @Html.EditorFor(m => m.newemp.first_name, new { htmlAttributes = new { @oninput="CheckReq()", @id ="new_first_name", @placeholder = "First Name", @style = "width:100%;", @required = "required" } })
                                        </div>
                                        <div class="col-lg-2" style="padding-left:0px">
                                            @Html.EditorFor(m => m.newemp.middle_initial, new { htmlAttributes = new {@id ="new_middle_initial", @type = "text", @placeholder = "MI", @style = "width:100%;", @maxlength = "2" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.newemp.last_name, new { htmlAttributes = new { @oninput="CheckReq()", @id ="new_last_name", @placeholder = "Last Name", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.newemp.position, new { htmlAttributes = new { @oninput="CheckReq()", @id ="new_position", @placeholder = "Position", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.newemp.Date_of_birth, new { htmlAttributes = new { @onchange="CheckReq()", @id ="new_Date_of_birth", @type="date", @placeholder = "Date of birth", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="addSubmit" style="display:none; padding:2px 30px 2px 30px" type="submit" class="btn btn-success">Save</button>
                            <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                }


            </div>
        </div>

        <script>
            function CheckReq() {
                if ($('#new_employee_id').val() != "" && $('#new_loc_ID').val() != "" && $('#new_first_name').val() != "" && $('#new_last_name').val() != "" && $('#new_last_name').val() != "" && $('#new_position').val() != "" && $('#new_Date_of_birth').val() != "") {
                    $('#addSubmit').css("display", "block")
                }
                else {
                    $('#addSubmit').css("display", "none")
                }
            }
        </script>

        <div class="modal" id="editEmployeeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

                @using (Html.BeginForm("EditEmployee", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-content">
                        <div class="modal-header" style="padding:5px 70px 5px 15px">
                            <h5 class="modal-title">Edit Employee</h5>
                            
                            <div class="custom-control custom-switch">
                                <label id="inactive" style="margin-right:40px">
                                    In-Active
                                </label>

                                @Html.EditorFor(m => m.status, new { htmlAttributes = new { @id = "status", @class = "custom-control-input", @type = "checkbox" } })

                                <label id="active" class="custom-control-label" for="status">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="modal-body" style="padding:15px 30px 15px 30px">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12" style="width:100%; height:190px; border:2px solid dimgray">
                                            <img id="profile_pic" style="width:100%; height:100%; object-fit:cover;" src="#" alt="Alternate Text" />
                                        </div>
                                        @Html.EditorFor(m => m.ediemp.client_id, new { htmlAttributes = new { @id = "client_id", @placeholder = "Employee ID", @required = "required", @style = "display:none; width:100%" } })
                                        @Html.EditorFor(m => m.ediemp.auto_emp_id, new { htmlAttributes = new { @id = "auto_emp_id", @placeholder = "Employee ID", @required = "required", @style = "display:none; width:100%" } })
                                    </div>
                                    <div class="row">
                                        <input type="file" onchange="loadFile(event)" name="employeeImage" value="" />
                                    </div>
                                </div>
                                <div class="col-lg-7" style="padding-right:0px">
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-6" style="padding-right:0px">
                                            @Html.EditorFor(m => m.ediemp.employee_id, new { htmlAttributes = new { @id = "employee_id", @placeholder = "Employee ID", @style = "width:100%;", @required = "required", @onfocusout = "CheckIfEmpExist(this.value, this.id)" } })
                                        </div>
                                        <div class="col-lg-6">
                                            @Html.DropDownListFor(m => m.ediemp.locationId, Model.MatchedStaffLocs, new { @id = "loc_ID", @placeholder = "Location ID", @style = "width:100%;", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-10">
                                            @Html.EditorFor(m => m.ediemp.first_name, new { htmlAttributes = new { @id = "first_name", @placeholder = "First Name", @style = "width:100%;", @required = "required" } })
                                        </div>
                                        <div class="col-lg-2" style="padding-left:0px">
                                            @Html.EditorFor(m => m.ediemp.middle_initial, new { htmlAttributes = new { @id = "middle_initial", @placeholder = "MI", @style = "width:100%;"} })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.ediemp.last_name, new { htmlAttributes = new { @id = "last_name", @placeholder = "Last Name", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.ediemp.position, new { htmlAttributes = new { @id = "position", @placeholder = "Position", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12">
                                            @Html.EditorFor(m => m.ediemp.Date_of_birth, new { htmlAttributes = new { @id = "Date_of_birth", @type = "date", @placeholder = "Date of birth", @style = "width:100%;", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-12" >
                                            @Html.EditorFor(m => m.ediemp.rfidPaired, new { htmlAttributes = new { id = "editRfid", @style = "width:155px; font-size:15px", @required = "required", @readonly = true } })
                                            <button id="clearRfId" type="button" onclick="clearRfid()" class="btn btn-secondary" style="float:right; margin-left:10px; width:90px; height:30px; padding-top:0px">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer" style="padding:5px">
                            <button style="padding:2px 30px 2px 30px" type="submit" class="btn btn-success">Save</button>
                            <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                }

            </div>
        </div>

        <script>

            var loadFile = function(event) {
                var output = document.getElementById('profile_pic');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                  URL.revokeObjectURL(output.src) // free memory
                }
            };

            function CheckIfEmpExist(val, id) {

                $.ajax({
                    url: '@Url.Action("checkEmpIdLeangth", "SettingsHarpoon")',
                    data: { empid: val },
                    type: 'POST',
                    async:false,
                    success: function (data) {
                        if (data == "False") {
                            alert("Minimum employee-ID length is not satisfied!")
                            $('#' + id).val("")
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action("checkEmpForClient", "SettingsHarpoon")',
                                data: { empid: val },
                                type: 'POST',
                                async:false,
                                success: function (data) {
                                    if (data == "True") {
                                        alert("Employee already exest!")
                                        $('#'+id).val("")
                                    }
                                }
                            });
                        }
                    }
                });
            }

            $(window).on('load', function () {
                $('#loading').css('display', 'none');
            });


            $(document).ready(function () {
                $('#clickThis').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $('#divLoader').css('display', 'block');
                });

            });

            function clearRfid() {
                $('#editRfid').val("No Key Fob Assigned")
            }

            $("#status").on('change', function () {
                if ($(this).is(':checked')) {
                    $('#active').css("font-weight", "bold")
                    $('#inactive').css("font-weight", "normal")
                }
                else {
                    $('#active').css("font-weight", "normal")
                    $('#inactive').css("font-weight", "bold")
                }
            });

            function edit(val) {
                arr = val.split(">")
                $('#auto_emp_id').val(arr[0])
                $('#employee_id').val(arr[2])
                $('#loc_ID').val(arr[3])
                $('#first_name').val(arr[4])
                $('#middle_initial').val(arr[5])
                $('#last_name').val(arr[6])
                $('#position').val(arr[7])
                $('#Date_of_birth').val(moment(arr[8].split(" ")[0].replace("-", "/")).format("YYYY-MM-DD"))
                
                $('#client_id').val(arr[9])
                if (arr[10] == 1) {
                    $('#status').prop('checked', true);
                    $('#active').css("font-weight", "bold")
                    $('#inactive').css("font-weight", "normal")
                }
                else {
                    $('#status').prop('checked', false);
                    $('#active').css("font-weight", "normal")
                    $('#inactive').css("font-weight", "bold")
                }

                if (arr[11] != "") {
                    $("#profile_pic").attr("src", arr[11]);
                }
                else {
                    $("#profile_pic").attr("src", "/Content/profilepic.jpg");
                }

                
                if (arr[1] != "NO") {
                    $('#editRfid').val("Key Fob Paired")
                    $('#editRfid').css("width", "155px")
                    $('#clearRfId').css("display", "block")
                }
                else {
                    $('#editRfid').val("No Key Fob Assigned")
                    $('#editRfid').css("width", "100%")
                    $('#clearRfId').css("display", "none")
                }
                
            }

             $(document).ready(function () {
                 $('#profile-tab').css({ "font-weight": "normal", "color": "#24a0ed" });
                 $('#home-tab').css({ "font-weight": "bold", "color": "black" });
                 $('#nav-home-tab').on("click", function () {
                     $('#profile-tab').css({ "font-weight": "normal","color": "#24a0ed"});
                     $('#home-tab').css({ "font-weight": "bold", "color": "black" });
                 })

                 $('#profile-tab').on("click", function () {
                     $('#profile-tab').css({ "font-weight": "bold", "color": "black" });
                     $('#home-tab').css({ "font-weight": "normal", "color": "#24a0ed" });
                 })

             });

        </script>
    </body>

    </html>

