
@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Settings_Harpoon.cshtml";
}

@model SeHubPortal.ViewModel.HarpoonLocationsViewModel

    <html lang="en">
        <head>
            <meta name="viewport" content="width=device-width" />
            <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

            @if (Model.client_info.employees_page.Value)
            {
                <style>
                    #ManagementClicked {
                        display: block !important;
                    }
                </style>
            }
            @if (Model.client_info.fleet_page.Value)
            {
                <style>
                    #VehicleClicked {
                        display: block !important;
                    }
                </style>
            }

            <style>

                #SettingsClicked {
                    display: block !important;
                }

                #ManagementClicked {
                    display: block !important;
                }

                .example::-webkit-scrollbar {
                    display: none;
                }

                .example {
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                }

                #LocationsClicked {
                    background-color: #f0f2f5;
                    color: black;
                    font-weight: 600;
                }

                #SettingsClicked {
                    background-color: #f0f2f5;
                    color: black;
                    font-weight: 600;
                }

                .settingsBtn {
                    font-weight: bold;
                }

                #LocationsLink {
                    color: black;
                    font-weight: 700;
                    background-color: #f0f2f5;
                }

                body {
                    background-color: #f0f2f5;
                    padding-right: 0 !important;
                }

                .heading {
                    margin: 10px 0px 0px 0px;
                }

                    .heading h2 {
                        margin-top: 8px;
                    }

                .card-header {
                    background-color: #cde8ca;
                }

                    .card-header h6 {
                        color: black;
                    }

                .imageClass {
                    width: 100%;
                    height: 80%;
                    border-radius: 50%;
                }

                .card {
                    border: 1px solid #ededed;
                    margin-bottom: 30px;
                    border-radius: 10px;
                }

                .card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    height: auto;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid rgba(0,0,0,.125);
                    border-radius: .25rem;
                }

                p {
                    font-size: 14px;
                }

                #MatchedStaffLocID {
                    height: 30px;
                    width: 100px;
                }
            </style>
        </head>
        <body>


            <div class="row heading">

                <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

                    <div style="display:flex; justify-content:space-between; align-items:center">
                        <div>
                            <a href="@Url.Action("Locations", "SettingsHarpoon")">Settings </a>/ Locations
                        </div>
                        <div style="display:flex; justify-content:space-around; align-items:center">
                            <label style="visibility:hidden">Location</label>
                        </div>
                    </div>
                </div>

                <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                    <i class="fa fa-bars" style="font-size:25px"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>

            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12" style="padding:0px 30px 0px 30px">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card shadow-md btn" data-toggle="modal" data-target="#Full" style="padding-top:10px; width:100%; border:4px solid #ffcc00; border-radius:5px; margin-right:15px">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <img src="~/Content/Location1.png" style="margin:10px; height:100px" alt="Alternate Text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row" style="color:dimgray">
                                            <div class="col-md-12 text-center">
                                                <div class="row" style="margin-bottom:15px">
                                                    <div class="col-md-12" style="display:flex; justify-content:space-between; align-items:center">
                                                        <div></div>
                                                        <h4 style="font-weight:bolder; color:#ffcc00"><u>Location</u></h4>
                                                        <img onclick="$('.locationsRow').css('display', 'none'); $('.commonloc').css('display', 'none'); $('.locinvisible').css('display', 'block'); " class="locvisible commonloc" style="cursor:pointer; width: 25px;" src="~/Content/visible.png" alt="Alternate Text" />
                                                        <img onclick="$('.locationsRow').css('display', 'block'); $('.commonloc').css('display', 'none'); $('.locvisible').css('display', 'block'); " class="locinvisible commonloc" style="display:none; cursor:pointer; width: 25px;" src="~/Content/invisible.png" alt="Alternate Text" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Physical location with employees.
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Individual <b><i>TimeClock</i></b> required.
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#AddLocation" style="padding:0px 5px; font-weight:bold">+</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Locations.Count > 0)
                        {
                            <div class="col-md-4">
                                <div class="card shadow-md btn" data-toggle="modal" data-target="#Full" style="padding-top:10px; width:100%; border:4px solid #ffcc00; border-radius:5px; margin-right:15px">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <img src="~/Content/departments1.png" style="margin:10px; height:100px" alt="Alternate Text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row" style="color:dimgray">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center" style="display:flex; justify-content:space-between; align-items:center">
                                                            <div></div>
                                                            <h4 style="font-weight:bolder; color:#ffcc00"><u>Department</u></h4>
                                                            <img onclick="$('.departmentsRow').css('display', 'none'); $('.commondep').css('display', 'none'); $('.depinvisible').css('display', 'block'); " class="depvisible commondep" style="cursor:pointer; width: 25px;" src="~/Content/visible.png" alt="Alternate Text" />
                                                            <img onclick="$('.departmentsRow').css('display', 'block'); $('.commondep').css('display', 'none'); $('.depvisible').css('display', 'block'); " class="depinvisible commondep" style="display:none; cursor:pointer; width: 25px;" src="~/Content/invisible.png" alt="Alternate Text" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:15px">
                                                        <div class="col-md-12">
                                                            Isolate employee Attendance within a location.
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            Individual <b><i>TimeClock</i></b> required
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#AddDepartment" style="padding:0px 5px; font-weight:bold">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-4" style="display:none">
                            <div class="card shadow-md btn" data-toggle="modal" data-target="#Full" style="padding-top:10px; width:100%; border:4px solid #ffcc00; border-radius:5px; margin-right:15px">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <img src="~/Content/timeClock1.png" style="margin:10px; height:100px" alt="Alternate Text" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row" style="color:dimgray">
                                            <div class="col-md-12 ">
                                                <div class="row">
                                                    <div class="col-md-12 text-center" style="display:flex; justify-content:space-between; align-items:center">
                                                        <img style="visibility: hidden; width: 25px;" src="~/Content/visible.png" alt="Alternate Text" />
                                                        <h4 style="font-weight:bolder; color:#ffcc00"><u>Job Clock</u></h4>
                                                        <img onclick="$('.jobClockRow').css('display', 'none'); $('.commonjob').css('display', 'none'); $('.jobinvisible').css('display', 'block'); " class="jobvisible commonjob" style="cursor:pointer; width: 25px;" src="~/Content/visible.png" alt="Alternate Text" />
                                                        <img onclick="$('.jobClockRow').css('display', 'block'); $('.commonjob').css('display', 'none'); $('.jobvisible').css('display', 'block'); " class="jobinvisible commonjob" style="display:none; cursor:pointer; width: 25px;" src="~/Content/invisible.png" alt="Alternate Text" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Assign job ID to employee time.
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        VIA Employees > Attendance <u>ONLY</u>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        Individual <b><i>JobClock</i></b> (Not Available)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="example" style="height:570px; overflow-y:auto">
                <div class="row" style="display:flex; padding: 0px 30px 0px 30px">
                    @foreach (var user in Model.Locations)
                    {
                        <div class="card shadow-lg commonRow locationsRow" type="button" style="margin-right:15px; position:relative; width:250px; height:355px">
                            @if (user.status == 1)
                            {
                                <div class="card-body text-center" style="height:270px; font-size:11px; padding:10px 0px 0px 0px">

                                    <div class="row" style="margin:0px">
                                        <div class="col-lg-8 text-left" style="display:flex; padding-top:0px; align-items:normal">

                                        </div>
                                        <div class="col-lg-4 text-right" style="padding:0px">
                                            <span>
                                                <button value="@user.location_id;@user.location_name;@user.address1;@user.address2;@user.city;@user.province;@user.postal_code;@user.country;@user.phone;@user.fax;@user.google_maps;@user.auto_loc_id;@user.status" onclick="edit(this.value)" data-toggle="modal" data-target="#EditHarpoonLocation" style="background-color: transparent;border: none;outline: none;">
                                                    <i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <img src="~/Content/Location.png" style="margin-bottom:10px;width:120px;">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Location ID
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.location_id</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Location Name
                                        </div>
                                        <div class="col-lg-6 text-left" style="        padding-left: 10px;
        ">
                                            <span><b>@user.location_name</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Address
                                        </div>
                                        <div class="col-lg-7 text-left" style="font-weight:bold; padding-left:10px; padding-right:20px">
                                            <span>
                                                @if (user.address1.Length > 19)
                                                {
                                                    @user.address1.Substring(0, 18)
                                                }
                                                else
                                                {
                                                    @user.address1
                                                }
                                            </span><br />
                                            @if (user.address2 != null)
                                            {
                                                <span>@user.address2</span><br />
                                            }
                                            <span>@user.city</span><br />
                                            <span>@user.province, @user.postal_code, @user.country</span>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Phone
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.phone</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            FAX
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.fax</b></span>
                                        </div>
                                    </div>


                                </div>
                            }
                            else
                            {
                                <div class="card-body text-center" style="opacity:0.2; height:270px; font-size:11px; padding:10px 0px 0px 0px">

                                    <div class="row" style="margin:0px">
                                        <div class="col-lg-8 text-left" style="display:flex; padding-top:0px; align-items:normal">

                                        </div>
                                        <div class="col-lg-4 text-right" style="padding:0px">
                                            <span>
                                                <button value="@user.location_id;@user.location_name;@user.address1;@user.address2;@user.city;@user.province;@user.postal_code;@user.country;@user.phone;@user.fax;@user.google_maps;@user.auto_loc_id;@user.status" onclick="edit(this.value)" data-toggle="modal" data-target="#EditHarpoonLocation" style="background-color: transparent;border: none;outline: none;">
                                                    <i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <img src="~/Content/Location.png" style="margin-bottom:10px;width:120px;">
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Location ID
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.location_id</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Location Name
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.location_name</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Address
                                        </div>
                                        <div class="col-lg-7 text-left" style="font-weight:bold; padding-left:10px;">
                                            <span>@user.address1</span><br />
                                            @if (user.address2 != null)
                                            {
                                                <span>@user.address2</span><br />
                                            }
                                            <span>@user.city</span><br />
                                            <span>@user.province, @user.postal_code, @user.country</span>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            Phone
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.phone</b></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-5 text-right" style="padding-left:5px; padding-right:0px">
                                            FAX
                                        </div>
                                        <div class="col-lg-7 text-left" style="padding-left:10px;">
                                            <span><b>@user.fax</b></span>
                                        </div>
                                    </div>


                                </div>
                            }


                            @if (user.status == 1)
                            {
                            }
                            else
                            {
                                <img src="~/Content/inactive.png" style="transform: rotate(-45deg); width:200px; top:140px;left:30px;position:absolute" />
                            }


                        </div>
                    }
                    @foreach (var dep in Model.Departments)
                    {
                        <div class="card shadow-lg  commonRow departmentsRow" type="button" style="margin-right:15px; position:relative; width:250px; height:355px">
                            <div class="card-body text-center" style="height:270px; font-size:11px; padding:10px 15px 0px 15px">

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-8 text-left" style="display:flex; padding-top:0px; align-items:normal">

                                    </div>
                                    <div class="col-lg-4 text-right" style="padding:0px">
                                        <span>
                                            <button value="" onclick="edit(this.value)" data-toggle="modal" data-target="#" style="background-color: transparent;border: none;outline: none;">
                                                <i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <img src="~/Content/departments.png" style="margin-bottom:10px;width:120px;">
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Department ID
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <span><b>@dep.auto_department_id</b></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Department Name
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left: 10px;">
                                        <span><b>@dep.department_name</b></span>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Physical Location
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input style="width:70%" type="text" name="name" value="@dep.loc_id_installation" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Pairing Location
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input style="width:70%" type="text" name="name" value="@dep.loc_id_pairing" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    @foreach (var job in Model.JobClocks)
                    {
                        <div class="card shadow-lg commonRow jobClockRow" type="button" style="margin-right:15px; position:relative; width:250px; height:355px">
                            <div class="card-body text-center" style="height:270px; font-size:11px; padding:10px 15px 0px 15px">

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-8 text-left" style="display:flex; padding-top:0px; align-items:normal">

                                    </div>
                                    <div class="col-lg-4 text-right" style="padding:0px">
                                        <span>
                                            <button value="" onclick="edit(this.value)" data-toggle="modal" data-target="#" style="background-color: transparent;border: none;outline: none;">
                                                <i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <img src="~/Content/timeClock.jpg" style="margin-bottom:10px;width:120px;">
                                    </div>
                                </div>

                                <div class="row" style="margin-top:10px">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        JobClock ID
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <span><b>@job.jobclock_id</b></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        JobClock Name
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left: 10px;">
                                        <span><b>@job.name</b></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Available to all loc
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input type="checkbox" name="name" value="@job.available_to_all_locations" />
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Parent Location
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input style="width:70%" type="text" name="name" value="@job.parent_location" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Admin
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input type="checkbox" name="name" value="@job.admin" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 text-right" style="padding-left:5px; padding-right:0px">
                                        Clocking Comments
                                    </div>
                                    <div class="col-lg-6 text-left" style="padding-left:10px;">
                                        <input style="width:70%" type="text" name="name" value="@job.clocking_comments" />
                                    </div>
                                </div>


                            </div>

                        </div>
                    }
                </div>
            </div>

            <div class="modal" id="AddLocation" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5 style="margin-left:auto; margin-right:auto" class="modal-title">Add Location</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("AddLocation", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="row" style="padding-top:15px">
                                            <div class="col-md-12">

                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-md-12 text-center">
                                                        <img style="width:30%" src="~/Content/Location.png" alt="Alternate Text" />
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Location ID
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.location_id, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_location_id", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Location Name
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.location_name, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_location_name", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Address 1
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.address1, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_address1", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Address 2
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.address2, new { htmlAttributes = new { @id = "new_address2", @style = "width:100%" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        City
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.city, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_city", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Province
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.province, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_province", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Postal Code
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.postal_code, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_postal_code", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Country
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.country, new { htmlAttributes = new { @oninput = "checkRequired()", @id = "new_country", @style = "width:100%; border:1px solid red", @required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Phone
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.phone, new { htmlAttributes = new { @type = "text", @onfocusout = "checkRequired()", @oninput = "phoneFormat(this.value, this.id)", @id = "new_phone", @style = "width:100%; border:1px solid red", @required = "required", @maxlength = "14" } })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Fax
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newLocation.fax, new { htmlAttributes = new { @oninput = "phoneFormat(this.value, this.id)", @id = "new_fax", @style = "width:100%;", @maxlength = "14" } })
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row" style="padding:0px 20px 0px 20px">
                                                    <div class="col-lg-5 text-left" style="padding-left:0px; color:red; padding-bottom:0px">
                                                    </div>
                                                    <div class="col-lg-7 text-right" style="padding-right:0px">
                                                        <button id="newSubmit" style="padding:2px 30px 2px 30px; visibility:hidden" type="submit" class="btn btn-success">Save</button>
                                                        <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="AddDepartment" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5 style="margin-left:auto; margin-right:auto" class="modal-title">Add Department</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("AddDepartment", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="row" style="padding-top:15px">
                                            <div class="col-md-12">

                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-md-12 text-center">
                                                        <img style="width:30%" src="~/Content/departments.png" alt="Alternate Text" />
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Department ID
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newDepartment.auto_department_id, new { htmlAttributes = new { @style = "width:100%;", @required = "required" } })
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Department Name
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.EditorFor(m => m.newDepartment.department_name, new { htmlAttributes = new { @style = "width:100%", @required = "required" } })
                                                    </div>
                                                </div>
                                                
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Physical location
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.DropDownListFor(m => m.newDepartment.loc_id_installation, Model.LocationsList, new { @type = "text", @style = "text-align-last: center;width:100%;" })
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-lg-5 text-right">
                                                        Pairing Location
                                                    </div>
                                                    <div class="col-lg-6">
                                                        @Html.DropDownListFor(m => m.newDepartment.loc_id_pairing, Model.LocationsList, new { @type = "text", @style = "text-align-last: center;width:100%;" })
                                                    </div>
                                                </div>
                                                
                                                <hr />
                                                <div class="row" style="padding:0px 20px 0px 20px">
                                                    <div class="col-lg-5 text-left" style="padding-left:0px; color:red; padding-bottom:0px">
                                                    </div>
                                                    <div class="col-lg-7 text-right" style="padding-right:0px">
                                                        <button style="padding:2px 30px 2px 30px;" type="submit" class="btn btn-success">Save</button>
                                                        <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="EditHarpoonLocation" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">

                    @using (Html.BeginForm("EditLocation", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="modal-content">
                            <div class="modal-header" style="padding-right:120px">
                                <h5 class="modal-title">Edit Location</h5>
                                <div class="custom-control custom-switch">
                                    <label id="inactive" style="margin-right:40px">
                                        In-Active
                                    </label>

                                    @Html.EditorFor(m => m.status, new { htmlAttributes = new { @style = "font-size:30px", @id = "status", @class = "custom-control-input", @type = "checkbox" } })

                                    <label id="active" class="custom-control-label" for="status">
                                        Active
                                    </label>
                                </div>
                            </div>
                            <div class="modal-body">

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-12 text-center">
                                        <img src="~/Content/Location.png" style="margin-bottom:10px;width:100px;">
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Location ID
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.location_id, new { htmlAttributes = new { @id = "location_id", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Location name
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.location_name, new { htmlAttributes = new { @id = "location_name", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Address 1
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.address1, new { htmlAttributes = new { @id = "address1", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Address 2
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.address2, new { htmlAttributes = new { @id = "address2", @style = "width:100%" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        City
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.city, new { htmlAttributes = new { @id = "city", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Province
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.province, new { htmlAttributes = new { @id = "province", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Postal Code
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.postal_code, new { htmlAttributes = new { @id = "postal_code", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Country
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.country, new { htmlAttributes = new { @id = "country", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Phone
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.phone, new { htmlAttributes = new { @id = "phone", @style = "width:100%; border: 1px solid red", @required = "required" } })
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-5 text-right">
                                        Fax
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.fax, new { htmlAttributes = new { @id = "fax", @style = "width:100%;" } })
                                    </div>
                                </div>
                                <div class="row" style="display:none">
                                    <div class="col-lg-5 text-right">
                                        Auto ID
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.EditLocation.auto_loc_id, new { htmlAttributes = new { @id = "auto_id", @style = "width:100%;", @required = "required" } })
                                    </div>
                                </div>
                                <hr />
                                <div class="row" style="padding:0px 20px 0px 20px">
                                    <div class="col-lg-5 text-left" style="padding-left:0px; color:red; padding-bottom:0px">
                                    </div>
                                    <div class="col-lg-7 text-right" style="padding-right:0px; padding-bottom:0px">
                                        <button style="padding:2px 30px 2px 30px" type="submit" class="btn btn-success">Save</button>
                                        <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }

                </div>
            </div>

            <div class="modal" id="DeletePopup" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    @using (Html.BeginForm("DeleteLocation", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="modal-content" style="width:400px">
                            <div class="modal-header" style="padding:5px 5px 5px 15px">
                                <h5 class="modal-title">Confirm to delete</h5>
                            </div>
                            <div class="modal-body" style="">

                                <div class="row">
                                    <div class="col-lg-6" style="font-size:40px">
                                        Location
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.deleteLocation, new { htmlAttributes = new { @readonly = true, @id = "deleteLoc", @style = "text-align:center; width:100%; font-size:40px", @required = "required" } })
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer" style="padding:5px">
                                <button type="submit" style="padding:3px 20px 3px 20px" class="btn btn-success">Yes</button>
                                <button type="button" data-dismiss="modal" style="padding:3px 25px 3px 25px" class="btn btn-danger">No</button>
                            </div>
                        </div>
                    }


                </div>
            </div>

            <div class="modal" id="OperationsNotPresent" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">

                    <div class="modal-content" style="width:600px">
                        <div class="modal-header" style="padding:5px 5px 5px 15px">
                            <h5 class="modal-title">Acknowledgement</h5>
                        </div>
                        <div class="modal-body" style="padding-bottom:0px">

                            <div class="row" style="margin-bottom:15px">
                                <div class="col-lg-12 text-center">
                                    <h6>
                                        <b>
                                            Please complete hours of operation via the Settings / Account page.
                                        </b>
                                    </h6>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer" style="padding:5px">
                            <button onclick="location.reload()" data-dismiss="modal" style="padding:3px 30px 3px 30px" class="btn btn-danger" type="button">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <script>

                function checkOperatingHours() {
                    clearAddFields()
                    $.ajax({
                        url: '@Url.Action("CheckOperatingHoursExist", "SettingsHarpoon")',
                        type: 'POST',
                        success: function (data) {
                            if (data == "True") {
                                $('#Add').modal()
                                $('#AddHarpoonLocation input').val("")
                            }
                            else {
                                $('#OperationsNotPresent').modal()
                            }
                        }
                    });
                }

                function phoneFormat(val, id) {
                    if (val.length > 0) {
                        if (val.substring(0, 1) != "(") {
                            $('#'+id).val("("+val)
                        }
                    }

                    if (val.length > 3 && val.length < 5) {

                        if (val.substring(4) != ")") {
                            $('#'+id).val(val+") ")
                        }

                    }

                    if (val.length > 8 && val.length < 10) {
                        if (val.substring(9) != "-") {
                            $('#'+id).val(val+"-")
                        }
                    }
                }

                $(document).ready(function () {
                    $('#clickThis').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#divLoader').css('display', 'block');
                    });

                });

                $("#status").on('change', function () {
                    if ($(this).is(':checked')) {
                        $('#active').css("font-weight", "bold")
                        $('#inactive').css("font-weight", "normal")
                    }
                    else {
                        $('#active').css("font-weight", "normal")
                        $('#inactive').css("font-weight", "bold")
                    }
                });

                function clearAddFields() {
                    $('#AddHarpoonLocation input').val("")
                }

                function checkRequired() {
                    if ($('#new_location_id').val() != "" && $('#new_location_name').val() != "" && $('#new_address1').val() != "" && $('#new_city').val() != "" && $('#new_province').val() != "" && $('#new_postal_code').val() != "" && $('#new_country').val() != "" && $('#new_phone').val() != "")
                    {
                        $('#newSubmit').css("visibility", "visible")
                    }
                    else {
                        $('#newSubmit').css("visibility", "hidden")
                    }
                }

                function edit(val) {
                    var edt = val.split(";")
                    $('#deleteLoc').val(edt[0]);
                    $('#location_id').val(edt[0]);
                    $('#location_name').val(edt[1]);
                    $('#address1').val(edt[2]);
                    $('#address2').val(edt[3]);
                    $('#city').val(edt[4]);
                    $('#province').val(edt[5]);
                    $('#postal_code').val(edt[6]);
                    $('#country').val(edt[7]);
                    $('#phone').val(edt[8]);
                    $('#fax').val(edt[9]);
                    $('#auto_id').val(edt[11]);
                    if (edt[12] == 1) {
                        $('#status').prop('checked', true);
                        $('#active').css("font-weight", "bold")
                        $('#inactive').css("font-weight", "normal")
                    }
                    else {
                        $('#status').prop('checked', false);
                        $('#active').css("font-weight", "normal")
                        $('#inactive').css("font-weight", "bold")
                    }
                }
            </script>

        </body>
    </html>

