
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Settings_Harpoon.cshtml";
}

@model SeHubPortal.ViewModel.UsersHarpoonViewModel

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@


    @if (Model.client_info.employees_page.Value)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.fleet_page.Value)
    {
        <style>
            #VehicleClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.timesheet.Value)
    {
        <style>
            #TimesheetClicked {
                display: block !important;
            }
        </style>
    }



    <style>
        .example::-webkit-scrollbar {
            display: none;
        }

        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #UsersLink {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #SettingsClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        .settingsBtn {
            font-weight: bold;
        }

        #UsersLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding-right: 0 !important;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        .imageClass {
            width: 100%;
            height: 80%;
            border-radius: 50%;
        }

        .card {
            border: 1px solid #ededed;
            margin-bottom: 30px;
            border-radius: 10px;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            height: auto;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        p {
            font-size: 14px;
        }

        #MatchedStaffLocID {
            height: 30px;
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="row heading">
        <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

            <div style="display:flex; justify-content:space-between; align-items:center">
                <div>
                    <a href="@Url.Action("Users", "SettingsHarpoon")">Settings </a>/ Users
                </div>
                <input onclick="clearAdd()" readonly type="text" class="btn btn-success EmpTransBtns " data-toggle="modal" data-target="#AddHarpoonDevice" value="Add" style="height:23px; width:100px" />
                <div style="display:flex; justify-content:space-around; align-items:center">
                    <label style="visibility:hidden">Location</label>
                </div>
            </div>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

    </div>

    <div class="row">
        <div class="col-md-12" style="padding:0px 30px 0px 30px">
            <div class="row">
                <div class="col-md-3">
                    <div class="card shadow-md" data-toggle="modal" data-target="#Full" style="padding:5px; width:100%; border:4px solid #ffcc00; border-radius:5px; margin-right:15px">
                        <div style="display:flex">

                            <div style="flex:3; display:flex; flex-direction:column; justify-content:center; align-items:center">
                                <img src="~/Content/admin Access.png" style="height:70px" alt="Alternate Text" />
                                <div>
                                    <h6 style="font-weight:bolder; color:#ffcc00"><u>Unlimited</u></h6>
                                </div>

                            </div>
                            <div style="flex:8; padding:10px 10px 0px 10px; display:flex; flex-direction:column;">
                                <h4 style="margin:0px; margin-left:auto; margin-right:auto; font-weight:bolder; color:#8c8c8c"><u>ADMINISTRATOR</u></h4>
                                <div style="font-size:12px; padding:0px 0px 0px 0px">
                                    <i><b>Administrator</b></i>
                                    has unlimited access to the entire web portal.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card shadow-md" data-toggle="modal" data-target="#Full" style="padding:5px; width:100%; border:4px solid #ffcc00; border-radius:5px; margin-right:15px">
                        <div style="display:flex">

                            <div style="flex:3; display:flex; flex-direction:column; justify-content:center; align-items:center">
                                <img src="~/Content/global mgr Access.png" style="height:70px" alt="Alternate Text" />
                                <div>
                                    <h6 style="font-weight:bolder; color:#ffcc00"><u>Partial</u></h6>
                                </div>

                            </div>
                            <div style="flex:8; padding:10px 10px 0px 10px; display:flex; flex-direction:column;">
                                <h4 style="margin:0px; margin-left:auto; margin-right:auto; font-weight:bolder; color:#8c8c8c"><u>GLOBAL MANAGER</u></h4>
                                <div style="font-size:12px; padding:0px 0px 0px 0px">
                                    <i><b>Global Manager</b></i>
                                    has access to All pages other than Setings.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="card shadow-md" data-toggle="modal" data-target="#Full" style="padding:5px; width: 100%;
        border: 4px solid #ffcc00;
        border-radius: 5px;
        margin-right: 15px
">
                        <div style="display:flex">

                            <div style="flex:3; display:flex; flex-direction:column; justify-content:center; align-items:center">
                                <img src="~/Content/limited.png" style="height:70px" alt="Alternate Text" />
                                <div>
                                    <h6 style="font-weight:bolder; color:#ffcc00"><u>Limited</u></h6>
                                </div>

                            </div>
                            <div style="        flex: 8;
        padding: 10px 10px 0px 10px;
        display: flex;
        flex-direction: column;
">
                                <h4 style="margin:0px; margin-left:auto; margin-right:auto; font-weight:bolder; color:#8c8c8c"><u>MANAGER</u></h4>
                                <div style="font-size:12px; padding:0px 0px 0px 0px">
                                    <i><b>Manager</b></i>
                                    has access to All pages other than Setings. With restricted access to <u>ONLY</u> their location.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="card shadow-md" data-toggle="modal" data-target="#Full" style="padding: 5px;width: 100%;border: 4px solid #ffcc00;border-radius: 5px;margin-right: 15px">
                        <div style="display:flex">

                            <div style="flex:3; display:flex; flex-direction:column; justify-content:center; align-items:center">
                                <img src="~/Content/Restricted.png" style="height:70px" alt="Alternate Text" />
                                <div>
                                    <h6 style="font-weight:bolder; color:#ffcc00"><u>Restricted</u></h6>
                                </div>

                            </div>
                            <div style="flex:8; padding:10px 10px 0px 10px; display:flex; flex-direction:column;">
                                <h4 style="margin:0px; margin-left:auto; margin-right:auto; font-weight:bolder; color:#8c8c8c"><u>SHOP FOREMAN</u></h4>
                                <div style="font-size:12px; padding:0px 0px 0px 0px">
                                    <i><b>Shop foreman</b></i>
                                    has acess to the Employees > Attendance page and Fleet > Fuel  Reporting page <u>ONLY</u>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding:0px 30px 0px 30px">
            <table style="width:100%" class="table-sortable table-bordered">
                <thead style="background-color:#bdbdbd; color:white">
                    <tr>
                        <th class="commonThClass" data-sort-type="text" style="vertical-align:middle">
                            <div style="display:flex; justify-content:space-between; align-items:center">
                                <div></div>
                                <span style="margin:0px 15px 0px 15px">Email</span>
                                <img class="ascending commonsort" style="margin:0px 20px 0px 20px; width:15px;height:15px; cursor:pointer" src="~/Content/ascending.png" alt="Alternate Text" />
                                <img class="descending commonsort" style="display:none; margin:0px 20px 0px 20px; width:15px;height:15px; transform:rotate(180deg); cursor:pointer" src="~/Content/descending.png" alt="Alternate Text" />
                            </div>
                        </th>
                        <th class="commonThClass" data-sort-type="text">
                            <div style="display:flex; justify-content:space-between; align-items:center">
                                <div></div>
                                <span style="margin:0px 15px 0px 15px">Profile</span>
                                <img class="ascending commonsort" style="margin:0px 20px 0px 20px; width:15px;height:15px; cursor:pointer" src="~/Content/ascending.png" alt="Alternate Text" />
                                <img class="descending commonsort" style="display:none; margin: 0px 20px 0px 20px; width: 15px; height: 15px; transform: rotate(180deg); cursor: pointer" src="~/Content/descending.png" alt="Alternate Text" />
                            </div>
                        </th>
                        <th class="commonThClass" data-sort-type="text">
                            <div style="display:flex; justify-content:space-between; align-items:center">
                                <div></div>
                                <span style="margin:0px 15px 0px 15px">Location</span>
                                <img class="ascending commonsort" style="margin:0px 20px 0px 20px; width:15px;height:15px; cursor:pointer" src="~/Content/ascending.png" alt="Alternate Text" />
                                <img class="descending commonsort" style="display:none; margin:0px 20px 0px 20px; width:15px;height:15px; transform:rotate(180deg); cursor:pointer" src="~/Content/descending.png" alt="Alternate Text" />
                            </div>
                        </th>
                        <th class="commonThClass" style="text-align:center">
                            Admin Clocking
                        </th>
                        <th class="commonThClass" style="text-align:center">
                            Admin Clocking- Edit Time
                        </th>
                        <th class="commonThClass" style="text-align:center">
                            Job ID Clocking
                        </th>
                        <th class="commonThClass" style="text-align:center">
                            Job ID Clocking- Edit Time
                        </th>
                        <th class="commonThClass" style="text-align:center">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody style="font-size:17px; font-weight:bold">

                    @foreach (var user in Model.users)
                    { 
                        <tr>
                            <td style="padding:0px; text-align:center">@user.email</td>
                            <td style="padding:0px; text-align:center">@user.profile</td>
                            <td style="padding:0px; text-align:center">@user.loc_id</td>
                            <td style="padding:0px; text-align:center">
                                @if (user.adminClocking)
                                {
                                    <input type="checkbox" disabled checked name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                            </td>
                            <td style="padding:0px; text-align:center">
                                @if (user.adminClocking_editTime)
                                {
                                    <input type="checkbox" disabled checked name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                            </td>
                            <td style="padding:0px; text-align:center">
                                @if (user.jobIDClocking)
                                {
                                    <input type="checkbox" disabled checked name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                            </td>
                            <td style="padding:0px; text-align:center; vertical-align:middle">
                                @if (user.jobIDClocking_editTime)
                                {
                                    <input type="checkbox" disabled checked name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                                else
                                {
                                    <input type="checkbox" disabled name="name" value="" style="width:20px; height:20px; margin:0px" />
                                }
                            </td>
                            <td style="padding:0px; text-align:center">
                                <button onclick="EditData(this.value)" data-toggle="modal" data-target="#EditHarpoonDevice" style="background-color: transparent;border: none;outline: none;" value="@user.email;@user.client_id;@user.password;@user.profile;@user.adminClocking.ToString();@user.adminClocking_editTime.ToString();@user.jobIDClocking.ToString();@user.jobIDClocking_editTime.ToString()">
                                    <i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i>
                                </button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>



    <div class="modal" id="AddHarpoonDevice" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            @using (Html.BeginForm("AddUser", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="modal-content" style="width:400px">
                    <div class="modal-header" style="padding:5px 5px 5px 15px">
                        <h5 class="modal-title">Add User</h5>
                    </div>
                    <div class="modal-body" style="padding-right: 0px; padding-bottom: 0px ">

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/NewHirePackage.png" style=" margin-bottom: 10px; width: 200px;">
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-3 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Email
                            </div>
                            <div class="col-lg-9" style="padding-right:0px">
                                @Html.EditorFor(m => m.newUser.email, new { htmlAttributes = new { @oninput = "checkMaxLength(this.value)", @id = "addEmail", @style = "text-align:center; font-weight:bold; width:90%;", @required = "required" } })

                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-3 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Profile
                            </div>
                            <div class="col-lg-9" style="padding-right:0px">
                                @Html.DropDownListFor(m => m.newUser.profile, Model.Profiles, new { @onchange = "check(this.value)", @id = "addProfile", @style = "text-align:center; font-weight:bold; width:90%; height:28px", @required = "required" })
                            </div>
                        </div>


                        <div class="row" style="margin-bottom:30px;">
                            <div class="col-lg-3 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                <span class="locations">
                                    Location
                                </span>
                            </div>
                            <div class="col-lg-9" style="padding-right:0px">
                                @Html.DropDownListFor(m => m.newUser.loc_id, Model.Locations, new { @onchange = "checkAddReq()", @class = "locations", @oninput = "checkMaxLength(this.value)", @id = "addLoc", @style = "text-align:center; font-weight:bold; width:90%; height:28px" })

                            </div>
                        </div>

                        <div class="row" style="margin-bottom:5px;">
                            <div class="col-lg-10 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Admin Clocking
                            </div>
                            <div class="col-lg-2" style="padding-right:0px">
                                @Html.CheckBoxFor(m => m.newUser.adminClocking, new { @style = "width:20px; height:20px" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px;">
                            <div class="col-lg-10 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Admin Clocking - Edit Time
                            </div>
                            <div class="col-lg-2" style="padding-right:0px">
                                @Html.CheckBoxFor(m => m.newUser.adminClocking_editTime, new { @style = "width:20px; height:20px" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col-lg-10 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Job ID Clocking
                            </div>
                            <div class="col-lg-2" style="padding-right:0px">
                                @Html.CheckBoxFor(m => m.newUser.jobIDClocking, new { @style = "width:20px; height:20px" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-10 text-right" style="padding-right:0px; font-weight:bold; color:dimgray">
                                Job ID Clocking - Edit Time
                            </div>
                            <div class="col-lg-2" style="padding-right:0px">
                                @Html.CheckBoxFor(m => m.newUser.jobIDClocking_editTime, new { @style = "width:20px; height:20px" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:5px 15px 5px 5px">
                        <button id="addSubmit" onclick="submitAdd()" style="display:none; padding:2px 28px 2px 28px" type="submit" class="btn btn-success">Save</button>
                        <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            }


        </div>
    </div>
    <script>
        function submitAdd() {
            $('#addLoc').prop("disabled", false);
        }
    </script>
    <div class="modal" id="EditHarpoonDevice" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog"  role="document">

            @using (Html.BeginForm("EditUser", "SettingsHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="modal-content" style="width:400px">
                    <div class="modal-header" style="padding:5px 5px 5px 15px">
                        <h5 class="modal-title">Edit User</h5>
                    </div>
                    <div class="modal-body" style="padding-right:0px; padding-bottom:0px">

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-center">
                                <img src="~/Content/mgr_icon.png" style="margin-bottom:10px;width:200px;">
                            </div>
                            <div class="col-lg-2 text-left" style="padding-left:0px; padding-top:0px">
                                <button type="button" data-dismiss="modal" onclick="DeleteEdit()" class="btn" style="border: none; outline: none; background-color: transparent">
                                    <img style="width:30px" src="~/Content/Trash Can.png" alt="Alternate Text" />
                                </button>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-3 text-right" style="font-weight:bold; color:dimgray; padding-right:0px">
                                Email
                            </div>
                            <div class="col-lg-9" style="padding-right:35px">
                                @Html.EditorFor(m => m.editUser.email, new { htmlAttributes = new { @readonly = true, @id = "user_email", @style = "text-align:center; font-weight:bold; width:100%;", @required = "required" } })

                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-3 text-right " style="font-weight: bold; color: dimgray; padding-right:0px">
                                Profile
                            </div>
                            <div class="col-lg-9" style="padding-right:35px">
                                @Html.DropDownListFor(m => m.editUser.profile, Model.Profiles, new { @id = "Profile", @style = "text-align:center; font-weight:bold; width:100%;", @required = "required" })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 30px">
                            <div class="col-lg-3 text-right " style="font-weight: bold; color: dimgray; padding-right:0px">
                                Location
                            </div>
                            <div class="col-lg-9" style="padding-right:35px">
                                @Html.DropDownListFor(m => m.editUser.loc_id, Model.Locations, new { @id = "LocationsDrop", @style = "text-align:center; font-weight:bold; width:100%;", @required = "required" })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-lg-10 text-right " style="font-weight: bold; color: dimgray; padding-right:0px">
                                Enable Time Clocking VIA Web App 
                            </div>
                            <div class="col-lg-2" style="padding-right:35px">
                                @Html.CheckBoxFor(m => m.editUser.adminClocking, new { @id = "user_admin_clocking", @style = "width:20px; height:20px" })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-lg-10 text-right " style="font-style: italic; color: dimgray; padding-right:0px">
                                Admin clocking - Edit time
                            </div>
                            <div class="col-lg-2" style="padding-right:35px">
                                @Html.CheckBoxFor(m => m.editUser.adminClocking_editTime, new { @id = "user_admin_clocking_edit_time", @style = "width:20px; height:20px" })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-lg-10 text-right " style="font-weight: bold; color: dimgray; padding-right:0px">
                                Enable Job ID Clocking VIA Web app
                            </div>
                            <div class="col-lg-2" style="padding-right:35px">
                                @Html.CheckBoxFor(m => m.editUser.jobIDClocking, new { @id = "user_jobID_clocking", @style = "width:20px; height:20px" })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-10 text-right " style="font-style: italic; color: dimgray; padding-right:0px">
                                Job ID clocking - Edit time
                            </div>
                            <div class="col-lg-2" style="padding-right:35px">
                                @Html.CheckBoxFor(m => m.editUser.jobIDClocking_editTime, new { @id = "user_jobID_clocking_editTime", @style = "width:20px; height:20px" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:5px 15px 5px 5px">
                        <button onclick="$('#LocationsDrop').prop('disabled', false);" style="padding:2px 30px 2px 30px" type="submit" class="btn btn-success">Save</button>
                        <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            }

        </div>
    </div>

    <div class="modal" id="DeletePopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="padding:5px 5px 5px 15px">
                    <h5 class="modal-title">Confirm to delete</h5>
                </div>
                <div class="modal-body" style="padding-right:0px; padding-bottom:0px">

                    <div class="row" style="margin-bottom:15px">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 text-center">
                            <button style="padding:5px 35px 5px 35px" type="button" onclick="yesclick()" id="yes" class="btn btn-success">Yes</button>
                        </div>
                        <div class="col-lg-4 text-center">
                            <button style="padding:5px 40px 5px 40px" type="button" data-dismiss="modal" id="no" class="btn btn-danger">No</button>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="modal" id="DeleteAlert" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header" style="        padding: 5px 5px 5px 15px">
                    <h5 class="modal-title">Acknowledgement</h5>
                </div>
                <div class="modal-body" style="padding-right:0px; padding-bottom:0px">

                    <div class="row" style="margin-bottom:15px">
                        <div class="col-lg-12 text-center">
                            <h6><b>User can not be deleted</b></h6>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="padding:5px">
                    <button onclick="location.reload()" data-dismiss="modal" style="padding:3px 30px 3px 30px" class="btn btn-danger" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>


    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $('table.table-sortable th').on('click', function (e) {
            $('.commonThClass').css('background-color', '#bdbdbd')
            $(this).attr('style', 'background-color: #949494 !important');
            sortTableByColumn(this)
        })

        function sortTableByColumn(tableHeader) {
          // extract all the relevant details
          let table = tableHeader.closest('table')
          let index = tableHeader.cellIndex
          let sortType = tableHeader.dataset.sortType
          let sortDirection = tableHeader.dataset.sortDir || 'asc' // default sort to ascending

            if (sortDirection == "asc") {
                $(tableHeader).find(".descending").css('display', 'none')
                $(tableHeader).find(".ascending").css('display', 'block')
            }
            else {
                $(tableHeader).find(".ascending").css('display', 'none')
                $(tableHeader).find(".descending").css('display', 'block')
            }

          // sort the table rows
          let items = Array.prototype.slice.call(table.rows);
          let sortFunction = getSortFunction(sortType, index, sortDirection)
          let sorted = items.sort(sortFunction)

          // remove and re-add rows to table
          for (let row of sorted) {
            let parent = row.parentNode
            let detatchedItem = parent.removeChild(row)
            parent.appendChild(row)
          }

          // reset heading values and styles
          for (let header of tableHeader.parentNode.children) {
            header.classList.remove('currently-sorted')
            delete header.dataset.sortDir
          }

          // update this headers's values and styles
          tableHeader.dataset.sortDir = sortDirection == 'asc' ? 'desc' : 'asc'
          tableHeader.classList.add('currently-sorted')
        }

        function getSortFunction(sortType, index, sortDirection) {
          let dir = sortDirection == 'asc' ? -1 : 1
          switch (sortType) {
            case 'text': return stringRowComparer(index, dir);
            case 'numeric': return numericRowComparer(index, dir);
            default: return stringRowComparer(index, dir);
          }
        }

        // asc = alphanumeric order - eg 0->9->a->z
        // desc = reverse alphanumeric order - eg z->a->9->0
        function stringRowComparer(index, direction) {
          return (a, b) => -1 * direction * a.children[index].textContent.localeCompare(b.children[index].textContent)
        }

        // asc = higest to lowest - eg 999->0
        // desc = lowest to highest - eg 0->999
        function numericRowComparer(index, direction) {
          return (a, b) => direction * (Number(a.children[index].textContent) - Number(b.children[index].textContent))
        }

        function check(val) {
            checkAddReq()
            if (val == "Global Manager" || val == "Administrator") {
                $('#addLoc').val("ALL");
                $('#addLoc').prop("disabled", true);
            }
            else {
                document.querySelector('#addLoc option[value=ALL]').remove();
                $('#addLoc').val("");
                $('#addLoc').prop("disabled", false);
            }
        }

        function checkAddReq() {
            if ($('#addProfile').val() != "Select" && $('#addProfile').val() != "" && $('#addLoc').val() != "" && $('#addEmail').val() != "") {
                $('#addSubmit').css("display", "block")
            }
            else {
                $('#addSubmit').css("display", "none")
            }
        }

        function DeleteEdit() {

            $.ajax({
                url: '@Url.Action("CheckUserOnlyAdmin", "SettingsHarpoon")',
                type: 'POST',
                success: function (data) {
                    if (data == "True") {
                        $('#DeletePopup').modal()
                        $('#DeletePopup input').val("")
                    }
                    else {
                        $('#EditHarpoonDevice').hide()
                        $('#DeleteAlert').modal()
                    }
                }
            });
        }

        $('#clickThis').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

        $('#user_admin_clocking').on('click', function () {
            if ($(this).is(':checked')) {

            }
            else {
                $('#user_admin_clocking_edit_time').prop('checked', false);
            }
        });

        $('#user_jobID_clocking').on('click', function () {
            if ($(this).is(':checked')) {

            }
            else {
                $('#user_jobID_clocking_editTime').prop('checked', false);
            }
        });
        

        function EditData(val) {
            var data = val.split(";");
            $('#user_email').val(data[0]);
            $('#client_id').val(data[1]);
            $('#Password').val(data[2]);
            $('#Profile').val(data[3]);

            if (data[3] == "Administrator") {
                $("#LocationsDrop").prop("disabled", true);
            }
            else {
                $("#LocationsDrop").prop("disabled", false);  
            }

            if (data[4] == "True") {
                $('#user_admin_clocking').prop('checked', true);
            }
            else {
                $('#user_admin_clocking').prop('checked', false);
            }

            if (data[5] == "True") {
                $('#user_admin_clocking_edit_time').prop('checked', true);
            }
            else {
                $('#user_admin_clocking_edit_time').prop('checked', false);
            }

            if (data[6] == "True") {
                $('#user_jobID_clocking').prop('checked', true);
            }
            else {
                $('#user_jobID_clocking').prop('checked', false);
            }

            if (data[7] == "True") {
                $('#user_jobID_clocking_editTime').prop('checked', true);
            }
            else {
                $('#user_jobID_clocking_editTime').prop('checked', false);
            }

        }

            function checkMaxLength(val) {
                checkAddReq()
                if (val.length == 6) {
                    $('.verification').css("display", "block")
                }
                CheckRequiredFeilds()
            }

            function checkVerificationCode() {

                $.ajax({
                    url: '@Url.Action("checkSerialNumber", "SettingsHarpoon")',
                    data: { value: $('#addSerialNumber').val() },
                    type: 'POST',
                    success: function (data) {

                        if (data == "true") {
                            $('#AddHarpoonDevice').modal().hide();
                            $('#SerialExists').modal()
                        }
                        else {
                            if ($('#verificationCode').val().length != 0) {
                                $('.deviceDetails').css("display", "block")
                                $('.finalRow').css("margin-bottom", "10px")
                            }
                            else {
                                $('.deviceDetails').css("display", "none")
                                $('.finalRow').css("margin-bottom", "0px")
                            }
                        }
                    }
                });
            }

            function CheckRequiredFeilds(){
                if ($('#addSerialNumber').val().length != 0 && $('#verificationCode').val().length != 0 && $('#location').val() != "Select"  && $('#locationZone').val() != "Select"  && $('#dispColor').val() != "Select") {
                    $('#addSubmit').css("display", "block")
                }
                else {
                    $('#addSubmit').css("display", "none")
                }
            }


            function deleteDevice() {
                $('#yes').css("visibility", "visible")
                $('#no').css("visibility", "visible")
            }

            function noclick() {
                $('#yes').css("visibility", "hidden")
                $('#no').css("visibility", "hidden")
            }

            function yesclick() {

                $.ajax({
                    url: '@Url.Action("deleteUser", "SettingsHarpoon")',
                    data: { value: $('#user_email').val() },
                    type: 'POST',
                    success: function (data) {
                        location.reload();
                    }
                });

            }

            function clearAdd() {
                $('#addProfile').val("Select");
                $('#addLoc').val("Select");
                $('#addEmail').val("");
                $('#addLoc').prop("disabled", false);
            }

    </script>

</body>

</html>

