
@{
    ViewBag.Title = "EmployeeDeductions";
    //Layout = "~/Views/Shared/_PayrollLayout.cshtml";
    Layout = "~/Views/Shared/_DevelopmentLayout.cshtml";
}

@model SeHubPortal.ViewModel.MyStaffViewModel
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

    @if (true)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (true)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }


    <style>
        .breadCrumb {
            background-color: white;
        }

        #SettingsClicked {
            display: block !important;
        }

        #AdministrationLink {
            display: block !important;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #PayrollDepositsClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #payrollDepositsBtn {
            font-weight: bold;
        }

        #DevelopmentClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #developmentBtn {
            font-weight: bold;
        }

        #EmployeeDeductionsLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding-right: 0 !important;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }


        .card-header h6 {
            color: black;
        }

        .imageClass {
            width: 100%;
            height: 80%;
            border-radius: 50%;
        }

        .card {
            border: 1px solid #ededed;
            margin-bottom: 30px;
            border-radius: 10px;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            height: auto;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        p {
            font-size: 14px;
        }

        #MatchedStaffLocID {
            height: 30px;
            width: 100px;
        }
    </style>
</head>
<body>


    <div class="row heading" style="margin:10px 0px 0px 0px">
        <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

            <div style="display:flex; justify-content:space-between; align-items:center">
                <div>
                    <a href="@Url.Action("EmployeeDeductions", "PayrollDeposits")">Payroll Deposits </a>/ Employee Deductions
                </div>
                <div style="display:flex; justify-content:space-between; align-items:center">
                    <div></div>
                    <div style="display:flex; align-items:center">
                        <label style="margin-right:10px">Payroll-ID</label>
                        @using (Html.BeginForm("ChangePayrollID", "PayrollDeposits", FormMethod.Post))
                        {
                            @Html.DropDownListFor(m => m.SelectedPayrollId, Model.PayrollIdList, new { @id="payroll_id", @onChange = "this.form.submit()", @style = "text-align:left; margin-top: 0px; width:100px;height:23px;font-size:15px;margin-right:10px;" })
                            @Html.HiddenFor(m => m.MatchedStaffLocID, new { htmlAttributes = new { @style = "display:none" } })
                        }
                        <label style="margin-right:10px">Location</label>
                        @using (Html.BeginForm("EmployeeDeductions", "PayrollDeposits", FormMethod.Post))
                        {
                            <div>
                                @Html.DropDownListFor(m => m.MatchedStaffLocID, Model.MatchedStaffLocs, "Select", new { @onChange = "this.form.submit()", @style = "text-align-last: center;width:100px;height:23px;font-size:15px;margin-left:0px" })
                                @Html.HiddenFor(m => m.SelectedPayrollId, new { htmlAttributes = new { @style = "display:none" } })
                                <noscript> <input class="btn btn-success" type="submit" value="Search" /></noscript>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

    </div>

    <div class="row example" style="padding:0px 15px 0px 15px; overflow-y:auto; max-height:800px">

        <div class="col-md-12">
            <table class="table table-striped table-bordered" style="margin-bottom:0px">
                <thead style="background-color:gray; color:white">
                    <tr>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col">Employee Name</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Employee ID</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Gross Pay</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Federal Tax</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Provincial Tax</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> CPP</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> EI</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Group Ins</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Pension Plan</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Other Pension Plan</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Net Pay</th>
                        <th style="font-size:10px; padding:0px; text-align:center" scope="col"> Edit</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Deductions)
                    {
                        <tr>
                            <td style="padding:5px; text-align:center">@item.emp_name</td>
                            <td style="padding:5px; text-align:center">@item.emp_id</td>
                            <td style="padding:5px; text-align:center">@item.gross_earnings</td>
                            <td style="padding:5px; text-align:center">@item.federal_tax.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.provincial_tax.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.CPP.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.EI.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.group_ins.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.pension_plan.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.other_pension_plan.ToString()</td>
                            <td style="padding:5px; text-align:center">@item.net_pay.ToString()</td>
                            <td style="padding:5px; text-align:center">
                                <button onclick="populateTax(@item.emp_id)" data-toggle="modal" data-target="#EmpPayrollDeductions" style="border:none; outline:none; padding:0; background-color:transparent">
                                    <i class="fa fa-edit" style="font-size:20px;color:black"></i>
                                </button>                                
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        @*
            foreach (var employee in Model.employeeDetails)
            {
                if (employee.status == 1)
                {
                    string base64ProfilePic = "";
                    if (@employee.profile_pic is null)
                    {
                        base64ProfilePic = "";
                    }
                    else
                    {
                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@employee.profile_pic);
                    }

                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="card shadow-sm">
                            <button onclick="populateTax(@employee.employee_id)" data-toggle="modal" data-target="#EmpPayrollDeductions" style="color:Black;background-color:white;text-align:left;border:transparent">
                                
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="booking-doc-img">

                                                @if (base64ProfilePic == "")
                                                {
                                                    <img style="object-fit:contain" class="imageClass" src="~/Content/profilepic.jpg" alt="ProfilePic" />
                                                }
                                                else
                                                {
                                                    <img style="object-fit:contain; width:135px; height:135px" class="imageClass" alt="profilePic" src="@base64ProfilePic" />
                                                }

                                            </div>

                                        </div>
                                        <div class="col-md-8">
                                            <h4 style="font-weight:bolder">@employee.full_name</h4>
                                            <h6>@employee.cta_position</h6>
                                            <div style="display:flex;">
                                                <span style="margin-right:80px">@employee.employee_id</span>
                                                <span>@employee.loc_ID</span>
                                            </div>
                                            <div>
                                                <p style="font-size:18px">@employee.cta_email</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </button>

                        </div>

                    </div>
                }

            }    
        *@
    </div>

    <div class="modal" id="EmpPayrollDeductions" data-backdrop="static" tabindex="-1" role="dialog">
        
    </div>

    <script>

        function populateTax(val) {
            $.ajax({
                url: '@Url.Action("populatePaystub", "PayrollDeposits")',
                data: { emp_id: val, pay_id: $('#payroll_id').val() },
                type: 'GET',
                success: function (data) {
                    $("#EmpPayrollDeductions").html(data);
                    $("#EmpPayrollDeductions").modal;
                }
            });
        }

         $(document).ready(function () {
             $('#profile-tab').css({ "font-weight": "normal", "color": "#24a0ed" });
             $('#home-tab').css({ "font-weight": "bold", "color": "black" });
             $('#nav-home-tab').on("click", function () {
                 $('#profile-tab').css({ "font-weight": "normal","color": "#24a0ed"});
                 $('#home-tab').css({ "font-weight": "bold", "color": "black" });
             })

             $('#profile-tab').on("click", function () {
                 $('#profile-tab').css({ "font-weight": "bold", "color": "black" });
                 $('#home-tab').css({ "font-weight": "normal", "color": "#24a0ed" });
             })

             $('#clickThis').on('click', function () {
                 $('#sidebar').toggleClass('active'); 
             });


             $('.EditEmployeeBtn').click(function () {

                 var id = $(this).data('id');
                 $.ajax({
                             url: '@Url.Action("EditEmployeeInfo", "Settings")',
                             data: { value: id },
                             type: 'GET',
                             success: function (data) {
                                 $("#EditEmployeeModalDiv").html(data);
                                 //alert("Reached")
                             }
                 });
             });

             $('.EditEmployeeBtnInActive').click(function () {

                 var id = $(this).data('id');
                 $.ajax({
                             url: '@Url.Action("EditEmployeeInfo", "Management")',
                             data: { value: id },
                             type: 'GET',
                             success: function (data) {
                                 $("#EditEmployeeModalInActiveDiv").html(data);

                             }
                 });
             });

         });

    </script>
</body>
</html>