
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Vehicle_Harpoon.cshtml";
}

@model SeHubPortal.ViewModel.HarpoonVehicleDashboardViewModel

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <meta charset="utf-8">
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Content/title_logo64.png">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    @if (Model.client_info.employees_page.Value)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.fleet_page.Value)
    {
        <style>
            #VehicleClicked {
                display: block !important;
            }
        </style>
    }

    <style>
        .breadCrumb {
            background-color: white;
        }

        #TimeClockLink {
            display: block !important;
        }

        #SettingsClicked {
            display: block !important;
        }

        #ManagementClicked {
            display: block !important;
        }

        #VehicleClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #DashboardLink {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        .settingsBtn {
            font-weight: bold;
        }

        #TimeClockLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
            border-color: white;
        }

        body {
            background-color: #f0f2f5;
        }

        .card-header {
            background-color: #cde8ca;
            padding: 5px;
        }

        table tr:hover {
            background: lightgray;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            opacity: 1;
        }
    </style>
</head>

<body>

    <div class="row heading" style="margin:10px 0px 0px 0px">
        <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

            <div style="display:flex; justify-content:space-between; align-items:center">
                <div>
                    <a href="@Url.Action("Dashboard", "VehicleHarpoon")">Fleet </a>/ Dashboard
                </div>
                <input onclick="clearAdd()" readonly type="text" class="btn btn-success" data-toggle="modal" data-target="#AddHarpoonVehicle" value="Add" style="height:23px; width:100px" />
                <div style="display:flex; justify-content:space-between; align-items:center">
                    <div></div>
                    <div style="display:flex; align-items:center">
                        <label>Location</label>
                        @using (Html.BeginForm("ChangeLocVehicles", "VehicleHarpoon", FormMethod.Post))
                        {
                            <div>
                                @Html.DropDownListFor(m => m.Location, Model.Locations, new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:150px;height:23px;font-size:15px;margin-left:6px;" })
                                <noscript><input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

    </div>

    <div id="loading" style="width:100%; height:80vh; display:flex; justify-content:center; align-items:center">
        <img src="~/Content/giphy.gif" style="width:150px" alt="Alternate Text" />
    </div>

    <div id="content" class="row" style="padding:0px 15px;">
        <div class="col-md-12">
            <div class="row people-grid-row">

                @foreach (var vehicle in Model.Vehicles)
                {
                    string base64ProfilePic = "";
                    if (@vehicle.vehicle_image is null)
                    {
                        base64ProfilePic = "";
                    }
                    else
                    {
                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@vehicle.vehicle_image);
                    }
                    <div class="col-md-6 col-lg-6 col-xl-6" style="margin:0px 0px 15px 0px">
                        <div class="card shadow-sm" style="height:245px">
                            <div class="card-body">
                                <div class="row" style="padding-right:10px;">

                                    <div class="col-md-5 text-center">
                                        <div class="row">
                                            <a class="booking-doc-img">
                                                @*<img src="~/Content/profilepic.jpg" alt="User Image">*@

                                                @if (base64ProfilePic == "")
                                                {
                                                    <img class="imageClass" style=" width:300px; height:200px" src="~/Content/jordancar.png" alt="ProfilePic" />
                                                }
                                                else
                                                {
                                                    <img class="imageClass" style=" width:300px; height:200px" alt="profilePic" src="@base64ProfilePic" />
                                                }

                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="row" style="margin-bottom:5px;margin-left:0px;">
                                            <p class="mb-0" style="font-size:30px;font-style:italic; font-weight:bold">@vehicle.vehicle_long_id</p>
                                        </div>
                                        <div class="row" style="margin-bottom:1px;margin-left:0px;">
                                            <p class="mb-0" style="font-size:17px;">VIN: <b>@vehicle.VIN</b></p>
                                        </div>
                                        <div class="row" style="margin-bottom:1px;margin-left:0px;">
                                            <p class="mb-0" style="font-size:17px;">Plate: <b>@vehicle.plate</b></p>
                                        </div>
                                        <div class="row" style="margin-bottom:1px;margin-left:0px;">
                                            <p class="mb-0" style="font-size:17px;">Manufacturer: <b>@vehicle.manufacturer</b></p>
                                        </div>
                                        <div class="row" style="margin-bottom:0px;margin-left:0px;">
                                            <p class="mb-0" style="font-size:17px;">Model: <b>@vehicle.model</b></p>
                                        </div>


                                    </div>
                                    <div class="col-md-3">
                                        <div class="row" style="padding:7px; margin-bottom:10px; border-radius:10px; background-color:#357efc">
                                            <div class="col-md-8 text-center">
                                                @if (vehicle.current_milage.HasValue)
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        @Math.Round(@vehicle.current_milage.Value, 1).ToString("N0")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        0
                                                    </span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-center" style="padding-top:10px; font-size:12px; color:white; border-left:2px solid white">
                                                <label>KM</label>
                                            </div>
                                        </div>

                                        <div class="row" style="padding:7px; margin-bottom:10px; border-radius:10px; background-color:#357efc">
                                            <div class="col-md-8 text-center">
                                                @if (vehicle.efficiency_price.HasValue)
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        @Math.Round(@vehicle.efficiency_price.Value, 2).ToString("N2")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        0
                                                    </span>
                                                }
                                            </div>
                                            <div class="col-md-4" style="padding-left:3px; border-left:2px solid white">
                                                <img style="width:50px" src="~/Content/Untitled.png" alt="Alternate Text" />
                                            </div>
                                        </div>

                                        <div class="row" style="padding:7px; border-radius:10px; background-color:#357efc">
                                            <div class="col-md-8 text-center">
                                                @if (vehicle.efficiency_liter.HasValue)
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        @Math.Round(@vehicle.efficiency_liter.Value, 3).ToString("N3")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn" style="font-size:20px; color:white;">
                                                        0
                                                    </span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-center" style="padding-left:3px; border-left:2px solid white">
                                                <img style="width:50px" src="~/Content/Untitled2.png" alt="Alternate Text" />
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div id="AddHarpoonVehicle" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            @using (Html.BeginForm("AddNewVehicle", "VehicleHarpoon", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="modal-content">
                    <div class="modal-header" style="padding:5px 5px 5px 15px">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Vehicle</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.EditorFor(m => m.NewVehicle.VIN, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "VIN" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(m => m.NewVehicle.vehicle_long_id, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Vehicle ID" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.EditorFor(m => m.NewVehicle.plate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Plate" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.DropDownListFor(m => m.Location, Model.LocationsWoithoutAll, "Select Location", new { @class = "form-control", @required = "required" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.EditorFor(m => m.NewVehicle.manufacturer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Manufacturer" } })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(m => m.NewVehicle.model, new { htmlAttributes = new { @class = "form-control", @placeholder = "Model" } })
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Upload Image</label>
                                <input type="file" onchange="loadFile(event)" name="vehicleImage" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px">
                            <div class="form-group col-md-12">
                                <img style="display:none; height:150px; width:150px; object-fit:contain; margin-left:auto; margin-right:auto" src="#" id="profile_pic"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="padding:5px 5px 5px 15px">
                        <input type="submit" style="padding:2px 30px 2px 30px" class="btn btn-success" value="Save" />
                        <button type="button" style="padding:2px 20px 2px 20px" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <script>
        window.onload = (event) => {
            $('#loading').css('display', 'none')
        };
    </script>

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('profile_pic');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
                $('#profile_pic').css("display", "block");
            }
        };
    </script>

</body>

</html>