@{
    Layout = "~/Views/Shared/_Settings.cshtml";
}
@model SeHubPortal.ViewModel.EmployeePermissionsViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.settings_dashboard > 0)
    {
        <style>
            #SettingsLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings_administration > 0)
    {
        <style>
            #AdministrationLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings_customers > 0)
    {
        <style>
            #CustomersLink {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access == 3)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }


    <style>

        #EmployeePermissionsLink {
            display: block !important;
        }

        #SettingsClicked {
            display: block !important;
        }

        .settingsBtn {
            font-weight: bold;
        }

        #SettingsClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #settingsBtn {
            color: black;
            font-weight: 600;
        }


        #EmployeePermissionsLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding-right: 0 !important;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        #MatchedLocID {
            height: 35px;
            text-align: left;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="row heading">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:white;height:100%;margin-top:0px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Settings")">Settings</a></li>
                    <li class="breadcrumb-item " aria-current="page">Manage Permissions</li>
                    <div style="margin-left:1150px">
                        @using (Html.BeginForm("EmployeePermissionsChangelocation", "Tools", FormMethod.Post))
                        {
                            <span style="margin-right:3px;color:black;">Location:</span>
                            @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:100px;height:23px;font-size:15px;margin-left:6px;"  })
                            <noscript> <input class="btn btn-success" type="submit" value="Search" /></noscript>
                        }
                    </div>
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    @if (Model.userManagementAccessLevel > 2)
    {
        <div class="row" style="margin:0px 15px 20px 15px;">
            <div class="card shadow-sm flex-fill grow" style="margin:10px 0px 0px 0px;">
                <div class="card-header" style="background-color: #cde8ca; padding:5px 5px 5px 15px">
                    <h6 class="card-title mb-0 d-inline-block">Employee List</h6>
                </div>
                <div class="card-body" style="padding:20px; overflow-y: auto; max-height:700px">
                    @*<div class="row">
                            <input name="weight" class="custom-range"  type="range" min="1" max="3" step="1" labels="1,2,3"/>
                        </div>*@
                    <div class="row" style="display:none; margin-top:10px;margin-left:20px">

                        
                        @*<div class="col-md-9">
                                <input type="button" id="AddCredentialsBtn" class="btn btn-success" value="Add" data-toggle="modal" data-target="#AddPermissions" style="float:right;width:80px;margin-right:20px;" />
                                <div class="modal fade" id="AddPermissions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div id="AddPermissionsDiv">

                                        </div>

                                    </div>
                                </div>
                            </div>*@

                    </div>
                    <div class="row" style="margin:0px 5px 0px 5px;">
                        <table class="table ">
                            <thead style="text-align:center" class="thead-dark">
                                <tr>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Employee</th>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Employee ID</th>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Name</th>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Email</th>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Position</th>
                                    <th style="padding:0px; font-size:12px; margin:0px;" scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EmployeesList)
                                {
                                    string base64ProfilePic = "";
                                    if (item.profile_pic is null)
                                    {
                                        base64ProfilePic = "";
                                    }
                                    else
                                    {
                                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@item.profile_pic);
                                    }
                                    <tr>
                                        <td style="width:130px;text-align:center">
                                            @if (base64ProfilePic == "")
                                            {
                                                <img src="~/Content/profilepic.jpg" style="width:30%; height:30px;" />
                                            }
                                            else
                                            {
                                                <img alt="profilePic" src="@base64ProfilePic" style="width:30%; height:30px;border-radius:50%" />
                                            }

                                        </td>
                                        <td style="text-align:center">@item.employee_id</td>
                                        <td style="text-align:center">@item.full_name</td>
                                        <td style="text-align:center">@item.cta_email</td>
                                        <td style="text-align:center">@item.cta_position</td>
                                        <td style="text-align: center">
                                            <button data-id="@item.employee_id" class="managePermissionsBtn" data-toggle="modal" data-target="#managePermissions" style="background-color: transparent;border: 1px solid transparent;text-align: center"><i class="fa fa-edit" style="font-size:20px;color:dodgerblue;float:right"></i></button>
                                            <div class="modal fade" id="managePermissions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="text-align:left">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div id="managePermissionsDiv">

                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    }


    <script>
        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });

        $('.managePermissionsBtn').click(function () {
                var id = $(this).data('id');
                $.ajax({
                            url: '@Url.Action("ManageEmployeePermisssions", "Tools")',
                            data: { value: id },
                            type: 'GET',
                            success: function (data) {
                                $("#managePermissionsDiv").html(data);
                    }
                });
        });

    </script>
</body>

</html>
