@model SeHubPortal.ViewModel.ExpenseClaimViewModel
@{
    ViewBag.Title = "ExpnseClaim";
    Layout = "~/Views/Shared/_DevelopmentLayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings == 3)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management == 3)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }


    @if (Model.SehubAccess.tools_dashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fuel_log > 0)
    {
        <style>
            #FuelLogLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.customer_reporting > 0)
    {
        <style>
            #CRMLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.employee_id == 10577 || Model.SehubAccess.employee_id == 10901)
    {
        <style>
            #ExpnseClaimLink {
                display: block !important;
            }
        </style>
    }

    <style>

        #ExpnseClaimLink {
            display: block !important;
        }

        #DevelopmentClicked {
            display: block !important;
        }

        #DevelopmentClicked {
            background-color: #f0f2f5;
        }

        #developmentBtn {
            font-weight: bold;
        }

        #dropArea {
            background: #b5b5b5;
            border: black dashed 1px;
            height: 50px;
            text-align: center;
            color: #fff;
            padding-top: 12px;
        }

        .active-drop {
            background: #77bafa !important;
            border: solid 2px blue !important;
            opacity: .5;
            color: black !important;
        }



        ul#navigation .active {
            font-weight: bold;
        }

        #dropZone {
            border: 1px dotted red;
            text-align: center;
        }



        #ExpnseClaimLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }


        body {
            background-color: #f0f2f5;
            padding-right: 0 !important;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

            .breadCrumb{
        background-color:white;
    }

            .card-header h6 {
                color: black;
            }

        #historyTable_info {
            display: none;
        }

        #historyTable2_info {
            display: none;
        }

        #historyTable3_info {
            display: none;
        }

        .dataTables_filter {
            float: right;
            height: 30px;
        }

        #historyTable_filter {
            display: none;
        }

        #historyTable2_filter {
            float: right;
            margin: 0px 0px 25px 0px;
        }

        #historyTable3_filter {
            float: right;
            margin: 0px 0px 25px 0px;
        }

            #historyTable3_filter input {
                float: right;
                margin: 0px 2px 0px 10px;
            }

        #historyTable2_filter input {
            float: right;
            margin: 0px 2px 0px 10px;
        }

        .dataTables_filter input {
            width: 285px;
        }

        #historyTable_paginate {
            float: right;
        }

        #historyTable2_paginate {
            float: right;
        }

        #historyTable3_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #ExpenseModel {
            padding-right: 25%;
        }

        #editOrOpen {
            padding-top: 13%;
        }
    </style>

</head>
<body>
    <div class="row heading">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadCrumb" style="background-color: white;
                  height: 100%;
                  margin-top: 0px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Tools")">Tools</a></li>
                    <li class="breadcrumb-item " aria-current="page">Enpense Claim</li>
                </ol>
            </nav>
        </div>
        <button type="button" id="clickThis" class="btn" style=" margin-bottom: 14px;">
            <i class="fa fa-bars" style="font-size: 25px "></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <div class="row" style="margin-left: 0px">
        <div class="col-lg-2">
            <div class="card shadow-lg" style="width:260px;" id="calcButton" type="button" data-toggle="modal" data-target="#editOrOpen">
                <div class="card-body text-center" style="height:338px; margin-left:auto; margin-right:auto; margin-top:20px; padding-top:40px">
                    <img src="~/Content/expense.png" style="margin-bottom:30px; width:190px;">
                    <h5 style="font-weight:bold; color:black">Expense Claim</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="modal fade" id="ExpenseModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            @using (Html.BeginForm("SaveExpenseClaim", "Tools", FormMethod.Post))
            {

                <div class="modal-content" style="width:1300px">

                    <div class="card-header" style="padding:5px 15px 3px 15px; ">@*background-color:white*@
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 style="margin:0px;"><b>Expense Claim</b></h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <button class="btn btn-primary" style="padding:2px 30px 2px 30px">Print</button>
                                <button class="btn btn-success" style="padding:2px 10px 2px 10px">Save & Exit</button>
                                <button style="padding:2px 25px 2px 25px" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">


                        @Html.HiddenFor(m => m.empid)



                        <div class="row" style="padding:10px 20px 10px 0px">

                            <div class="col-lg-12" style="padding-right:0px">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Summary</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent" style="padding:15px">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                        <div class="row" style="padding:0px 15px 0px 15px">
                                            <table class="table table-bordered" style="width:100%">
                                                <thead class="thead-dark">
                                                    <tr style="font-size:10px">
                                                        <th style="padding:0px; text-align:center" scope="col">Claim ID</th>
                                                        <th style="padding:0px; text-align:center" scope="col">Date</th>
                                                        <th style="padding:0px; text-align:center" scope="col">Emloyee Name</th>
                                                        <th style="width:20%; padding:0px; text-align:center" scope="col">Emloyee ID</th>
                                                        <th style="width:8%; padding:0px; text-align:center" scope="col">Location ID</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Past">
                                                    <tr>
                                                        <td style="padding:0px; text-align:center">@Html.DisplayFor(m => m.employy.employee_id, new { htmlAttributes = new { @style = "width:100%" } })-@System.DateTime.Today.ToString("yyyy-MM-dd")-@Model.seq</td>
                                                        <td style="padding:0px; text-align:center">@System.DateTime.Today.ToString("dddd dd, MMM yyyy")</td>
                                                        <td style="padding:0px; text-align:center">@Html.DisplayFor(m => m.employy.full_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                        <td style="padding:0px; text-align:center">@Html.DisplayFor(m => m.employy.employee_id, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                        <td style="padding:0px; text-align:center">@Html.DisplayFor(m => m.employy.loc_ID, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <table class="table" style="width:100%">
                                            <thead class="thead-dark">
                                                <tr style="font-size:10px">
                                                    <th style="padding:0px; text-align:center" scope="col">Date</th>
                                                    <th style="width:20%; padding:0px; text-align:center" scope="col">Supplier's Name</th>
                                                    <th style="padding:0px; text-align:center" scope="col">Expense Account</th>
                                                    <th style="width:30%; padding:0px; text-align:center" scope="col">Description of Expense</th>
                                                    <th style="width:8%; padding:0px; text-align:center" scope="col">Location ID</th>
                                                    <th style="padding:0px; text-align:center" scope="col">Total</th>
                                                    <th style="padding:0px; text-align:center" scope="col">HST</th>
                                                </tr>
                                            </thead>
                                            <tbody id="Past">
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim1.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim1.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim1.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim1.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim1.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim1.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim1.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim2.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim2.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding: 0px">@Html.DropDownListFor(m => m.Claim2.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim2.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim2.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim2.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim2.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim3.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim3.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim3.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim3.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim3.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim3.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim3.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim4.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim4.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim4.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim4.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim4.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim4.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim4.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim5.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim5.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim5.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim5.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim5.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim5.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim5.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim6.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim6.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim6.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim6.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim6.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim6.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim6.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim7.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim7.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim7.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim7.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim7.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim7.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim7.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim8.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim8.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim8.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim8.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim8.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim8.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim8.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim9.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim9.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim9.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim9.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim9.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim9.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim9.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim10.exp_date, new { htmlAttributes = new { @style = "width:100px", @type = "date" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim10.supplier_name, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim10.exp_account, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim10.exp_description, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Claim10.loc_id, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim10.total, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                    <td style="padding:0px">@Html.EditorFor(m => m.Claim10.hst, new { htmlAttributes = new { @style = "width:100%" } })</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="row" style="display:none">
                                            <table>
                                                <tr id="Copy">
                                                    <td style="padding:0px"><input style="width:100px" type="date" name="name" value="" /></td>
                                                    <td style="padding:0px"><input style="width:100%" type="text" name="name" value="" /></td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Acount, Model.Acounts, "Select Account", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px"><input style="width:100%" type="text" name="name" value="" /></td>
                                                    <td style="padding:0px">@Html.DropDownListFor(m => m.Location, Model.Locations, "Select Loc", new { @style = "width:100%; height:30px;" })</td>
                                                    <td style="padding:0px"><input style="width:100%" type="text" name="name" value="" /></td>
                                                    <td style="padding:0px"><input style="width:100%" type="text" name="name" value="" /></td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 text-right">
                                                <label>Add Row</label>
                                                <button id="Add" class="btn btn-secondary" style="padding:0px 10px 0px 10px">+</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row" style="margin-top:15px; margin-bottom:10px">
                                            <div class="col-lg-6 text-right">
                                                Employee Name
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-lg-6 text-right">
                                                Employee Signature
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-lg-6 text-right">
                                                date
                                            </div>
                                            <div class="col-lg-6">
                                                <input style="width:182px" type="date" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-lg-6 text-right">
                                                Approval
                                            </div>
                                            <div class="col-lg-6">
                                                <input style="width:25px;height:25px" type="checkbox" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-lg-6 text-right">
                                                Paid By Cheque Number
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:20px">
                                            <div class="col-lg-6 text-right">
                                                Cheque Date
                                            </div>
                                            <div class="col-lg-6">
                                                <input style="width:182px" type="date" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:0px">
                                            <table style="width:60%; margin-left:auto; margin-right:auto" class="table-bordered">
                                                <thead class="thead-dark" style="background-color:black; color:white">
                                                    <tr>
                                                        <th style="width:50%; padding:0px; font-size:10px; text-align:center">
                                                            Grand Total
                                                        </th>
                                                        <th style="width:50%; padding:0px; font-size:10px; text-align:center">
                                                            Sum of Amounts
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="text" style="width:100%; height:40px" name="name" value="" />
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100%; height:40px" name="name" value="" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            }
        </div>
    </div>

    

    <div class="modal fade" id="summary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
                <div class="modal-footer" style="padding:3px">
                    <button style="padding:2px 25px 2px 25px" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button style="padding:2px 30px 2px 30px" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade editOrOpen" id="editOrOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:300px" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding:3px 3px 3px 15px">
                    <h5 style="margin-left:auto; margin-right:auto" class="modal-title" id="exampleModalLabel">Expense Claim</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button id="newTA" data-toggle="modal" data-dismiss="modal" class="btn btn-primary" style="padding:6px 43px 6px 43px" data-target="#ExpenseModel">New Entry</button>

                        </div>

                    </div>
                    <hr />
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-12 text-center">
                            @Html.DropDownListFor(m => m.Expense, Model.ExpClaims, "Select Expense", new { @id = "expclaimdrop", @style = "width:60%; height:30px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button aria-expanded="false" type="button" id="GO" data-dismiss="modal" class="btn btn-primary" style="padding:5px 30px 5px 30px">Open Existing</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="InvalidTA">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#eb4646; padding:5px 2px 0px 2px">
                    <h5 style="margin-left:auto; margin-right:auto">Acknowledgment</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center"> <h6 style="margin-left:auto; margin-right:auto">Entered Expense Claim Number Does Not Exist</h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:5px 2px 0px 2px">
                    <h5 style="margin-left:auto; margin-right:auto">View Expense Claim</h5>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Employee Id</div>
                        <div class="col-lg-7"><input readonly type="text" id="oempid" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Claim Date</div>
                        <div class="col-lg-7"><input readonly style="width:182px" type="text" id="odate" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Supplier Name</div>
                        <div class="col-lg-7"><input readonly type="text" id="osupnam" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Expense Account</div>
                        <div class="col-lg-7"><input readonly type="text" id="oexpac" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Description</div>
                        <div class="col-lg-7"><input readonly type="text" id="odesc" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Location Id</div>
                        <div class="col-lg-7"><input readonly type="text" id="olocid" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">Total</div>
                        <div class="col-lg-7"><input readonly type="text" id="ototal" name="name" value="" /></div>
                    </div>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-5 text-right">HST</div>
                        <div class="col-lg-7"><input readonly type="text" id="ohst" name="name" value="" /></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <SCRIPT type="text/javascript">
        function JavaBlink() {
            var blinks = document.getElementsByTagName('JavaBlink');
            for (var i = blinks.length - 1; i >= 0; i--) {
                var s = blinks[i];
                s.style.visibility = (s.style.visibility === 'visible') ? 'hidden' : 'visible';
            }
            window.setTimeout(JavaBlink, 1000);
        }
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", JavaBlink, false);
        else if (window.addEventListener) window.addEventListener("load", JavaBlink, false);
        else if (window.attachEvent) window.attachEvent("onload", JavaBlink);
        else window.onload = JavaBlink;
    </SCRIPT>

    <script>

        $('#Add').click(function () {
            $('#Past').append("<tr>" + $('#Copy').html() + "</tr>");
        })


        $("#GO").click(function () {
            $("#btnPrint").css("display", "block");

                var FullEXnum = $("#expclaimdrop").val();


                if (FullEXnum != '') {
                    $.ajax({
                            url: '@Url.Action("LoadEXform", "Tools")',
                            data: { value: FullEXnum },
                            type: 'POST',
                            success: function (EXdata) {

                                var EXdetails = JSON.parse(EXdata);

                                if (EXdetails == null) {
                                    $('#InvalidTA').modal();
                                    //$('#myModal').modal();
                                }
                                else {
                                    $('#myModal').modal();
                                    $("#oempid").val(EXdetails.empid);
                                    var num = EXdetails.exp_date.match(/\d+/g);
                                    var date = new Date(parseFloat(num)); //converting to date
                                    $("#odate").val(date.getMonth() + 1 + "-" + date.getDate() + '-' + date.getFullYear());
                                    $("#osupnam").val(EXdetails.supplier_name);
                                    $("#oexpac").val(EXdetails.exp_account);
                                    $("#odesc").val(EXdetails.exp_description);
                                    $("#olocid").val(EXdetails.loc_id);
                                    $("#ototal").val(EXdetails.total);
                                    $("#ohst").val(EXdetails.hst);
                                }
                            }
                });
                }



            $("#entreTAnumber").val("")
        });



    </script>

</body>
</html>
