
@model SeHubPortal.ViewModel.FuelInvoiceViewModel

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#FuelLogInvoiceTable").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [20],
                bFilter: true,
                bSort: false,
                bPaginate: true,
            });

        $("#FuelInvoiceAuditTable").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [20],
                bFilter: true,
                bSort: false,
                bPaginate: true,
            });



    });

</script>

<script>
    $(document).ready(function () {
        $("#FuelLogInvoiceTable_filter").appendTo("#searchFieldInvoice");
        $("#FuelLogInvoiceTable_filter :input").css("margin", "0px 0px 0px 10px");
        $("#FuelInvoiceAuditTable_filter").appendTo("#searchFieldInvoiceAudit");
        $("#FuelInvoiceAuditTable_filter :input").css("margin", "0px 0px 0px 10px");
    });
</script>

<script>
    function PopulateEditFormInvoice(val) {
        let arr = val.split('~');
            $('#transaction_number_edit_invoice').val(arr[2])
            $('#deleteTransactionNumber_invoice').val(arr[2])
            $('#invoice_edit_invoice').val(arr[5])
            $('#no_of_liters_edit_invoice').val(arr[0])
            $('#price_per_liter_edit_invoice').val(arr[1])
            $('#comments_edit_invoice').val(arr[3])
            $('#change_type_edit_invoice').val(arr[4])
        }
</script>

<div id="reportFuelInvoice">
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12" id="searchFieldInvoice" style="display:flex; align-items:center; justify-content:space-between">
            <div>
                <button class="btn btn-primary" data-target="#AddFuelLogInvoice" data-toggle="modal" style="padding:2px 20px 2px 20px">ADD RECORD</button>
            </div>
            <div style="display:flex; align-items:center; ">
                <span style="margin:0px 10px; visibility:hidden">From</span>
                <input type="Date" id="min" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;visibility:hidden">
                <span style="margin:0px 10px;visibility:hidden">To</span>
                <input type="Date" id="max" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;visibility:hidden">
                <button style="padding:2px 20px 2px 20px; margin:0px 10px 0px 20px; visibility:hidden" onclick="filter('filter')" class="btn btn-success">GO</button>
                <button disabled style="padding: 2px 10px 2px 10px; margin: 0px 10px 0px 0px; visibility:hidden" onclick="filter('clear')" class="btn btn-danger">Clear</button>
            </div>
            <div style="display:flex; justify-content:center; align-items:center;">
                <div class="custom-control custom-switch">
                    <label style="margin-right:40px; margin-left:0px; font-weight:bold">
                        Report
                    </label>
                    <input type="checkbox" onchange="$('#reportFuelInvoice').css('display', 'none'); $('#auditFuelInvoice').css('display', 'block'); $('#ToggleFromReportToAuditFuelInvoiceAudit').prop('checked', true);" style="height:15px" class="custom-control-input" id="ToggleFromReportToAuditFuelInvoice">
                    <label class="custom-control-label" for="ToggleFromReportToAuditFuelInvoice" style="font-weight:normal">
                        Audit
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="example" style="height:70vh; overflow-y:auto;">

        <div class="row">
            <div class="col-md-12">
                <table id="FuelLogInvoiceTable" class="table table-striped table-bordered">
                    <thead style="background-color:#a6a8ab; color:white">
                        <tr>
                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Date</th>
                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Invoice Number</th>
                            <th style="text-align:center; font-size:10px; padding:0px" scope="col"># of Liters</th>
                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">$/L</th>
                            <th style="text-align: center; font-size: 10px; padding: 0px" scope="col">Entry Date</th>
                            <th style="text-align: center; font-size: 10px; padding: 0px" scope="col">Entry User</th>
                            <th style="text-align: center; font-size: 10px; padding: 0px; width:40%" scope="col">Comments</th>
                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:white; font-weight:bold">

                        @if (Model.fuelLogInvoicedList.Count > 0)
                        {
                            for (int i = 0; i < Model.fuelLogInvoicedList.Count(); i++)
                            {

                                <tr>

                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Convert.ToDateTime(Model.fuelLogInvoicedList[i].date_of_purchase).ToString("yyyy-MM-dd")</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Model.fuelLogInvoicedList[i].invoice_number</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Model.fuelLogInvoicedList[i].no_of_liters</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Model.fuelLogInvoicedList[i].price_per_liter</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Model.fuelLogInvoicedList[i].change_type</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px">@Model.fuelLogInvoicedList[i].employee_id</td>
                                    <td style="text-align:center; font-size:12px; vertical-align:middle; padding:0px" data-toggle="tooltip" data-placement="top" title="@Model.fuelLogInvoicedList[i].comments"><div class="a">@Model.fuelLogInvoicedList[i].comments</div></td>
                                    <td style="text-align: center;font-size: 12px;vertical-align:middle; padding:0px" scope="col">
                                        @if (Model.fuelLogInvoicedList[i].audit_status)
                                        {
                                            <button style="opacity:0.5; margin:5px; background-color:transparent; border:none; outline:none; font-size:15px" class="fa fa-edit" data-toggle="modal"></button>
                                        }
                                        else
                                        {
                                            <button id="@Model.fuelLogInvoicedList[i].no_of_liters~@Model.fuelLogInvoicedList[i].price_per_liter~@Model.fuelLogInvoicedList[i].transaction_number~@Model.fuelLogInvoicedList[i].comments~@Model.fuelLogInvoicedList[i].change_type~@Model.fuelLogInvoicedList[i].invoice_number" onclick="PopulateEditFormInvoice(this.id)" style="margin:5px; background-color:transparent; border:none; outline:none; font-size:15px" class="fa fa-edit" data-toggle="modal" data-target="#EditFuelLogInvoice"></button>
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="auditFuelInvoice" style="display:none">
    @using (Html.BeginForm("SubmitAuditStatusPartial", "VehicleHarpoon", FormMethod.Post))
    {
        <div class="row" id="saveButton" style="display:none; padding:0px 15px 15px 15px">
            <div class="col-lg-12 text-center" style="background-color: #fdcf16;">
                <button type="submit" style="margin:5px; padding:0px 30px 0px 30px" class="btn btn-success">Save</button>
                <button type="button" onclick="location.reload()" style="margin:5px; padding:0px 20px 0px 20px" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-12" id="searchFieldInvoiceAudit" style="display:flex; align-items:center; justify-content:space-between">
                <div>
                    <button class="btn btn-success auditSubmit" type="submit" style="visibility:hidden; padding:2px 16px 2px 16px">SUBMIT AUDIT</button>
                </div>
                <div style="display:flex; align-items:center;">
                    <div style="visibility:hidden">
                        <span style="margin:0px 10px">From</span>
                        <input type="Date" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;">
                        <span style="margin:0px 10px">To</span>
                        <input type="Date" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;">
                        <button style="padding: 2px 20px 2px 20px;margin: 0px 10px 0px 20px" onclick="filter('filter')" class="btn btn-success">GO</button>
                        <button disabled style="padding: 2px 10px 2px 10px;margin: 0px 10px 0px 0px" onclick="filter('clear')" class="btn btn-danger">Clear</button>
                    </div>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;">
                    <div class="custom-control custom-switch">
                        <label style="margin-right: 40px;margin-left: 0px;font-weight: normal">
                            Report
                        </label>
                        <input type="checkbox" checked onchange="$('#reportFuelInvoice').css('display', 'block'); $('#auditFuelInvoice').css('display', 'none'); $('#ToggleFromReportToAuditFuelInvoice').prop('checked', false);" style="height:15px" class="custom-control-input" id="ToggleFromReportToAuditFuelInvoiceAudit">
                        <label class="custom-control-label" for="ToggleFromReportToAuditFuelInvoiceAudit" style="font-weight:bold">
                            Audit
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <table id="FuelInvoiceAuditTable" class="table table-striped table-bordered">
            <thead style="background-color: #a6a8ab; color: white" class="text-center">
                <tr>
                    <th style="font-size:10px; padding:0px">Purchase Date</th>
                    <th style="font-size:10px; padding:0px">Invoice #</th>
                    <th style="font-size:10px; padding:0px">No of Liters</th>
                    <th style="font-size:10px; padding:0px">Price/Liter</th>
                    <th style="font-size:10px; padding:0px">Charge Account</th>
                    <th style="font-size:10px; padding:0px">Comments</th>
                    <th style="font-size:10px; padding:0px">Action</th>
                </tr>
            </thead>
            <tbody style="text-align:center; font-weight:bold">

                @for (int i = 0; i < Model.fuelLogInvoicedList.Count(); i++)
                {
                    <tr>
                        @Html.HiddenFor(m => m.fuelLogInvoicedList[i].transaction_number)

                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Convert.ToDateTime(Model.fuelLogInvoicedList[i].date_of_purchase).ToString("yyyy-MM-dd")</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Model.fuelLogInvoicedList[i].invoice_number</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Model.fuelLogInvoicedList[i].no_of_liters</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Model.fuelLogInvoicedList[i].price_per_liter</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Model.fuelLogInvoicedList[i].change_type</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Model.fuelLogInvoicedList[i].comments</td>
                        <td style="text-align:center; font-size:12px; vertical-align:middle">@Html.CheckBoxFor(m => m.fuelLogInvoicedList[i].audit_status, new { htmlAttributes = new { @class = "form-check-input", @type = "checkbox", @style = "margin:0px" } })</td>
                    </tr>
                }


            </tbody>
        </table>
    }
</div>

<div class="modal fade" id="AddFuelLogInvoice" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("SaveFuelInvoiceReceipt", "Tools", FormMethod.Post))
        {
            <div class="modal-content" style="width:650px">
                <div class="modal-header text-center" style="padding:5px 15px">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Fuel Invoice Receipt</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(m => m.MatchedLocation)
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-5">
                                    <label style="font-size:14px;">Date</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.fuelLogInvoiceTableValues.date_of_purchase, new { htmlAttributes = new { @style = "width:100%", type = "date", @required = "required" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5">
                                    <label style="font-size:14px;">Invoice #</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.fuelLogInvoiceTableValues.invoice_number, new { htmlAttributes = new { @style = "width:width:100%", @required = "required" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5">
                                    <label style="font-size:14px;">No of Liters</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.fuelLogInvoiceTableValues.no_of_liters, new { htmlAttributes = new { @style = "width:width:100%", @required = "required" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5">
                                    <label style="font-size:14px;">Price/Liter</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.fuelLogInvoiceTableValues.price_per_liter, new { htmlAttributes = new { @style = "width:width:100%", @required = "required" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5">
                                    <label style="font-size:14px;">Charge Account</label>
                                </div>
                                <div class="col-lg-7">
                                    @{
                                        List
                                        <SelectListItem>
                                        listItems = new List
                                        <SelectListItem>
                                        ();
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Select Type",
                                            Value = ""
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Irving Account",
                                            Value = "Irving Account"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "Ultramar Account",
                                            Value = "Ultramar Account"
                                        });
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "VISA Expense",
                                            Value = "VISA Expense"
                                        });
                                    }
                                    @Html.DropDownListFor(m => m.fuelLogInvoiceTableValues.change_type, listItems, new { @class = "text-center", @style = "text-align-last: center; width:100%; height:28px", @required = "required", @id = "Brand" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            @Html.TextAreaFor(m => m.fuelLogInvoiceTableValues.comments, new { @placeholder = " Comments (Optional)", style = "width:100%; height:100%" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:5px 10px">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding:2px 20px 2px 20px">Cancel</button>
                    <button type="submit" class="btn btn-success" style="padding:2px 30px 2px 30px">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="EditFuelLogInvoice" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("EditFuelReceiptInvoice", "Tools", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header text-center" style="padding:5px 15px; display:flex; justify-content:space-between">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Invoice Receipt</h5>
                    <button type="button" class="audited" data-dismiss="modal" data-toggle="modal" data-target="#deleteFuelTransactionInvoice" style="background-color:transparent;border:none;align-items:center"><i class="fa fa-trash text-danger" style="font-size:20px;"></i></button>
                </div>
                <div class="modal-body">

                    <div class="row" style="padding:0px 15px 20px 15px">
                        <div class="col-md-12" style="border:2px solid dimgray; border-radius:5px; padding:10px">
                            <div class="row" style="margin-bottom:5px; border: none;">
                                <div class="col-md-4" style="display:flex; align-items:center; justify-content:center; flex-direction:column">
                                    <img class="imageClass" style=" width:100%; object-fit:contain" src="~/Content/InvoiceCustomer.png" alt="ProfilePic" />
                                </div>
                                <div class="col-md-8" style="display:flex; align-items:center; font-size:16px; font-weight:bolder">
                                    FUEL INVOICED TO CUSTOMER
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div style="display:none">
                                @Html.EditorFor(m => m.EditfuelLogInvoiceTableValues.transaction_number, new { htmlAttributes = new { @style = "width:100%", @readonly = true, @id = "transaction_number_edit_invoice" } })
                            </div>
                            <div class="row" style="margin-top:12px">
                                <div class="col-lg-5 text-right">
                                    <label style="font-size:14px;">Invoice Number</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.EditfuelLogInvoiceTableValues.invoice_number, new { htmlAttributes = new { @style = "width:100%", @readonly = true, @id = "invoice_edit_invoice" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:12px">
                                <div class="col-lg-5 text-right">
                                    <label style="font-size:14px;">Number of Liters</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.EditfuelLogInvoiceTableValues.no_of_liters, new { htmlAttributes = new { @class = "audited", @style = "width:100%", @required = "required", @id = "no_of_liters_edit_invoice" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5 text-right">
                                    <label style="font-size:14px;">Price/Liter</label>
                                </div>
                                <div class="col-lg-7">
                                    @Html.EditorFor(m => m.EditfuelLogInvoiceTableValues.price_per_liter, new { htmlAttributes = new { @class = "audited", @style = "width:100%", @required = "required", @id = "price_per_liter_edit_invoice" } })
                                </div>
                            </div>
                            <div class="row" style="margin-top:11px">
                                <div class="col-lg-5 text-right">
                                    <label style="font-size:14px;">Charge Account</label>
                                </div>
                                <div class="col-lg-7">
                                    @{
                                        List
                                        <SelectListItem>
                                        listItems1 = new List
                                        <SelectListItem>
                                        ();
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "Select Quantity",
                                        });
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "Irving Account",
                                            Value = "Irving Account"
                                        });
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "Ultramar Account",
                                            Value = "Ultramar Account"
                                        });
                                        listItems1.Add(new SelectListItem
                                        {
                                            Text = "VISA Expense",
                                            Value = "VISA Expense"
                                        });
                                    }
                                    @Html.DropDownListFor(m => m.EditfuelLogInvoiceTableValues.change_type, listItems1, "Select", new { @class = "text-center audited", @style = "text-align-last: center; width:100%; height:28px", @required = "required", @id = "change_type_edit_invoice" })
                                </div>
                            </div>
                            <div class="row" style="margin-top:15px; margin-bottom:0px">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.EditfuelLogInvoiceTableValues.comments, new { @class = "audited", @placeholder = " Comments (Optional)", @style = "width:100%; height:170px", @id = "comments_edit_invoice" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:5px 10px">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding:2px 20px 2px 20px">Cancel</button>
                    <button type="submit" class="btn btn-success audited" style="padding:2px 30px 2px 30px">Save</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="deleteFuelTransactionInvoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("DeleteFuelTransactionInvoice", "Tools", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header" style="padding:10px 0px 0px 15px">
                    <h5>Please Confirm</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            Are you sure you want to delete the fuel receipt?
                        </div>
                    </div>

                    <div class="row" style="display:none">
                        <div class="col-md-12">
                            @Html.EditorFor(m => m.deleteTransactionNumber, new { htmlAttributes = new { @style = "width:100%; outline:none; border:none", @readonly = true, @id = "deleteTransactionNumber_invoice" } })
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:3px">
                    <button data-dismiss="modal" style="padding:0px 10px 0px 10px" class="btn btn-danger">Cancel</button>
                    <button style="padding:0px 10px 0px 10px" class="btn btn-success">Delete</button>
                </div>
            </div>
        }

    </div>
</div>