
@{
    ViewBag.Title = "FuelLog";
    Layout = "~/Views/Shared/_ToolsLayout.cshtml";
}

@model SeHubPortal.ViewModel.FuelLogViewModel


<html lang="en">
<head>
    <title>Vehicle Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    @if (Model.SehubAccess.plant > 0)
    {
        <style>
            #PlantClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings == 3)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management == 3)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }






    @if (Model.SehubAccess.tools_dashboard > 0)
    {
        <style>
            #DashboardLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.customer_reporting > 0)
    {
        <style>
            #CRMLink {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.employee_id == 10577 || Model.SehubAccess.employee_id == 10901)
    {
        <style>
            #ExpnseClaimLink {
                display: block !important;
            }
        </style>
    }

    <style>

        div.a {
            white-space: nowrap;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .breadCrumb{
        background-color:white;
    }

        #FuelLogLink {
            display: block !important;
        }

        #toolsClicked {
            display: block !important;
        }

        #toolsClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #toolsBtn {
            color: black;
            font-weight: bold;
        }

        #FuelLogLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding-right: 0 !important;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }


            .card-header h6 {
                color: black;
            }



        .imageClass {
            width: 100%;
            height: 90%;
            border-radius: 10%;
        }

        .card {
            border: 1px solid #ededed;
            margin-bottom: 30px;
            border-radius: 10px;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            height: 250px;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        p {
            font-size: 14px;
        }

        .dash-stats-list {
            display: flex;
            flex-flow: column wrap;
            flex-grow: 1;
            padding-left: 5px;
            background-color: #007bff;
            margin-right: 5px;
            border-radius: 10px;
            color: white;
        }

        .btn-outline-primary {
            background-color: #007bff;
            color: white;
        }

        .transcationButtons {
            width: 100px;
        }

        .transcationButtons {
            margin: 0px 0px 0px 0px;
            border-radius: 5px;
            width: 90px;
            text-align: center;
        }

        .AuditButton {
            margin: 0px 0px 0px 12px;
            border-radius: 5px;
            width: 130px;
            text-align: center;
        }

        table {
            width: 100%;
        }

        #example_filter {
            float: right;
        }

        #example_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        .dataTables_filter {
            float: right;
        }

            .dataTables_filter label input {
                margin-left: 10px;
            }

        #historyTable_info {
            float: left;
        }

        #historyTable_paginate {
            float: right;
        }

        #auditTable_info {
            float: left;
        }

        #auditTable_paginate {
            float: right;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        div.scrollmenu {
            overflow: auto;
            white-space: nowrap;
        }

        .dataTables_length {
            display: none
                }
    </style>
</head>
<body>

    <div class="row heading" style="margin:10px 0px 0px 0px">
        <div class="col" style="margin:0px 5px 15px 15px; padding:5px 10px; background-color:white">

            <div style="display:flex; justify-content:space-between; align-items:center">
                <div>
                    <a href="@Url.Action("FuelLog", "Tools")">Tools </a>/ Fuel Reporting
                </div>
                <div style="justify-content:center; align-items:center">
                    <div style="display:flex; justify-content:center; width:100%">
                        <label style="margin-right:10px">Vehicles</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches">Shop</label>
                        </div>
                    </div>
                </div>
                <div style="display:flex; justify-content:space-between; align-items:center">
                    <div></div>
                    <div style="display:flex; align-items:center">
                        <label>Location</label>
                        @using (Html.BeginForm("FuelLogChangeLocation", "Tools", FormMethod.Post))
                        {
                            <div>
                                @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:150px;height:23px;font-size:15px;margin-left:6px;" })
                                <noscript><input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
            <i class="fa fa-bars" style="font-size:25px"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>

    </div>

    <div id="vehicles">
        @if (Model.vehicleInfoList.Count > 0)
        {
            <div class="row" style="padding: 0px 30px 0px 30px">
                <div class="col-md-3">

                    @if (Model.SelectedVehicleInfo != null)
                    {
                        string base64ProfilePic = "";
                        if (Model.SelectedVehicleInfo.vehicle_image is null)
                        {
                            base64ProfilePic = "";
                        }
                        else
                        {
                            base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.SelectedVehicleInfo.vehicle_image);
                        }
                        <div class="row" style="cursor: pointer">
                            <div class="col-md-12" style="background-color:white; padding: 10px">
                                <div class="row commonclass @Model.SelectedVehicleInfo.VIN" style="margin-bottom:5px; border: none;" onclick="location.href='@Url.Action("FuelLog", "Tools", new {loc = Model.MatchedLocID, VIN = Model.SelectedVehicleInfo.VIN })';">
                                    <div class="col-md-4" style="display:flex; align-items:center; justify-content:center; flex-direction:column">
                                        @if (base64ProfilePic == "")
                                        {
                                            <img class="imageClass" style=" width:100%; object-fit:contain" src="~/Content/jordancar.png" alt="ProfilePic" />
                                        }
                                        else
                                        {
                                            <img class="imageClass" style=" width:100%; mix-blend-mode: multiply; object-fit:contain" alt="profilePic" src="@base64ProfilePic" />
                                        }
                                    </div>
                                    <div class="col-md-8">
                                        <p class="mb-0" style="font-size:20px;font-style:italic;font-weight:bold ">@Model.SelectedVehicleInfo.vehicle_long_id</p>
                                        <p class="mb-0" style="font-size:17px;">VIN: <b>@Model.SelectedVehicleInfo.VIN</b></p>
                                        <p class="mb-0" style="font-size:17px;">Plate: <b>@Model.SelectedVehicleInfo.vehicle_plate</b></p>
                                        <p class="mb-0" style="font-size:17px;">Manufacturer: <b>@Model.SelectedVehicleInfo.vehicle_manufacturer</b></p>
                                        <p class="mb-0" style="font-size:17px;">Model: <b>@Model.SelectedVehicleInfo.vehicle_model</b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="display:flex; justify-content:space-between; align-items:center; font-weight:bold">
                                        <div class="bg-secondary" style="display:flex; padding:5px; color:white; border-radius:5px; font-size:12px">
                                            <div style="padding:0px 10px">
                                                @String.Format("{0:n0}", Model.SelectedVehicleInfo.current_milage)
                                            </div>
                                            <div style="border-left:2px solid white; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                KM
                                            </div>
                                        </div>
                                        <div class="bg-secondary" style="display:flex; padding:5px; color:white; border-radius:5px; font-size:12px">
                                            <div style="padding:0px 10px">
                                                @String.Format("{0:n}", Model.SelectedVehicleInfo.efficiency_price.Value)
                                            </div>
                                            <div style="border-left:2px solid white; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                $ / KM
                                            </div>
                                        </div>
                                        <div class="bg-secondary" style="display:flex; padding:5px; color:white; border-radius:5px; font-size:12px">
                                            <div style="padding:0px 10px">
                                                @String.Format("{0:n}", Model.SelectedVehicleInfo.efficiency_liter.Value)
                                            </div>
                                            <div style="border-left:2px solid white; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                L / 100 KM
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row example" style="height:59vh; overflow-y:auto">
                        <div class="col-md-12">
                            @for (int i = 0; i < Model.vehicleInfoList.Count; i++)
                            {
                                if (Model.vehicleInfoList[i].VIN != Model.selectedVIN)
                                {
                                    string base64ProfilePic = "";
                                    if (Model.vehicleInfoList[i].vehicle_image is null)
                                    {
                                        base64ProfilePic = "";
                                    }
                                    else
                                    {
                                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.vehicleInfoList[i].vehicle_image);
                                    }
                                    <div class="row" style="cursor: pointer">
                                        <div class="col-md-12" style="padding: 10px; border-bottom:4px solid white">
                                            <div class="row commonclass @Model.vehicleInfoList[i].VIN" style="margin-bottom:5px; cursor: pointer; border: none;" onclick="location.href='@Url.Action("FuelLog", "Tools", new {loc = Model.MatchedLocID, VIN = Model.vehicleInfoList[i].VIN })';">
                                                <div class="col-md-4" style="display: flex; align-items: center; justify-content: center; flex-direction: column">
                                                    @if (base64ProfilePic == "")
                                                    {
                                                        <img class="imageClass" style=" width:100%; object-fit:contain" src="~/Content/jordancar.png" alt="ProfilePic" />
                                                    }
                                                    else
                                                    {
                                                        <img class="imageClass" style=" width:100%; mix-blend-mode: multiply; object-fit:contain" alt="profilePic" src="@base64ProfilePic" />
                                                    }
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="mb-0" style="font-size:20px;font-style:italic;font-weight:bold ">@Model.vehicleInfoList[i].vehicle_long_id</p>
                                                    <p class="mb-0" style="font-size:17px;">VIN: <b>@Model.vehicleInfoList[i].VIN</b></p>
                                                    <p class="mb-0" style="font-size:17px;">Plate: <b>@Model.vehicleInfoList[i].vehicle_plate</b></p>
                                                    <p class="mb-0" style="font-size:17px;">Manufacturer: <b>@Model.vehicleInfoList[i].vehicle_manufacturer</b></p>
                                                    <p class="mb-0" style="font-size:17px;">Model: <b>@Model.vehicleInfoList[i].vehicle_model</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="display:flex; justify-content:space-between; align-items:center; font-weight:bold">
                                                    <div style="border:2px solid dimgray; color:dimgray; background-color:white; display:flex; padding:5px; border-radius:5px; font-size:12px">
                                                        <div style="padding:0px 5px">
                                                            @String.Format("{0:n0}", Model.vehicleInfoList[i].current_milage)
                                                        </div>
                                                        <div style="border-left:2px solid dimgray; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                            KM
                                                        </div>
                                                    </div>
                                                    <div style="border:2px solid dimgray; color:dimgray; background-color:white; display:flex; padding:5px; border-radius:5px; font-size:12px">
                                                        <div style="padding:0px 5px">
                                                            @String.Format("{0:n}", Model.vehicleInfoList[i].efficiency_price.Value)
                                                        </div>
                                                        <div style="border-left:2px solid dimgray; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                            $ / KM
                                                        </div>
                                                    </div>
                                                    <div style="border:2px solid dimgray; color:dimgray; background-color:white; display:flex; padding:5px; border-radius:5px; font-size:12px">
                                                        <div style="padding:0px 5px">
                                                            @String.Format("{0:n}", Model.vehicleInfoList[i].efficiency_liter.Value)
                                                        </div>
                                                        <div style="border-left:2px solid dimgray; padding:0px 5px; font-size:8px; display:flex; align-items:center">
                                                            L / 100 KM
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                @if (Model.selectedVIN != null)
                {
                    <div class="col-md-9" id="loadDiv" style="background-color:white; padding:15px; height:79vh">
                        <div id="RightLoading" style="width:100%; height:100%; display:none; justify-content:center; align-items:center">
                            <div style="width:100%; height:100%; display:flex; justify-content:center; align-items:center">
                                <img src="~/Content/giphy.gif" style="width:150px" alt="Alternate Text" />
                            </div>
                        </div>
                        <div id="Content">
                            <div id="report">
                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-md-12" id="searchField" style="display:flex; align-items:center; justify-content:space-between">
                                        <div>
                                            <button class="btn btn-primary" data-target="#AddFuelLog" data-toggle="modal" style="padding:2px 20px 2px 20px">ADD RECORD</button>
                                        </div>
                                        <div style="display:flex; align-items:center; ">
                                            <span style="margin:0px 10px; visibility:hidden">From</span>
                                            <input type="Date" id="min" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;visibility:hidden">
                                            <span style="margin:0px 10px;visibility:hidden">To</span>
                                            <input type="Date" id="max" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;visibility:hidden">
                                            <button style="padding:2px 20px 2px 20px; margin:0px 10px 0px 20px; visibility:hidden" onclick="filter('filter')" class="btn btn-success">GO</button>
                                            <button disabled style="padding: 2px 10px 2px 10px; margin: 0px 10px 0px 0px; visibility:hidden" onclick="filter('clear')" class="btn btn-danger">Clear</button>
                                        </div>
                                        <div style="display:flex; justify-content:center; align-items:center;">
                                            @if (Model.SehubAccess.fuel_log >= 3)
                                            {
                                                <div class="custom-control custom-switch">
                                                    <label style="margin-right:40px; margin-left:0px; font-weight:bold">
                                                        Report
                                                    </label>
                                                    <input type="checkbox" onchange="$('#report').css('display', 'none'); $('#audit').css('display', 'block'); $('#ToggleFromAuditToReport').prop('checked', true);" style="height:15px" class="custom-control-input" id="ToggleFromReportToAudit">
                                                    <label class="custom-control-label" for="ToggleFromReportToAudit" style="font-weight: normal">
                                                        Audit
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="example" style="height:70vh; overflow-y:auto;">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="FuelLogTable" class="table table-striped table-bordered">
                                                <thead style="background-color:#a6a8ab; color:white">
                                                    <tr>
                                                        <th style="text-align:center; font-size:10px; padding:0px" scope="col">Date</th>
                                                        <th style="text-align:center; font-size:10px; padding:0px" scope="col">Mileage</th>
                                                        <th style="text-align:center; font-size:10px; padding:0px" scope="col"># of Liters</th>
                                                        <th style="text-align:center; font-size:10px; padding:0px" scope="col">$/L</th>
                                                        <th style="text-align: center;font-size: 10px;padding: 0px;width: 40%" scope="col">Comments</th>
                                                        <th style="text-align: center;font-size: 10px;padding: 0px" scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color:white; font-weight:bold">
                                                    @foreach (var fuel in Model.fuelLogList)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle" scope="col">
                                                                @if (fuel.date_of_purchase.HasValue)
                                                                {
                                                                    @fuel.date_of_purchase.Value.ToString("MMM dd, yyyy")
                                                                }
                                                            </td>
                                                            <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle" scope="col">
                                                                @String.Format("{0:n0}", fuel.odometer)
                                                            </td>
                                                            <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle" scope="col">
                                                                @String.Format("{0:#,0.000}", fuel.no_of_liters)
                                                            </td>
                                                            <td style="text-align: center;font-size: 12px;padding: 0px;vertical-align: middle" scope="col">
                                                                @String.Format("{0:#,0.000}", fuel.price_per_liter)
                                                            </td>
                                                            <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle" scope="col">
                                                                @fuel.comments
                                                            </td>
                                                            <td style="text-align: center;font-size: 12px;padding: 0px;vertical-align: central" scope="col">
                                                                @if (fuel.audit_status)
                                                                {
                                                                    <button style="opacity:0.5; margin:5px; background-color:transparent; border:none; outline:none; font-size:15px" class="fa fa-edit" data-toggle="modal" ></button>
                                                                }
                                                                else
                                                                {
                                                                    <button id="@fuel.odometer~@fuel.no_of_liters~@fuel.price_per_liter~@fuel.transaction_number~@fuel.comments~@fuel.change_type" onclick="PopulateEditForm(this.id)" style="margin:5px; background-color:transparent; border:none; outline:none; font-size:15px" class="fa fa-edit" data-toggle="modal" data-target="#EditFuelLog"></button>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="audit" style="display:none">
                                @using (Html.BeginForm("SubmitAuditStatus", "Tools", FormMethod.Post))
                                {
                                    @Html.EditorFor(m => m.selectedVIN, new { htmlAttributes = new { @style = "width:100%; display:none", @readonly = true, @id = "selectedVehicleRecipt", @class = "selectedVehicleRecipt" } })
                                    <div class="row" id="saveButton" style="display:none; padding:0px 15px 15px 15px">
                                        <div class="col-lg-12 text-center" style="background-color: #fdcf16;">
                                            <button type="submit" style="margin:5px; padding:0px 30px 0px 30px" class="btn btn-success">Save</button>
                                            <button type="button" onclick="location.reload()" style="margin:5px; padding:0px 20px 0px 20px" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-md-12" id="searchFieldAudit" style="display:flex; align-items:center; justify-content:space-between">
                                            <div>
                                                <button class="btn btn-success" type="submit" style="visibility: hidden; padding: 2px 16px 2px 16px">SUBMIT AUDIT</button>
                                            </div>
                                            <div style="display:flex; align-items:center;">
                                                <div style="visibility:hidden">
                                                    <span style="margin:0px 10px">From</span>
                                                    <input type="Date" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;">
                                                    <span style="margin:0px 10px">To</span>
                                                    <input type="Date" max="@System.DateTime.Today.ToString("yyyy-MM-dd")" style="height:25px;">
                                                    <button style="padding:2px 20px 2px 20px; margin:0px 10px 0px 20px" onclick="filter('filter')" class="btn btn-success">GO</button>
                                                    <button disabled style="padding: 2px 10px 2px 10px;margin: 0px 10px 0px 0px" onclick="filter('clear')" class="btn btn-danger">Clear</button>
                                                </div>
                                            </div>
                                            <div style="display:flex; justify-content:center; align-items:center;">
                                                <div class="custom-control custom-switch">
                                                    <label style="margin-right:40px; margin-left:0px; font-weight:normal">
                                                        Report
                                                    </label>
                                                    <input type="checkbox" onchange="$('#report').css('display', 'block'); $('#audit').css('display', 'none'); $('#ToggleFromReportToAudit').prop('checked', false);" checked style="height:15px" class="custom-control-input" id="ToggleFromAuditToReport">
                                                    <label class="custom-control-label" for="ToggleFromAuditToReport" style="font-weight:bold">
                                                        Audit
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="FuelAuditTable" class="table table-striped table-bordered">
                                        <thead style="background-color:#a6a8ab; color:white" class="text-center">
                                            <tr>

                                                <th style="font-size:10px; padding:0px">Date</th>
                                                <th style="font-size: 10px;padding: 0px">Mileage</th>
                                                <th style="font-size:10px; padding:0px">Trip</th>
                                                <th style="font-size:10px; padding:0px">No of Liters</th>
                                                <th style="font-size:10px; padding:0px">Price/Liter</th>
                                                <th style="font-size:10px; padding:0px">Total Price</th>
                                                <th style="font-size: 10px;padding: 0px;width: 5%">Audit Status</th>

                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center;font-weight: bold">
                                            @for (int i = 0; i < Model.fuelLogList.Count(); i++)
                                            {
                                                <tr>
                                                    @Html.HiddenFor(m => m.fuelLogList[i].VIN)
                                                    @Html.HiddenFor(m => m.fuelLogList[i].transaction_number)
                                                    <td style="text-align: center; font-size: 12px; padding: 0px; vertical-align: middle">@Convert.ToDateTime(Model.fuelLogList[i].date_of_purchase).ToString("MMM dd, yyyy")</td>
                                                    <td style="text-align: center;font-size: 12px;padding: 0px;vertical-align: middle">@Model.fuelLogList[i].odometer</td>
                                                    @if (i < Model.fuelLogList.Count - 1)
                                                    {
                                                        int trip = Model.fuelLogList[i].odometer.Value - Model.fuelLogList[i + 1].odometer.Value;
                                                        <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle">@trip</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle"><b>N/A</b></td>
                                                    }

                                                    <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle">@Model.fuelLogList[i].no_of_liters</td>
                                                    <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle">@Model.fuelLogList[i].price_per_liter</td>
                                                    <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle">
                                                        @{
                                                            double tp = Model.fuelLogList[i].no_of_liters.Value * @Model.fuelLogList[i].price_per_liter.Value;
                                                            <span>@tp.ToString("n2")</span>
                                                        }
                                                    </td>
                                                    <td style="text-align:center; font-size:12px; padding:0px; vertical-align:middle">
                                                        @Html.CheckBoxFor(m => m.fuelLogList[i].audit_status, new { @style = "margin:7px", @onchange = "$('#saveButton').css('display', 'block');" })
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>

                                    </table>
                                }
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <div class="col-md-9" id="loadDiv" style="background-color:#f0f2f5; padding:15px;">

                    </div>
                }
            </div>

            <div class="modal fade" id="AddFuelLog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    @using (Html.BeginForm("SaveFuelReceipt", "Tools", FormMethod.Post))
                    {
                        <div class="modal-content">
                            <div class="modal-header text-center" style="padding:5px 15px">
                                <h5 class="modal-title" id="exampleModalLabel">Enter Fuel Receipt</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding:0px 15px 5px 15px">
                                    <div class="col-md-12" style="border:2px solid dimgray; border-radius:5px; padding:10px">
                                        <div class="row">
                                            <div class="col-md-5" style="display:flex; align-items:center; justify-content:center">

                                                @{
                                                    string base64ProfilePic = "";
                                                    if (Model.SelectedVehicleInfo.vehicle_image is null)
                                                    {
                                                        base64ProfilePic = "";
                                                    }
                                                    else
                                                    {
                                                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.SelectedVehicleInfo.vehicle_image);
                                                    }
                                                }

                                                <img class="commonImageClass" style=" width:100%; mix-blend-mode: multiply;" alt="profilePic" src="@base64ProfilePic" />
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-0 vehicle_long_id" style="font-size:14px;font-style:italic">@Model.SelectedVehicleInfo.vehicle_long_id</p>
                                                <p class="mb-0 VIN" style="font-size:17px;"><b>VIN:</b>@Model.SelectedVehicleInfo.VIN</p>
                                                <p class="mb-0 plate" style="font-size:17px;"><b>Plate:</b>@Model.SelectedVehicleInfo.vehicle_plate</p>
                                                <p class="mb-0 manufacturer" style="font-size:17px;"><b>Manufacturer:</b>@Model.SelectedVehicleInfo.vehicle_manufacturer</p>
                                                <p class="mb-0 model" style="font-size:17px;"><b>Model:</b>@Model.SelectedVehicleInfo.vehicle_model</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="row" style="display:none">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Vehicle ID</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.SelectedVehicleInfo.VIN, new { htmlAttributes = new { @style = "width:100%", @readonly = true } })
                                            </div>
                                        </div>
                                        <div class="row" style="display:none">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Vehicle ID</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.SelectedVehicleInfo.assigned_to, new { htmlAttributes = new { @style = "width:100%", @readonly = true, @id = "selectedVehicleRecipt", @class = "selectedVehicleRecipt" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:11px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Date</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.fuelLogTableValues.date_of_purchase, new { htmlAttributes = new { @style = "width:100%", type = "date", @required = "required", @max = System.DateTime.Today.ToString("yyyy-MM-dd") } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:12px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Mileage</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.fuelLogTableValues.odometer, new { htmlAttributes = new { @style = "width:100%", @required = "required", @onkeydown = "if(event.key==='.'){event.preventDefault();}" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:12px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Number of Liters</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.fuelLogTableValues.no_of_liters, new { htmlAttributes = new { @style = "width:100%", @required = "required", @oninput = "enforceNumberValidation(this)", @type = "number" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:11px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Price/Liter</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.fuelLogTableValues.price_per_liter, new { htmlAttributes = new { @style = "width:100%", @required = "required", @oninput = "enforceNumberValidation(this)", @type = "number" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:11px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Charge Account</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @{
                                                    List
                                                    <SelectListItem>
                                                    listItems = new List
                                                    <SelectListItem>
                                                    ();
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Select Account",
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Irving Account",
                                                        Value = "Irving Account"
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Ultramar Account",
                                                        Value = "Ultramar Account"
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "VISA Expense",
                                                        Value = "VISA Expense"
                                                    });
                                                }
                                                @Html.DropDownListFor(m => m.fuelLogTableValues.change_type, listItems, "Select", new { @class = "text-center", @style = "text-align-last: center; width:100%; height:28px", @required = "required", @id = "Brand" })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:15px; margin-bottom:0px">
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.fuelLogTableValues.comments, new { @placeholder = " Comments (Optional)", @style = "width:100%; height:170px" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="padding:5px 10px">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding:2px 20px 2px 20px">Cancel</button>
                                <button type="submit" class="btn btn-success" style="padding:2px 30px 2px 30px">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal fade" id="EditFuelLog" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    @using (Html.BeginForm("EditFuelReceipt", "Tools", FormMethod.Post))
                    {
                        <div class="modal-content">
                            <div class="modal-header text-center" style="padding:5px 15px; display:flex; justify-content:space-between">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Fuel Receipt</h5>
                                <button type="button" class="audited" data-dismiss="modal" data-toggle="modal" data-target="#deleteFuelTransaction" style="background-color:transparent;border:none;align-items:center"><i class="fa fa-trash text-danger" style="font-size:20px;"></i></button>
                            </div>
                            <div class="modal-body">

                                <div class="row" style="padding:0px 15px 20px 15px">
                                    <div class="col-md-12" style="border:2px solid dimgray; border-radius:5px; padding:10px">
                                        <div class="row">
                                            <div class="col-md-5" style="display:flex; align-items:center; justify-content:center">

                                                @{
                                                    string base64ProfilePic = "";
                                                    if (Model.SelectedVehicleInfo.vehicle_image is null)
                                                    {
                                                        base64ProfilePic = "";
                                                    }
                                                    else
                                                    {
                                                        base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(Model.SelectedVehicleInfo.vehicle_image);
                                                    }
                                                }

                                                <img class="commonImageClass" style=" width:100%; mix-blend-mode: multiply;" alt="profilePic" src="@base64ProfilePic" />
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-0 vehicle_long_id" style="font-size:14px;font-style:italic">@Model.SelectedVehicleInfo.vehicle_long_id</p>
                                                <p class="mb-0 VIN" style="font-size:17px;"><b>VIN:</b>@Model.SelectedVehicleInfo.VIN</p>
                                                <p class="mb-0 plate" style="font-size:17px;"><b>Plate:</b>@Model.SelectedVehicleInfo.vehicle_plate</p>
                                                <p class="mb-0 manufacturer" style="font-size:17px;"><b>Manufacturer:</b>@Model.SelectedVehicleInfo.vehicle_manufacturer</p>
                                                <p class="mb-0 model" style="font-size:17px;"><b>Model:</b>@Model.SelectedVehicleInfo.vehicle_model</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="display:none">
                                            @Html.EditorFor(m => m.selectedVIN, new { htmlAttributes = new { @style = "width:100%", @readonly = true } })
                                            @Html.EditorFor(m => m.editFuelLogTableValues.transaction_number, new { htmlAttributes = new { @style = "width:100%", @readonly = true, @id = "transaction_number_edit" } })
                                        </div>

                                        <div class="row" style="margin-top:12px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Mileage</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.editFuelLogTableValues.odometer, new { htmlAttributes = new { @class = "audited", @style = "width:100%", @required = "required", @id = "odometer_edit" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:12px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Number of Liters</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.editFuelLogTableValues.no_of_liters, new { htmlAttributes = new { @class = "audited", @style = "width:100%", @required = "required", @id = "no_of_liters_edit" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:11px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Price/Liter</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @Html.EditorFor(m => m.editFuelLogTableValues.price_per_liter, new { htmlAttributes = new { @class = "audited", @style = "width:100%", @required = "required", @id = "price_per_liter_edit" } })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:11px">
                                            <div class="col-lg-5 text-right">
                                                <label style="font-size:14px;">Charge Account</label>
                                            </div>
                                            <div class="col-lg-7">
                                                @{
                                                    List
                                                    <SelectListItem>
                                                    listItems1 = new List
                                                    <SelectListItem>
                                                    ();
                                                    listItems1.Add(new SelectListItem
                                                    {
                                                        Text = "Select Quantity",
                                                    });
                                                    listItems1.Add(new SelectListItem
                                                    {
                                                        Text = "Irving Account",
                                                        Value = "Irving Account"
                                                    });
                                                    listItems1.Add(new SelectListItem
                                                    {
                                                        Text = "Ultramar Account",
                                                        Value = "Ultramar Account"
                                                    });
                                                    listItems1.Add(new SelectListItem
                                                    {
                                                        Text = "VISA Expense",
                                                        Value = "VISA Expense"
                                                    });
                                                }
                                                @Html.DropDownListFor(m => m.editFuelLogTableValues.change_type, listItems1, "Select", new { @class = "text-center audited", @style = "text-align-last: center; width:100%; height:28px", @required = "required", @id = "change_type_edit" })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:15px; margin-bottom:0px">
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.editFuelLogTableValues.comments, new { @class = "audited", @placeholder = " Comments (Optional)", @style = "width:100%; height:170px", @id = "comments_edit" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="padding:5px 10px">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding:2px 20px 2px 20px">Cancel</button>
                                <button type="submit" class="btn btn-success audited" style="padding:2px 30px 2px 30px">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal fade" id="deleteFuelTransaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    @using (Html.BeginForm("DeleteFuelTransaction", "Tools", FormMethod.Post))
                    {
                        <div class="modal-content">
                            <div class="modal-header" style="padding:10px 0px 0px 15px">
                                <h5>Please Confirm</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        Are you sure you want to delete the fuel receipt?
                                    </div>
                                </div>

                                <div class="row" style="display:none">
                                    <div class="col-md-12">
                                        @Html.EditorFor(m => m.deleteTransactionNumber, new { htmlAttributes = new { @style = "width:100%; outline:none; border:none", @readonly = true, @id = "deleteTransactionNumber" } })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="padding:3px">
                                <button data-dismiss="modal" style="padding:0px 10px 0px 10px" class="btn btn-danger">Cancel</button>
                                <button style="padding:0px 10px 0px 10px" class="btn btn-success">Delete</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    </div>

    <div id="shop" style="display:none">
        <div class="row" style="padding: 0px 30px 0px 30px">
            <div class="col-md-3">
                <div class="row commonClassShop" style="cursor: pointer; background-color:white" onclick="pullInvoicePage(); $('.commonClassShop').css('background-color', '#f0f2f5'); $(this).css('background-color', 'white');">
                    <div class="col-md-12" style="padding: 40px 5px; border-bottom:4px solid white">
                        <div class="row" style="margin-bottom:5px; border: none;">
                            <div class="col-md-4" style="display:flex; align-items:center; justify-content:center; flex-direction:column">
                                <img class="imageClass" style=" width:100%; object-fit:contain" src="~/Content/InvoiceCustomer.png" alt="ProfilePic" />
                            </div>
                            <div class="col-md-8" style="display:flex; align-items:center; font-size:16px; font-weight:bolder">
                                FUEL INVOICED TO CUSTOMER
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row commonClassShop" style="cursor: pointer" onclick="pullShopSuppliesPage(); $('.commonClassShop').css('background-color', '#f0f2f5'); $(this).css('background-color', 'white')">
                    <div class="col-md-12" style="padding: 40px 5px; border-bottom:4px solid white">
                        <div class="row" style="margin-bottom:5px; border: none;">
                            <div class="col-md-4" style="display:flex; align-items:center; justify-content:center; flex-direction:column">
                                <img class="imageClass" style=" width:100%; object-fit:contain" src="~/Content/ShopSupplier.png" alt="ProfilePic" />
                            </div>
                            <div class="col-md-8" style="display:flex; align-items:center; font-size:16px; font-weight:bolder">
                                SHOP SUPPLIES FUEL LOG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="shopData" style="background-color:white; padding-top:15px">

            </div>
        </div>
    </div>

    <script>

        function DeleteTransaction(val) {
            alert(val)
        }

        function PopulateEditForm(val) {
            let arr = val.split('~');

            $('#transaction_number_edit').val(arr[3])
            $('#deleteTransactionNumber').val(arr[3])
            $('#odometer_edit').val(arr[0])
            $('#no_of_liters_edit').val(arr[1])
            $('#price_per_liter_edit').val(arr[2])
            $('#comments_edit').val(arr[4])
            $('#change_type_edit').val(arr[5])
        }
    </script>

    <script>
        $("#customSwitches").on('change', function () {
            if ($(this).is(':checked')) {
                $('#shop').css('display', 'block')
                $('#vehicles').css('display', 'none')
            }
            else {
                $('#shop').css('display', 'none')
                $('#vehicles').css('display', 'block')
            }
        });
    </script>

    <script>

        $.ajax({
            url: '@Url.Action("FuelInvoice", "Tools")',
            type: 'GET',
            success: function (data) {
                $("#shopData").html(data);
            }
        });

        function pullInvoicePage() {
            $.ajax({
                url: '@Url.Action("FuelInvoice", "Tools")',
                type: 'GET',
                success: function (data) {
                    $("#shopData").html(data);
                }
            });
        }

    </script>

    <script>

        function pullShopSuppliesPage() {
            $.ajax({
                url: '@Url.Action("ShopSupplies", "Tools")',
                type: 'GET',
                success: function (data) {
                    $("#shopData").html(data);
                }
            });
        }

    </script>

    <script>
        window.onload = (event) => {
            $('#loading').css('display', 'none')
        };
    </script>

    <script>
        function enforceNumberValidation(ele) {
            var val = $(ele).val();
            var splitVal = val.split('.');
            if (splitVal.length == 2 && splitVal[1].length > 3) {
                $(ele).val(splitVal[0] + '.' + splitVal[1].substr(0, 3));
            }
        }
    </script>

    <script>
        function toggleFlag(val) {
            const id = val.split('z')[1]
            if (~val.indexOf("flagRed")) {
                $('#flagBlackz' + id).css("display", "block")
                $('#flagRedz' + id).css("display", "none")
                $('#flagz' + id).prop("checked", false)
                $('#flagz' + id).closest('tr').css("color", "black")
            }
            else {
                $('#flagBlackz' + id).css("display", "none")
                $('#flagRedz' + id).css("display", "block")
                $('#flagz' + id).prop("checked", true)
                $('#flagz' + id).closest('tr').css("color", "red")
            }
            $('#saveButton').css("display", "block")
        }
    </script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $("#FuelLogTable").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [19],
                bFilter: true,
                bSort: false,
                bPaginate: true,
            });
    </script>

    <script type="text/javascript">
        $("#FuelAuditTable").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [19],
                bFilter: true,
                bSort: false,
                bPaginate: true,
            });
    </script>


    <script>
        $(document).ready(function () {
            $("#FuelLogTable_filter").appendTo("#searchField");
            $("#FuelLogTable_filter :input").css("margin", "0px 0px 0px 10px");
            $("#FuelAuditTable_filter").appendTo("#searchFieldAudit");
            $("#FuelAuditTable_filter :input").css("margin", "0px 0px 0px 10px");
        });

        $(".commonclass").click(function () {
            $('#RightLoading').css('display', 'block');
            $('#Content').css('display', 'none');
        });
    </script>

</body>
</html>




