@model SeHubPortal.ViewModel.ModifyEmployeePermissions


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
    #EmployeeCredentials_password, #EmployeeCredentials_password365, #empDetails_rfid_number, #empDetails_loc_ID {
        text-align: center;
    }

    /*Toggle buttton css code*/
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 6px;
            bottom: 5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    /*end of toggle button code*/
</style>


@using (Html.BeginForm("ManageEmployeePermisssions", "Tools", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header" style="padding:5px 5px 5px 0px">
            <div class="col-md-7 text-left">
                <h5 class="modal-title" id="exampleModalLongTitle"><b>@Model.empDetails.full_name</b> - <b>@Model.empDetails.employee_id</b></h5>
            </div>
            <div class="col-md-5 text-right">

                <div class="custom-control custom-switch">
                    @Html.EditorFor(model => model.appAccess, new { htmlAttributes = new { @id="ToggleFromBranchToCorporate", @class="custom-control-input", @type = "checkbox", @checked = Model.appAccess } })
                    <label class="custom-control-label" for="ToggleFromBranchToCorporate">
                        <h5 style="" id="CorporateText">Sehub Access</h5>
                    </label>
                </div>

            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-4 text-left">
                    <label style="margin-right:10px">SEHUB</label>
                    @Html.EditorFor(m => m.EmployeeCredentials.password, new { htmlAttributes = new { @style = "width:150px" } })
                </div>
                <div class="col-lg-4 text-center">
                    <label style="margin-right:10px;">Outlook-365</label>
                    @Html.EditorFor(m => m.EmployeeCredentials.password365, new { htmlAttributes = new { @style = "width:130px" } })

                </div>
                <div class="col-lg-4 text-center">
                    <label style="margin-right:10px;">RFID</label>
                    @Html.EditorFor(m => m.empDetails.rfid_number, new { htmlAttributes = new { @style = "width:150px" } })

                </div>



            </div>

            <div class="row" style="margin-top:20px">
                <div class="col-md-2 text-center">
                    001 @Html.EditorFor(m => m.loc_001, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_001 } })
                </div>
                <div class="col-md-2 text-center">
                    002 @Html.EditorFor(m => m.loc_002, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_002 } })
                </div>
                <div class="col-md-2 text-center">
                    003 @Html.EditorFor(m => m.loc_003, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_003 } })
                </div>
                <div class="col-md-2 text-center">
                    004 @Html.EditorFor(m => m.loc_004, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_004 } })
                </div>
                <div class="col-md-2 text-center">
                    005 @Html.EditorFor(m => m.loc_005, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_005 } })
                </div>
                <div class="col-md-2 text-center">
                    007 @Html.EditorFor(m => m.loc_007, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_007 } })
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-2 text-center">
                    009 @Html.EditorFor(m => m.loc_009, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_009 } })
                </div>
                <div class="col-md-2 text-center">
                    010 @Html.EditorFor(m => m.loc_010, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_010 } })
                </div>
                <div class="col-md-2 text-center">
                    011 @Html.EditorFor(m => m.loc_011, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_011 } })
                </div>
                <div class="col-md-2 text-center">
                    347 @Html.EditorFor(m => m.loc_347, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_347 } })
                </div>
                <div class="col-md-2 text-center">
                    AHO @Html.EditorFor(m => m.loc_AHO, new { htmlAttributes = new { type = "checkbox", @checked = @Model.loc_AHO } })
                </div>
            </div>

            @*<div class="row" style="margin-left:0px;height:30px;background-color:#cde8ca;color:black;margin-bottom:5px;">
                    <h6 style="padding:5px;">Employee Credentials:</h6>
                </div>*@
            @Html.HiddenFor(m => m.EmployeeCredentials.employee_id)
            @Html.HiddenFor(m => m.empDetails.employee_id)




            @*<div class="row" style="margin-top:10px;">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-2">
                                <p>No</p>
                            </div>
                            <div class="col-md-3">
                                <p>View</p>
                            </div>
                            <div class="col-md-2" style="margin-left:4px;">
                                <p>Edit</p>
                            </div>
                            <div class="col-md-2" style="margin-left:4px;">
                                <p>New</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>*@
            <hr />

            <div style="height:640px; overflow-y:auto; overflow-x:hidden">
                <div class="row" style="margin-top:10px;font-style:italic;font-size:13px;color:darkgray">
                    <div class="col-md-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2" style="position:relative">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/home64.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.main, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "main", @value = @Model.SehubAccess.main } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        @*<div class="row">
                                <div class="col-md-3">
                                    <text>Sehub Access</text>
                                </div>
                                <div class="col-md-7">
                                    @Html.EditorFor(m => m.SehubAccess.app_access, new { htmlAttributes = new { @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider1", @value = @Model.SehubAccess.app_access } })
                                </div>
                                <div class="col-md-2">
                                    <span id="slider1Val"></span>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.mainDashboard, new { htmlAttributes = new { @class = "custom-range Main", type = "range", @min = "0", @max = "3", @step = "1", @id = "mainDashboard", @value = @Model.SehubAccess.dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="mainDashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Calendar</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.mainCalendar, new { htmlAttributes = new { @class = "custom-range Main", type = "range", @min = "0", @max = "3", @step = "1", @id = "mainCalendar", @value = @Model.SehubAccess.calendar } })
                            </div>
                            <div class="col-md-2">
                                <span id="mainCalendarValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                    </div>

                </div>
                <hr style="border:1px thin gray" />

                <div class="row">
                    <div class="col-md-2">
                        <div class="row" style="margin-top:25px">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/Book64.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.library_access, new { htmlAttributes = new { @style = "width:50px;", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "slider15", @value = @Model.SehubAccess.library_access } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">


                        <div class="row">
                            <div class="col-md-3">
                                <text>Library Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_dashboard, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider20", @value = @Model.SehubAccess.library_dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider20Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Company Docs</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_company_Documents, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider21", @value = @Model.SehubAccess.library_company_Documents } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider21Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Shared Drive</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_branch_shared_drive, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider22", @value = @Model.SehubAccess.library_branch_shared_drive } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider22Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Supplier Docs</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_supplier_documents, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider23", @value = @Model.SehubAccess.library_supplier_documents } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider23Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Customer Docs</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_customer_Documents, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "custDocs", @value = @Model.SehubAccess.library_customer_Documents } })
                            </div>
                            <div class="col-md-2">
                                <span id="custDocsVal" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Management</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.library_Management, new { htmlAttributes = new { @class = "custom-range Library", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider24", @value = @Model.SehubAccess.library_Management } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider24Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                    </div>

                </div>

                <hr style="border:1px thin gray" />

                <div class="row">

                    <div class="col-md-2" style="position:relative">
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/Wrench64.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.tools, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "tools", @value = @Model.SehubAccess.tools } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.tools_dashboard, new { htmlAttributes = new { @class = "custom-range Tools", type = "range", @min = "0", @max = "3", @step = "1", @id = "tools_dashboard", @value = @Model.SehubAccess.tools_dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="tools_dashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>Fuel Log</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fuel_log, new { htmlAttributes = new { @class = "custom-range Tools", type = "range", @min = "0", @max = "3", @step = "1", @id = "fuel_log", @value = @Model.SehubAccess.fuel_log } })
                            </div>
                            <div class="col-md-2">
                                <span id="fuel_logValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>CRM</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.customer_reporting, new { htmlAttributes = new { @class = "custom-range Tools", type = "range", @min = "0", @max = "3", @step = "1", @id = "customer_reporting", @value = @Model.SehubAccess.customer_reporting } })
                            </div>
                            <div class="col-md-2">
                                <span id="customer_reportingValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>


                    </div>

                </div>
                <hr style="border:1px thin gray" />

                <div class="row">

                    <div class="col-md-2" style="position:relative">
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/Tire64.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.treadTracker, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "treadTracker", @value = @Model.SehubAccess.treadTracker } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.treadTrackerDashboard, new { htmlAttributes = new { @class = "custom-range TrwadTracker", type = "range", @min = "0", @max = "3", @step = "1", @id = "treadTrackerDashboard", @value = @Model.SehubAccess.treadTrackerDashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="treadTrackerDashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>Failure Analysis</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.treadTracker_failure_analysis, new { htmlAttributes = new { @class = "custom-range TrwadTracker", type = "range", @min = "0", @max = "3", @step = "1", @id = "failureAnalysis", @value = @Model.SehubAccess.treadTracker_failure_analysis } })
                            </div>
                            <div class="col-md-2">
                                <span id="failureAnalysisValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Production Report</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.treadTracker_production_report, new { htmlAttributes = new { @class = "custom-range TrwadTracker", type = "range", @min = "0", @max = "3", @step = "1", @id = "productionReport", @value = @Model.SehubAccess.treadTracker_production_report } })
                            </div>
                            <div class="col-md-2">
                                <span id="productionReportValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Customers</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.treadTracker_customers, new { htmlAttributes = new { @class = "custom-range TrwadTracker", type = "range", @min = "0", @max = "3", @step = "1", @id = "treadTracker_customers", @value = @Model.SehubAccess.treadTracker_customers } })
                            </div>
                            <div class="col-md-2">
                                <span id="treadTracker_customersValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>


                    </div>

                </div>
                <hr style="border:1px thin gray" />

                <div class="row">

                    <div class="col-md-2" style="position:relative">
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                <img style="height:80px" src="~/Content/FleetTVT_icon (1).png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.fleetTVT, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "fleetTVT", @value = @Model.SehubAccess.fleetTVT } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fleetTvt_dashboard, new { htmlAttributes = new { @class = "custom-range FleetTVT", type = "range", @min = "0", @max = "3", @step = "1", @id = "fleetTvt_dashboard", @value = @Model.SehubAccess.fleetTvt_dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="fleetTvt_dashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-3">
                                <text>New Survey</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fleetTvt_fieldSurvey, new { htmlAttributes = new { @class = "custom-range FleetTVT", type = "range", @min = "0", @max = "3", @step = "1", @id = "fleetTvt_fieldSurvey", @value = @Model.SehubAccess.fleetTvt_fieldSurvey } })
                            </div>
                            <div class="col-md-2">
                                <span id="fleetTvt_fieldSurveyValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Customers</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fleetTvt_EditAccount, new { htmlAttributes = new { @class = "custom-range FleetTVT", type = "range", @min = "0", @max = "3", @step = "1", @id = "fleetTvt_EditAccount", @value = @Model.SehubAccess.fleetTvt_EditAccount } })
                            </div>
                            <div class="col-md-2">
                                <span id="fleetTvt_EditAccountValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>Vier Or Edit Survey</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fleetTVT_vier_or_edit_survey, new { htmlAttributes = new { @class = "custom-range FleetTVT", type = "range", @min = "0", @max = "3", @step = "1", @id = "fleetTVT_vier_or_edit_survey", @value = @Model.SehubAccess.fleetTVT_vier_or_edit_survey } })
                            </div>
                            <div class="col-md-2">
                                <span id="fleetTVT_vier_or_edit_surveyValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>Fleet Snapshot</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.fleetTvt_snapshot, new { htmlAttributes = new { @class = "custom-range FleetTVT", type = "range", @min = "0", @max = "3", @step = "1", @id = "fleetTvt_snapshot", @value = @Model.SehubAccess.fleetTvt_snapshot } })
                            </div>
                            <div class="col-md-2">
                                <span id="fleetTvt_snapshotValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                    </div>

                </div>
                <hr style="border:1px thin gray" />

                <div class="row">
                    <div class="col-md-2" style="position:relative">
                        <div class="row" style="margin-top:30px">
                            <div class="col-lg-12 text-center">
                                <img style="height:80px" src="~/Content/Management64.png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.management, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range", type = "range", @min = "0", @max = "3", @step = "3", @id = "management", @value = @Model.SehubAccess.management } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.management_dashboard, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "management_dashboard", @value = @Model.SehubAccess.management_dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="management_dashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>My Staff</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.my_staff, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider7", @value = @Model.SehubAccess.my_staff } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider7Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <text>Attendance</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.attendance, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider9", @value = @Model.SehubAccess.attendance } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider9Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <text>Vacation Schedule</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.vacation_schedule, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider11", @value = @Model.SehubAccess.vacation_schedule } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider11Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Asset Control</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.asset_control, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "slider12", @value = @Model.SehubAccess.asset_control } })
                            </div>
                            <div class="col-md-2">
                                <span id="slider12Val" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Employee Folder</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.employee_folder, new { htmlAttributes = new { @class = "custom-range Management", type = "range", @min = "0", @max = "3", @step = "1", @id = "employee_folder", @value = @Model.SehubAccess.employee_folder } })
                            </div>
                            <div class="col-md-2">
                                <span id="employee_folderVal" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr style="border:1px thin gray" />

                <div class="row">
                    <div class="col-md-2" style="position:relative">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img style="height:65px" src="~/Content/payrollNew.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                <input style="width:50px" class="custom-range" type="range" min="0" max="3" step="3" id="payroll" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">

                        <div class="row">
                            <div class="col-md-3">
                                <text>Payroll</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.payroll, new { htmlAttributes = new { @class = "custom-range Payroll", type = "range", @min = "0", @max = "3", @step = "1", @id = "payrollBody", @value = @Model.SehubAccess.payroll } })
                            </div>
                            <div class="col-md-2">
                                <span id="payrollBodyValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>


                    </div>

                </div>

                <hr style="border:1px thin gray" />
                <div class="row">
                    <div class="col-md-2" style="position:relative">
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                <img style="height:65px" src="~/Content/settings.png" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-lg-12 text-center">
                                @Html.EditorFor(m => m.SehubAccess.settings, new { htmlAttributes = new { @style = "width:50px", @class = "custom-range ", type = "range", @min = "0", @max = "3", @step = "3", @id = "settings", @value = @Model.SehubAccess.fleetTVT } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <text>Dashboard</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.settings_dashboard, new { htmlAttributes = new { @class = "custom-range Settings", type = "range", @min = "0", @max = "3", @step = "1", @id = "settings_dashboard", @value = @Model.SehubAccess.settings_dashboard } })
                            </div>
                            <div class="col-md-2">
                                <span id="settings_dashboardValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Permissions</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.settings_managePermissions, new { htmlAttributes = new { @class = "custom-range Settings", type = "range", @min = "0", @max = "3", @step = "1", @id = "settings_managePermissions", @value = @Model.SehubAccess.settings_managePermissions } })
                            </div>
                            <div class="col-md-2">
                                <span id="settings_managePermissionsValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Customers</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.settings_customers, new { htmlAttributes = new { @name = "form_range", @class = "custom-range Settings", type = "range", @min = "0", @max = "3", @step = "1", @id = "settings_customers", @value = @Model.SehubAccess.settings_customers } })
                            </div>
                            <div class="col-md-2">
                                <span id="settings_customersValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <text>Administration</text>
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(m => m.SehubAccess.settings_administration, new { htmlAttributes = new { @name = "form_range", @class = "custom-range Settings", type = "range", @min = "0", @max = "3", @step = "1", @id = "settings_administration", @value = @Model.SehubAccess.settings_administration } })
                            </div>
                            <div class="col-md-2">
                                <span id="settings_administrationValue" style=" font-weight:bold; color:#2573fa"></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="modal-footer" style="padding:5px 5px 5px 15px">

            <div class="col-md-8 text-left" style="color:#abadb0">
                <text><b style="margin:3px 3px 3px 32px;">0</b>-No Access</text>
                <text><b style="margin:3px 3px 3px 43px;">1</b>-Read Only</text>
                <text><b style="margin:3px 3px 3px 36px;">2</b>-Edit</text>
                <text><b style="margin:3px 3px 3px 72px;">3</b>-New</text>
            </div>

            <input type="submit" style="padding:2px 30px 2px 30px" class="btn btn-success" value="Save" />
            <button type="button" style="padding:2px 20px 2px 20px" class="btn btn-danger" data-dismiss="modal">Cancel</button>


        </div>
    </div>
}

<script>

    $(document).on('input', '.Settings', function () {
        if (document.getElementById("settings_dashboard").value == "0" && document.getElementById("settings_managePermissions").value == "0" && document.getElementById("settings_customers").value == "0" && document.getElementById("settings_administration").value == "0" ) {
            document.getElementById("settings").value = "0";
        }
        else {
            document.getElementById("settings").value = "3";
        }
    });

    $(document).on('input', '.FleetTVT', function () {
        if (document.getElementById("fleetTvt_dashboard").value == "0" && document.getElementById("fleetTvt_fieldSurvey").value == "0" && document.getElementById("fleetTvt_EditAccount").value == "0" && document.getElementById("fleetTVT_vier_or_edit_survey").value == "0" && document.getElementById("fleetTvt_snapshot").value == "0") {
            document.getElementById("fleetTVT").value = "0";
        }
        else {
            document.getElementById("fleetTVT").value = "3";
        }
    });

    $(document).on('input', '.TrwadTracker', function () {
        if (document.getElementById("treadTrackerDashboard").value == "0" && document.getElementById("failureAnalysis").value == "0" && document.getElementById("productionReport").value == "0" && document.getElementById("treadTracker_customers").value == "0") {
            document.getElementById("treadTracker").value = "0";
        }
        else {
            document.getElementById("treadTracker").value = "3";
        }
    });

    $(document).on('input', '.Tools', function () {
        if (document.getElementById("tools_dashboard").value == "0" && document.getElementById("fuel_log").value == "0" && document.getElementById("customer_reporting").value == "0") {
            document.getElementById("tools").value = "0";
        }
        else {
            document.getElementById("tools").value = "3";
        }
    });

    $(document).on('input', '.Library', function () {
        if (document.getElementById("slider20").value == "0" && document.getElementById("slider21").value == "0" && document.getElementById("slider22").value == "0" && document.getElementById("slider23").value == "0" && document.getElementById("slider24").value == "0") {
            document.getElementById("slider15").value = "0";
        }
        else {
            document.getElementById("slider15").value = "3";
        }
    });

    $(document).on('input', '.Main', function () {
        if (document.getElementById("mainDashboard").value == "0" && document.getElementById("mainCalendar").value == "0") {
            document.getElementById("main").value = "0";
        }
        else {
            document.getElementById("main").value = "3";
        }
    });

    $(document).on('input', '.Payroll', function () {
        if (document.getElementById("payrollBody").value == "0") {
            document.getElementById("payroll").value = "0";
        }
        else {
            document.getElementById("payroll").value = "3";
        }
    });


    $(document).on('input', '.Management', function () {
        if (document.getElementById("management_dashboard").value == "0" && document.getElementById("slider7").value == "0" && document.getElementById("slider9").value == "0" && document.getElementById("slider11").value == "0" && document.getElementById("slider12").value == "0" && document.getElementById("employee_folder").value == "0" ) {
            document.getElementById("management").value = "0";
        }
        else {
            document.getElementById("management").value = "3";
        }
    });


    $(document).ready(function () {

        $('#mainDashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("mainDashboardValue").innerHTML = id;
        });
        $('#mainDashboard').change();

        $('#mainCalendar').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("mainCalendarValue").innerHTML = id;
        });
        $('#mainCalendar').change();

        $('#slider3').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider3Val").innerHTML = id;
        });
        $('#slider3').change();

        $('#slider4').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider4Val").innerHTML = id;
        });
        $('#slider4').change();

        $('#failureAnalysis').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("failureAnalysisValue").innerHTML = id;
        });
        $('#failureAnalysis').change();

        $('#productionReport').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("productionReportValue").innerHTML = id;
        });
        $('#productionReport').change();

        $('#treadTracker_customers').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("treadTracker_customersValue").innerHTML = id;
        });
        $('#treadTracker_customers').change();

        $('#treadTrackerDashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("treadTrackerDashboardValue").innerHTML = id;
        });
        $('#treadTrackerDashboard').change();

        $('#fleetTvt_dashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fleetTvt_dashboardValue").innerHTML = id;
        });
        $('#fleetTvt_dashboard').change();


        $('#fleetTvt_fieldSurvey').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fleetTvt_fieldSurveyValue").innerHTML = id;
        });
        $('#fleetTvt_fieldSurvey').change();


        $('#fleetTvt_EditAccount').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fleetTvt_EditAccountValue").innerHTML = id;
        });
        $('#fleetTvt_EditAccount').change();

        $('#fleetTVT_vier_or_edit_survey').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fleetTVT_vier_or_edit_surveyValue").innerHTML = id;
        });
        $('#fleetTVT_vier_or_edit_survey').change();

        $('#fleetTvt_snapshot').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fleetTvt_snapshotValue").innerHTML = id;
        });
        $('#fleetTvt_snapshot').change();




        $('#slider7').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider7Val").innerHTML = id;
        });
        $('#slider7').change();

        $('#payrollBody').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("payrollBodyValue").innerHTML = id;
        });
        $('#payrollBody').change();

        $('#slider9').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider9Val").innerHTML = id;
        });
        $('#slider9').change();

        $('#slider10').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider10Val").innerHTML = id;
        });
        $('#slider10').change();

        $('#slider11').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider11Val").innerHTML = id;
        });
        $('#slider11').change();

        $('#slider12').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider12Val").innerHTML = id;
        });
        $('#slider12').change();

        $('#employee_folder').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("employee_folderVal").innerHTML = id;
        });
        $('#employee_folder').change();

        $('#settings_dashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("settings_dashboardValue").innerHTML = id;
        });
        $('#settings_dashboard').change();

        $('#settings_administration').on('change', function (e) {
                    var id = e.target.value;
                    document.getElementById("settings_administrationValue").innerHTML = id;
                });
        $('#settings_administration').change();




        $('#settings_managePermissions').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("settings_managePermissionsValue").innerHTML = id;
        });
        $('#settings_managePermissions').change();

        $('#settings_customers').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("settings_customersValue").innerHTML = id;
        });
        $('#settings_customers').change();

        $('#management_dashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("management_dashboardValue").innerHTML = id;
        });
        $('#management_dashboard').change();







        $('#tools_dashboard').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("tools_dashboardValue").innerHTML = id;
        });
        $('#tools_dashboard').change();

        $('#fuel_log').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("fuel_logValue").innerHTML = id;
        });
        $('#fuel_log').change();

        $('#customer_reporting').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("customer_reportingValue").innerHTML = id;
        });
        $('#customer_reporting').change();




        if (document.getElementById("slider20").value == "0" && document.getElementById("slider21").value == "0" && document.getElementById("slider22").value == "0" && document.getElementById("slider23").value == "0" && document.getElementById("slider24").value == "0" && document.getElementById("custDocs").value == "0") {
            document.getElementById("slider15").value = "0";
        }





        $('#slider15').on('change', function (e) {

            if (document.getElementById("slider15").value == "0") {

                document.getElementById("slider20").value = "0";
                document.getElementById("slider21").value = "0";
                document.getElementById("slider22").value = "0";
                document.getElementById("slider23").value = "0";
                document.getElementById("slider24").value = "0";
                document.getElementById("custDocs").value = "0";

                document.getElementById("slider20Val").innerHTML = "0";
                document.getElementById("slider21Val").innerHTML = "0";
                document.getElementById("slider22Val").innerHTML = "0";
                document.getElementById("slider23Val").innerHTML = "0";
                document.getElementById("slider24Val").innerHTML = "0";
                document.getElementById("custDocs").innerHTML = "0";
            }
            else if (document.getElementById("slider15").value == "3") {

                document.getElementById("slider20").value = "1";
                document.getElementById("slider21").value = "1";
                document.getElementById("slider22").value = "1";
                document.getElementById("slider23").value = "1";
                document.getElementById("slider24").value = "1";
                document.getElementById("custDocs").value = "1";

                document.getElementById("slider20Val").innerHTML = "1";
                document.getElementById("slider21Val").innerHTML = "1";
                document.getElementById("slider22Val").innerHTML = "1";
                document.getElementById("slider23Val").innerHTML = "1";
                document.getElementById("slider24Val").innerHTML = "1";
                document.getElementById("custDocs").innerHTML = "1";
            }

        });

        $('#main').on('change', function (e) {

            if (document.getElementById("main").value == "0") {
                document.getElementById("mainCalendar").value = "0";
                document.getElementById("mainDashboard").value = "0";

                document.getElementById("mainDashboardValue").innerHTML = "0";
                document.getElementById("mainCalendarValue").innerHTML = "0";
            }
            else if (document.getElementById("main").value == "3") {
                document.getElementById("mainCalendar").value = "1";
                document.getElementById("mainDashboard").value = "1";

                document.getElementById("mainDashboardValue").innerHTML = "1";
                document.getElementById("mainCalendarValue").innerHTML = "1";
            }
        });


        if (document.getElementById("payrollBody").value == "0") {
            document.getElementById("payroll").value = "0";
        }
        else {
            document.getElementById("payroll").value = "3";
        }




        $('#payroll').on('change', function (e) {

            if (document.getElementById("payroll").value == "0") {

                document.getElementById("payrollBody").value = "0";

                document.getElementById("payrollBodyValue").innerHTML = "0";

            }
            else if (document.getElementById("payroll").value == "3") {

                document.getElementById("payrollBody").value = "1";

                document.getElementById("payrollBodyValue").innerHTML = "1";

            }
        });


        $('#treadTracker').on('change', function (e) {

            if (document.getElementById("treadTracker").value == "0") {

                document.getElementById("neworder").value = "0";
                document.getElementById("openorder").value = "0";
                document.getElementById("treadTrackerDashboard").value = "0";

                document.getElementById("neworderValue").innerHTML = "0";
                document.getElementById("openorderValue").innerHTML = "0";
                document.getElementById("treadTrackerDashboardValue").innerHTML = "0";
            }
            else if (document.getElementById("treadTracker").value == "3") {

                document.getElementById("neworder").value = "1";
                document.getElementById("openorder").value = "1";
                document.getElementById("treadTrackerDashboard").value = "1";

                document.getElementById("neworderValue").innerHTML = "1";
                document.getElementById("openorderValue").innerHTML = "1";
                document.getElementById("treadTrackerDashboardValue").innerHTML = "1";
            }
        });

        $('#tools').on('change', function (e) {

            if (document.getElementById("tools").value == "0") {

                document.getElementById("tools_dashboard").value = "0";
                document.getElementById("fuel_log").value = "0";
                document.getElementById("customer_reporting").value = "0";

                document.getElementById("tools_dashboardValue").innerHTML = "0";
                document.getElementById("fuel_logValue").innerHTML = "0";
                document.getElementById("customer_reportingValue").innerHTML = "0";
            }

            else if (document.getElementById("tools").value == "3") {

                document.getElementById("tools_dashboard").value = "1";
                document.getElementById("fuel_log").value = "1";
                document.getElementById("customer_reporting").value = "1";

                document.getElementById("tools_dashboardValue").innerHTML = "1";
                document.getElementById("fuel_logValue").innerHTML = "1";
                document.getElementById("customer_reportingValue").innerHTML = "1";
            }

        });

        $('#fleetTVT').on('change', function (e) {

            if (document.getElementById("fleetTVT").value == "0") {

                document.getElementById("fleetTvt_dashboard").value = "0";
                document.getElementById("fleetTvt_fieldSurvey").value = "0";
                document.getElementById("fleetTvt_EditAccount").value = "0";
                document.getElementById("fleetTVT_vier_or_edit_survey").value = "0";
                document.getElementById("fleetTvt_snapshot").value = "0";

                document.getElementById("fleetTvt_dashboardValue").innerHTML = "0";
                document.getElementById("fleetTvt_fieldSurveyValue").innerHTML = "0";
                document.getElementById("fleetTvt_EditAccountValue").innerHTML = "0";
                document.getElementById("fleetTVT_vier_or_edit_surveyValue").innerHTML = "0";
                document.getElementById("fleetTvt_snapshotValue").innerHTML = "0";
            }
            else if (document.getElementById("fleetTVT").value == "3") {

                document.getElementById("fleetTvt_dashboard").value = "1";
                document.getElementById("fleetTvt_fieldSurvey").value = "1";
                document.getElementById("fleetTvt_EditAccount").value = "1";
                document.getElementById("fleetTVT_vier_or_edit_survey").value = "1";
                document.getElementById("fleetTvt_snapshot").value = "1";

                document.getElementById("fleetTvt_dashboardValue").innerHTML = "1";
                document.getElementById("fleetTvt_fieldSurveyValue").innerHTML = "1";
                document.getElementById("fleetTvt_EditAccountValue").innerHTML = "1";
                document.getElementById("fleetTVT_vier_or_edit_surveyValue").innerHTML = "1";
                document.getElementById("fleetTvt_snapshotValue").innerHTML = "1";
            }
        });

        $('#settings').on('change', function (e) {

            if (document.getElementById("settings").value == "0") {

                document.getElementById("settings_dashboard").value = "0";
                document.getElementById("settings_managePermissions").value = "0";
                document.getElementById("settings_customers").value = "0";
                document.getElementById("settings_administration").value = "0";

                document.getElementById("settings_dashboardValue").innerHTML = "0";
                document.getElementById("settings_managePermissionsValue").innerHTML = "0";
                document.getElementById("settings_customersValue").innerHTML = "0";
                document.getElementById("settings_administrationValue").innerHTML = "0";
            }

            else if (document.getElementById("settings").value == "3") {

                document.getElementById("settings_dashboard").value = "1";
                document.getElementById("settings_managePermissions").value = "1";
                document.getElementById("settings_customers").value = "1";
                document.getElementById("settings_administration").value = "1";

                document.getElementById("settings_dashboardValue").innerHTML = "1";
                document.getElementById("settings_managePermissionsValue").innerHTML = "1";
                document.getElementById("settings_customersValue").innerHTML = "1";
                document.getElementById("settings_administrationValue").innerHTML = "1";
            }

        });

        $('#management').on('change', function (e) {

            if (document.getElementById("management").value == "0") {

                document.getElementById("management_dashboard").value = "0";
                document.getElementById("slider7").value = "0";
                document.getElementById("slider8").value = "0";
                document.getElementById("slider9").value = "0";
                document.getElementById("slider11").value = "0";
                document.getElementById("slider12").value = "0";
                document.getElementById("employee_folder").value = "0";

                document.getElementById("management_dashboardValue").innerHTML = "0";
                document.getElementById("slider7Val").innerHTML = "0";
                document.getElementById("slider8Val").innerHTML = "0";
                document.getElementById("slider9Val").innerHTML = "0";
                document.getElementById("slider11Val").innerHTML = "0";
                document.getElementById("slider12Val").innerHTML = "0";
                document.getElementById("employee_folderVal").innerHTML = "0";
            }

            if (document.getElementById("management").value == "3") {

                document.getElementById("management_dashboard").value = "1";
                document.getElementById("slider7").value = "1";
                document.getElementById("slider8").value = "1";
                document.getElementById("slider9").value = "1";
                document.getElementById("slider11").value = "1";
                document.getElementById("slider12").value = "1";
                document.getElementById("employee_folder").value = "1";

                document.getElementById("management_dashboardValue").innerHTML = "1";
                document.getElementById("slider7Val").innerHTML = "1";
                document.getElementById("slider8Val").innerHTML = "1";
                document.getElementById("slider9Val").innerHTML = "1";
                document.getElementById("slider11Val").innerHTML = "1";
                document.getElementById("slider12Val").innerHTML = "1";
                document.getElementById("employee_folderVal").innerHTML = "1";
            }

        });


        $('#slider16').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider16Val").innerHTML = id;
        });
        $('#slider16').change();
        $('#slider17').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider17Val").innerHTML = id;
        });
        $('#slider17').change();
        $('#slider18').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider18Val").innerHTML = id;
        });
        $('#slider18').change();

        $('#slider20').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider20Val").innerHTML = id;
        });
        $('#slider20').change();

        $('#slider21').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider21Val").innerHTML = id;
        });
        $('#slider21').change();

        $('#slider22').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider22Val").innerHTML = id;
        });
        $('#slider22').change();

        $('#slider23').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider23Val").innerHTML = id;
        });
        $('#slider23').change();

        $('#custDocs').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("custDocsVal").innerHTML = id;
        });
        $('#custDocs').change();


        $('#slider24').on('change', function (e) {
            var id = e.target.value;
            document.getElementById("slider24Val").innerHTML = id;
        });
        $('#slider24').change();

    });
</script>