
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Management_Harpoon.cshtml";
}

@model SeHubPortal.ViewModel.AttendanceModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    *@
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    @if (Model.client_info.employees_page.Value)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.fleet_page.Value)
    {
        <style>
            #VehicleClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.timesheet.Value)
    {
        <style>
            #TimesheetClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.AccessType == "Administrator")
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }

            #AttendanceLink {
                display: block !important;
            }

            #SettingsLink {
                display: block !important;
            }

            #EmployeeFilesLink {
                display: block !important;
            }

            #TimeClockEventsLink {
                display: block !important;
            }
        </style>
    }
    else if (Model.AccessType != "Shop Fireman")
    {
        <style>
            #AttendanceLink {
                display: block !important;
            }

            #SettingsLink {
                display: block !important;
            }

            #EmployeeFilesLink {
                display: block !important;
            }

            #TimeClockEventsLink {
                display: block !important;
            }
        </style>
    }

    <style type="text/css">



        .fc-event .fc-bg {
            opacity: 0 !important;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #ManagementClicked {
            display: block !important;
        }

        #AttendanceLink {
            display: block !important;
        }

        #ManagementClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #managementBtn {
            color: black;
            font-weight: 600;
        }

        #AttendanceLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        .payRollMainBody {
            margin: 0px 15px 0px 20px;
            height: 100%;
        }

        /*.card-header {
         background-color: #5f76e8;
         }
         .card-title
         {
         color:#fff;
         }*/

        .wrap {
            width: 100%;
            overflow: auto;
        }

        .fleft {
            float: left;
            width: 20%;
            /*background: blue;*/
            height: 100vh;
        }

        .fright {
            float: right;
            /*background: pink;*/
            height: 100vh;
            width: 80%;
            margin: 0px 0px 0px 0px;
        }

        .SerachLoc {
            text-align: center;
            height: 35px;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }

        .fieldStyle {
            width: 100%;
            height: 35px;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            margin-bottom: 5px;
        }

        #MatchedLocID {
            width: 80px;
            height: 30px;
            font-size: 18px;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }

        .EmpDetailsHeader {
            height: 100px;
            margin: 0px 0px 0px 10px;
        }

        .time-list {
            display: flex;
            flex-grow: 1;
        }

        .dash-stats-list {
            align-items: center;
            display: flex;
            flex-flow: column wrap;
            flex-grow: 1;
            padding-left: 5px;
            padding-right: 5px;
        }
        /*//Stackedbarchart*/
        .toolTip {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            box-shadow: -3px 3px 15px #888888;
            color: black;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
        }

        .legend {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 60%;
        }

        text {
            font: 10px sans-serif;
        }

        .axis path {
            fill: none;
            stroke: #000;
        }

        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
        /*//AttendanceBarChart*/
        .AttendanceBarChart {
            margin: 0px 25px;
        }

        text,
        .axis text {
            font-size: 15px;
        }

        rect:hover {
            fill: orange;
        }

        .btn:hover {
            color: black;
            background-color: #cfcfcf;
        }

        .fc-title {
            font-weight: bolder;
            font-size: 15px;
        }

        .fc-content {
            align-items: center;
            justify-content: center
        }

        .fc-toolbar h2 {
            color: #008ce3;
        }
    </style>
</head>
<body style="overflow-y:hidden">

    <div class="row" id="mainRow">
        <div class="col-md-12">
            <div>
                <div class="row heading">
                    <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

                        <div style="display:flex; justify-content:space-between; align-items:center">
                            <div>
                                <a href="@Url.Action("Attendance", "ManagementHarpoon")">Employees </a>/ Attendance History
                            </div>

                            <div style="display:flex;">
                                <label style="margin-right:10px">
                                    <b>Active ONLY</b>
                                </label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="Toggle1" class="custom-control-input" />
                                    <label class="custom-control-label" for="Toggle1">
                                        All
                                    </label>
                                </div>
                            </div>

                            <div style="display:flex; justify-content:space-around; align-items:center">
                                <label>Location</label>
                                @using (Html.BeginForm("ChangeLocAttendance", "ManagementHarpoon", FormMethod.Post))
                                {
                                    <div>
                                        @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, "Select", new { @id = "MatchedLocID", @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:150px;height:23px;font-size:15px;margin-left:6px;" })

                                        <noscript> <input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                        <i class="fa fa-bars" style="font-size:25px"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <input style="display:none" type="text" id="tempEmpID" name="name" value="@Model.SelectedEmployeeId" />
                @if (Model.client_info.start_date.HasValue)
                {
                    <div class="payRollMainBody">
                        <div class="row" style="margin-left:0px">
                            <div class="col-lg-2">
                                <div class="row example" style="height:78vh; overflow-y:auto">
                                    <div class="col-lg-12" id="ul_list">
                                        @foreach (var items in Model.employeeList)
                                        {
                                            if (Model.SelectedEmployeeId == items.employeeId)
                                            {
                                                <div class="row empButton commonClass @items.employeeId selectedEmployee @items.atWork" style="cursor: pointer; font-weight: bold; padding: 15px; background-color: white" id="@items.employeeId" onclick="pullAttendance(this.id)">
                                                    @items.fullName
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row empButton commonClass @items.employeeId @items.atWork" style="cursor: pointer; font-weight: bold; padding: 15px; background-color: transparent" id="@items.employeeId" onclick="pullAttendance(this.id)">
                                                    @items.fullName
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="row" style="height:78vh; overflow-y:hidden; background-color:white; margin-right:5px">
                                    <div class="col-md-12">
                                        <div id="loadingWheel" style="margin-bottom:1000px">
                                            <div style="width:100%; height:78vh; display:flex; justify-content:center; align-items:center;">
                                                <img style="width:100px" src="~/Content/giphy.gif" alt="Alternate Text" />
                                            </div>
                                        </div>
                                        <div id="loadCalendar">
                                            <div class="row" id="calendarParts" style="padding:10px 15px 10px 15px; visibility:hidden">
                                                <div class="col-lg-2 text-left">
                                                    @if (Model.client_info.start_date.Value.ToString("MMMM") == System.DateTime.Today.ToString("MMMM"))
                                                    {
                                                        <button id="prev" class="btn btn-primary" style="display:none; font-weight:bolder; float:left; padding:2px 10px 2px 10px"><b><</b></button>
                                                    }
                                                    else
                                                    {
                                                        <button id="prev" class="btn btn-primary" style="font-weight:bolder; float:left; padding:2px 10px 2px 10px"><b><</b></button>
                                                    }
                                                </div>
                                                <div class="col-lg-8 text-center">
                                                    <h2 id="titleText" style="color:#2f88fc"></h2>
                                                </div>
                                                <div class="col-lg-2 text-right">
                                                    <button id="next" class="btn btn-primary" style="display:none; font-weight:bolder; float:right; padding:2px 10px 2px 10px"><b>></b></button>
                                                </div>
                                            </div>
                                            <div class="dontShowInPrint btn" id="calender" style="width:100%; background-color:white"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>


    @*$(".btn").click(function () {
        $('#AttendanceRightBody').css('display', 'none');
        $('#divLoader').css('display', 'block');
        });*@

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px">
                    <h5 class="modal-title" style="color:black"><strong><span id="eventTitle">Attendance</span></strong></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <table class="table table-striped table-bordered">
                                <thead style="background-color:gray; color:white">
                                    <tr>
                                        <th style="font-size:10px; padding:0px" scope="col">Clock-IN</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Clock-Out</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Duration</th>
                                        <th style="font-size:10px; padding:0px" scope="col">Comments</th>
                                    </tr>
                                </thead>
                                <tbody id="pDetails">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:8px">
                    <input type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style="height:25px; width:100px" />
                </div>
            </div>
        </div>
    </div>

    <input type="text" id="duration" style="display:none" name="name" value="" />
    <input type="text" id="clientStartDate" style="display:none" name="name" value="@(Model.client_info.start_date.HasValue ? Model.client_info.start_date.Value.ToString("MMMM yyyy"):"")" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>

        $("#Toggle1").on('change', function () {
            if ($(this).is(':checked')) {
                $('.InActive').css("display", "block")
            }
            else {
                $('.InActive').css("display", "none")
            }
        });

        $("#next").click(function () {
            $("#prev").css("display", "block");
            $('#loadingWheel').css("display", "block")
            $('.fc-next-button').click();
            $('#titleText').html($('.fc-center h2').html())
            populateEmployeeList($('.fc-center h2').html().split(" ")[1] + "-" + getMonthNumber($('.fc-center h2').html().split(" ")[0]) + "-01");

            const d = new Date();
            if (($('.fc-center h2').html().split(" ")[1] == d.getFullYear()) && getMonthNumber($('.fc-center h2').html().split(" ")[0]) > d.getMonth()) {
                $("#next").css("display", "none");
                
            }
            else {
                $("#next").css("display", "block");
            }
        });

        $("#prev").click(function () {
            $("#next").css("display", "block");
            $('#loadingWheel').css("display", "block")
            $('.fc-prev-button').click();
            $('#titleText').html($('.fc-center h2').html())
            populateEmployeeList($('.fc-center h2').html().split(" ")[1] + "-" + getMonthNumber($('.fc-center h2').html().split(" ")[0]) + "-01");

            if ($('#clientStartDate').val().split(" ")[1] == $('.fc-center h2').html().split(" ")[1] && (getMonthNumber($('#clientStartDate').val().split(" ")[0]) < getMonthNumber($('.fc-center h2').html().split(" ")[0]))) {
                $("#prev").css("display", "block");
            }
            else {
                $("#prev").css("display", "none");
            }
        });

        function populateEmployeeList(val) {
            $.ajax({
                url: '@Url.Action("populateEmployeeList", "ManagementHarpoon")',
                data: { date: val, loc: $("#MatchedLocID").val() },
                success: function (data) {
                    var s = ''
                    var empList = ''
                    for (var i = 0; i < data.length; i++) {
                        empList += data[i].value + ';'
                        s += '<div class="row empButton commonClass ' + data[i].value + ' ' + data[i].text.split(";")[1] + '" style="cursor: pointer; font-weight: bold; padding: 15px; background-color: transparent" id="' + data[i].value + '" onclick="pullAttendance(this.id)">' + data[i].text.split(";")[0] + '</div>'
                        //s += '<li class="list-group-item btn text-left commonClass '+ data[i].value +'" id="'+ data[i].value +'" onclick="pullAttendance(this.id)"><button class="btn" style="outline:none; border:none; background-color:transparent; vertical-align: middle">'+ data[i].text +'</button></li>'
                    }
                    $("#ul_list").html(s);
                    if ($('#tempEmpID').val() != '' && empList.split(';').indexOf($('#tempEmpID').val()) > 0) {
                        pullAttendance($('#tempEmpID').val())
                    }
                    else {
                        pullAttendance(empList.split(';')[0])
                    }
                }
            });
        }

        $(window).on('load', function () {
            $('#AttendanceRightBody').css('display', 'block');
            $('#divLoader').css('display', 'none');
            $('.0').css("display", "none")
        });

        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#divLoader').css('display', 'block');
            });
            $('.InActive').css("display", "none")
        });

        $("#AttendanceLink").click(function () {
            $('#AttendanceRightBody').css('display', 'none');
            $('#divLoader').css('display', 'block');
        });

        $(document).ready(function () {

            const dDocRead = new Date();
            const currentMonthDocRead = dDocRead.getMonth() + 1;
            yearNumber = new Date().getFullYear();
            //alert(currentMonthDocRead)

            var events = [];
                $.ajax({
                    type: "GET",
                    url: "/ManagementHarpoon/GetAttendanceDates",
                    data: { empid: @ViewData["auto_emp_id"], mon: currentMonthDocRead, yar: yearNumber},
                    success: function (data) {
                        //alert(data)
                        $('#loadingWheel').css("display", "none")

                        $.each(data, function (i, v) {
                            const durat = netTime(v.split(";")[0].split(" ")[0], @ViewData["auto_emp_id"], getLocID(v.split(";")[1]))
                            events.push({
                                start: v.split(";")[0].split(" ")[0],
                                title: durat.substring(0, 5) + " (" + getLocID(v.split(";")[1]) + ")",
                                color: 'transparent',
                                imageurl: '/Content/clockHarpoonn.png',
                            });

                            eventOrder: 'color,start'

                        })
                        GenerateCalender(events);
                    },
                    error: function (error) {
                        GenerateCalender(events);
                    }
                })

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');

                    $('#calender').fullCalendar({
                        contentHeight: 630,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },
                        //defaultDate: moment().add(1, "months"),
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='15' height='15' style='padding:0px 0px 5px 5px'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            } else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },

                        eventClick: function (calEvent, jsEvent, view) {
                            $.ajax({
                                url: '@Url.Action("GetSwipDetails", "ManagementHarpoon")',
                                data: { date: calEvent.start.format("YYYY-MM-DD"), empid: @ViewData["auto_emp_id"], locid: calEvent.title.split("(")[1].split(")")[0]},
                                success: function (data) {

                                    $('#pDetails').html("");

                                    if (data.length == 1) {
                                        $('#pDetails').html('<tr><td style="font-size:12px; padding:0px">'+ data[0].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[0].split(">")[0].split(" ")[1].split(":")[1] + " " + data[0].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px"></td><td  style="font-size:12px; padding:0px"></td><td  style="font-size:12px; padding:0px">'+data[0].split(">")[2]+'</td></tr>');
                                        $('#myModal #eventTitle').empty().html(calEvent.title.split(" ")[1] + ' Attendance: ' + calEvent.start.format("MMM DD,YYYY"));
                                    }
                                    else {
                                        var duration = moment.duration('00:00:00')
                                        for (i = 0; i < data.length; i++) {
                                            if (i % 2 == 0) {
                                            }
                                            else {

                                                let startTime = Date.parse(data[i - 1].split(">")[0]);
                                                let endTime = Date.parse(data[i].split(">")[0]);

                                                var sessionstart= moment.unix(startTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                                var sessionend= moment.unix(endTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                                var ms = moment(sessionend,"DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart,"DD/MM/YYYY HH:mm:ss"));
                                                var d = moment.duration(ms);
                                                var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

                                                $('#pDetails').html($('#pDetails').html() + '<tr><td style="font-size:12px; padding:0px">'+ data[i-1].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[i-1].split(">")[0].split(" ")[1].split(":")[1] + " " + data[i-1].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px">'+ data[i].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[i].split(">")[0].split(" ")[1].split(":")[1] + " " + data[i].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px">'+ timeelapsed.split(":")[0] + ":" +  timeelapsed.split(":")[1]  +'</td><td style="font-size:12px; padding:0px">'+data[i].split(">")[2]+'</td></tr>');

                                                duration = duration + moment.duration(timeelapsed).as('milliseconds')

                                            }
                                        }
                                        $('#pDetails').html($('#pDetails').html() + '<tr style="background-color:white; border:1px solid white"><td style="font-size:12px; padding:0px; border:none"></td><td  style="font-size:12px; padding:0px; border:none"></td><td  style="font-size:12px; padding:0px; border:none">'+ moment.utc(duration).format("HH:mm") +'</td><td style="font-size:12px; padding:0px; border:none"></td></tr>');
                                        $('#myModal #eventTitle').empty().html(calEvent.title.split(" ")[1] + ' Attendance: ' + calEvent.start.format("MMM DD,YYYY"));
                                    }

                                    $('#myModal').modal();

                                    //var newDate = new Date();
                                    //alert(newDate)
                                }
                            });
                            //$('#myModal').modal();
                        }
                    })

                    $('.fc-center').css("display", "none");
                    $('.fc-prev-button').css("display", "none");
                    $('.fc-today-button').css("display", "none");
                    $('.fc-next-button').css("display", "none");
                    $('#titleText').html($('.fc-center h2').html())
                    $('#calendarParts').css("visibility", "visible")
                    //$('#prev').css("display", "block")
                    //$('#next').css("display", "block")
                    $('#loadingWheel').css("display", "none")
                }
        });


        function getMonthNumber(val) {
            var months = [" ", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            return months.indexOf(val);
        }


        function pullAttendance(val) {

            $('#loadingWheel').css("display", "block")
            $('#tempEmpID').val(val)

            const d = new Date();
            const existingMonth = getMonthNumber($('.fc-toolbar h2').html().split(" ")[0])
            var existingMontPadded = ""
            if (existingMonth.toString().length == 1) {                   
                existingMontPadded = "0" + existingMonth.toString()
            }
            else {
                existingMontPadded = existingMonth.toString()
            }
            const existingYear = $('.fc-toolbar h2').html().split(" ")[1]
            const currentMonth = d.getMonth() + 1;

            //alert(existingYear + "-" + existingMonth + "-01")


            $('.commonClass').css("background-color", "transparent")
            $('.'+val).css("background-color", "white")

            var events = [];
                $.ajax({
                    type: "GET",
                    url: "/ManagementHarpoon/GetAttendanceDates",
                    data: { empid: val, mon:existingMonth, yar: existingYear},
                    success: function (data) {
                        $.each(data, function (i, v) {
                            const durat = netTime(v.split(";")[0].split(" ")[0], val, getLocID(v.split(";")[1]))
                            events.push({
                                start: v.split(";")[0].split(" ")[0],
                                title: durat.substring(0, 5) + " (" + getLocID(v.split(";")[1]) + ")",
                                color: 'transparent',
                                imageurl: '/Content/clockHarpoonn.png',
                            });
                            eventOrder: 'color,start'
                        })

                        GenerateCalender(events);
                        GenerateCalender(arrayUniqueByKey);
                        $('#loadingWheel').css('display', 'none');
                        //$('#calendarParts, #calender').css('display', 'block')
                    },
                    error: function (error) {
                        GenerateCalender(events);
                    }
                })
                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');

                    $('#calender').fullCalendar({
                        contentHeight: 630,
                        //defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        displayEventTime: false,
                        header: {
                            left: 'prev',
                            center: 'title',
                            right: 'next'
                        },
                        defaultDate: existingYear + "-" + existingMontPadded + "-01",

                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,


                        eventRender: function(event, eventElement) {
                        if (event.imageurl) {
                            eventElement.find("div.fc-content").prepend("<img src='" + event.imageurl +"' width='15' height='15' style='padding:0px 0px 5px 5px'>");
                            }
                        },

                        viewRender: function(view, element) {

                            curdate = new Date();
                            viewdate = new Date(view.start);

                            // PREV - force minimum display month to current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1, 1).getTime() <=
                                new Date(2018, 0, 1).getTime()){
                                $('.fc-prev-button').prop('disabled', true);
                                $('.fc-prev-button').css('opacity', 0.5);
                            } else {
                                $('.fc-prev-button').prop('disabled', false);
                                $('.fc-prev-button').css('opacity', 1);
                            }

                            // NEXT - force max display month to a year from current month
                            if (new Date(viewdate.getFullYear(), viewdate.getMonth() + 1).getTime() >=
                                new Date(curdate.getFullYear(), curdate.getMonth()).getTime()){
                                $('.fc-next-button').prop('disabled', true);
                                $('.fc-next-button').css('opacity', 0.5);
                            } else {
                                $('.fc-next-button').prop('disabled', false);
                                $('.fc-next-button').css('opacity', 1);
                            }
                        },

                        eventClick: function (calEvent, jsEvent, view) {
                            $.ajax({
                                url: '@Url.Action("GetSwipDetails", "ManagementHarpoon")',
                                data: { date: calEvent.start.format("YYYY-MM-DD"), empid: val, locid: calEvent.title.split("(")[1].split(")")[0]},
                                success: function (data) {
                                    $('#pDetails').html("");

                                    if (data.length == 1) {
                                        $('#pDetails').html('<tr><td style="font-size:12px; padding:0px">'+ data[0].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[0].split(">")[0].split(" ")[1].split(":")[1] + " " + data[0].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px"></td><td  style="font-size:12px; padding:0px"></td><td  style="font-size:12px; padding:0px">'+data[0].split(">")[2]+'</td></tr>');
                                        //$('#myModal #eventTitle').empty().html("Net Attendance");
                                    }
                                    else {
                                        var duration = moment.duration('00:00:00')
                                        for (i = 0; i < data.length; i++) {
                                            if (i % 2 == 0) {
                                            }
                                            else {

                                                let startTime = Date.parse(data[i - 1].split(">")[0]);
                                                let endTime = Date.parse(data[i].split(">")[0]);

                                                var sessionstart= moment.unix(startTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                                var sessionend= moment.unix(endTime/1000).format("DD/MM/YYYY HH:mm:ss");
                                                var ms = moment(sessionend,"DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart,"DD/MM/YYYY HH:mm:ss"));
                                                var d = moment.duration(ms);
                                                var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

                                                $('#pDetails').html($('#pDetails').html() + '<tr><td style="font-size:12px; padding:0px">'+ data[i-1].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[i-1].split(">")[0].split(" ")[1].split(":")[1] + " " + data[i-1].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px">'+ data[i].split(">")[0].split(" ")[1].split(":")[0] + ":" + data[i].split(">")[0].split(" ")[1].split(":")[1] + " " + data[i].split(">")[0].split(" ")[2] +'</td><td  style="font-size:12px; padding:0px">'+ timeelapsed.split(":")[0] + ":" +  timeelapsed.split(":")[1] +'</td><td style="font-size:12px; padding:0px">'+data[i].split(">")[2]+'</td></tr>');

                                                duration = duration + moment.duration(timeelapsed).as('milliseconds')

                                            }
                                        }
                                        $('#pDetails').html($('#pDetails').html() + '<tr style="background-color:white; border:1px solid white"><td style="font-size:12px; padding:0px; border:none"></td><td  style="font-size:12px; padding:0px; border:none"></td><td  style="font-size:12px; padding:0px; border:none">'+ moment.utc(duration).format("HH:mm") +'</td><td style="font-size:12px; padding:0px; border:none"></td></tr>');
                                        $('#myModal #eventTitle').empty().html(calEvent.title.split(" ")[1] + ' Attendance: ' + calEvent.start.format("MMM DD,YYYY"));
                                    }

                                    $('#myModal').modal();

                                    //var newDate = new Date();
                                    //alert(newDate)
                                }
                            });
                            //$('#myModal').modal();
                        }
                    })

                    $('.fc-center').css("display", "none");
                    $('.fc-prev-button').css("display", "none");
                    $('.fc-today-button').css("display", "none");
                    $('.fc-next-button').css("display", "none");

                    $('#titleText').html($('.fc-center h2').html())
                    $('#calendarParts').css("visibility", "visible")
                    //$('#prev').css("display", "block")
                    //$('#next').css("display", "block")
                    $('#loadingWheel').css('display', 'none');
                }
        }


        function netTime(dateVal, empIDVal, locID) {
            var duration = moment.duration('00:00:00')
            $.ajax({
                url: '@Url.Action("GetSwipDetails", "ManagementHarpoon")',
                async:false,
                data: { date: dateVal, empid: empIDVal , locid: locID},
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        if (i % 2 == 0) {
                        }
                        else {
                            let startTime = Date.parse(data[i - 1].split(">")[0]);
                            let endTime = Date.parse(data[i].split(">")[0]);
                            var sessionstart = moment.unix(startTime / 1000).format("DD/MM/YYYY HH:mm:ss");
                            var sessionend = moment.unix(endTime / 1000).format("DD/MM/YYYY HH:mm:ss");
                            var ms = moment(sessionend, "DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart, "DD/MM/YYYY HH:mm:ss"));
                            var d = moment.duration(ms);
                            var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");
                            duration = duration + moment.duration(timeelapsed).as('milliseconds')

                        }
                    }
                }
            });

            return moment.utc(duration).format("HH:mm:ss");

        }

        function getLocID(val) {

            var loc = "";

            $.ajax({
                url: '@Url.Action("GetLocatID", "ManagementHarpoon")',
                async:false,
                data: {locid: val},
                success: function (data) {
                    loc = data
                }
            });

            return loc;

        }

    </script>
</body>
</html>
