

@{
    ViewBag.Title = "TimeClockEvents";
    Layout = "~/Views/Shared/_Management_Harpoon.cshtml";
}

@model SeHubPortal.ViewModel.AttendanceModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    *@
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/NewOrder.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

    @if (Model.client_info.employees_page.Value)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.fleet_page.Value)
    {
        <style>
            #VehicleClicked {
                display: block !important;
            }
        </style>
    }
    @if (Model.client_info.timesheet.Value)
    {
        <style>
            #TimesheetClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.AccessType == "Administrator")
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }

            #AttendanceLink {
                display: block !important;
            }

            #SettingsLink {
                display: block !important;
            }

            #EmployeeFilesLink {
                display: block !important;
            }
        </style>
    }
    else if (Model.AccessType != "Shop Fireman")
    {
        <style>
            #AttendanceLink {
                display: block !important;
            }

            #SettingsLink {
                display: block !important;
            }

            #EmployeeFilesLink {
                display: block !important;
            }
        </style>
    }

    <style type="text/css">

        #TimeClockEventsLink {
            display: block !important;
        }

        .fc-event .fc-bg {
            opacity: 0 !important;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        #ManagementClicked {
            display: block !important;
        }

        #TimeClockEventsLink {
            display: block !important;
        }

        #ManagementClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #managementBtn {
            color: black;
            font-weight: 600;
        }

        #TimeClockEventsLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
        }

        .heading {
            margin: 10px 0px 0px 0px;
        }

            .heading h2 {
                margin-top: 8px;
            }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }

        .payRollMainBody {
            margin: 0px 15px 0px 20px;
            height: 100%;
        }
        /*.card-header {
         background-color: #5f76e8;
         }
         .card-title
         {
         color:#fff;
         }*/
        .wrap {
            width: 100%;
            overflow: auto;
        }

        .fleft {
            float: left;
            width: 20%;
            /*background: blue;*/
            height: 100vh;
        }

        .fright {
            float: right;
            /*background: pink;*/
            height: 100vh;
            width: 80%;
            margin: 0px 0px 0px 0px;
        }

        .SerachLoc {
            text-align: center;
            height: 35px;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }

        .fieldStyle {
            width: 100%;
            height: 35px;
            visibility: visible;
            border-color: gray;
            border-width: 1px;
            margin-bottom: 5px;
        }

        #MatchedLocID {
            width: 80px;
            height: 30px;
            font-size: 18px;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }

        .EmpDetailsHeader {
            height: 100px;
            margin: 0px 0px 0px 10px;
        }

        .time-list {
            display: flex;
            flex-grow: 1;
        }

        .dash-stats-list {
            align-items: center;
            display: flex;
            flex-flow: column wrap;
            flex-grow: 1;
            padding-left: 5px;
            padding-right: 5px;
        }
        /*//Stackedbarchart*/
        .toolTip {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            position: absolute;
            display: none;
            width: auto;
            height: auto;
            background: none repeat scroll 0 0 white;
            border: 0 none;
            border-radius: 8px 8px 8px 8px;
            color: black;
            font: 12px sans-serif;
            padding: 5px;
            text-align: center;
        }

        .legend {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 60%;
        }

        text {
            font: 10px sans-serif;
        }

        .axis path {
            fill: none;
            stroke: #000;
        }

        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
        /*//AttendanceBarChart*/
        .AttendanceBarChart {
            margin: 0px 25px;
        }

        text,
        .axis text {
            font-size: 15px;
        }

        rect:hover {
            fill: orange;
        }

        .btn:hover {
            color: black;
            background-color: #cfcfcf;
        }

        .fc-title {
            font-weight: bolder;
            font-size: 15px;
        }

        .fc-content {
            align-items: center;
            justify-content: center
        }
    </style>

    <style>

        .scene {
            width: 520px;
            height: 200px;
            border: 1px solid #CCC;
            margin: 0px;
            perspective: 700px;
        }

        .box {
            width: 520px;
            height: 200px;
            position: relative;
            transform-style: preserve-3d;
            transform: translateZ(-50px);
            transition: transform 1s;
        }

            .box.show-front {
                transform: translateZ( -50px) rotateY( 0deg);
            }

            .box.show-back {
                transform: translateZ( -50px) rotateY(-180deg);
            }

            .box.show-right {
                transform: translateZ(-150px) rotateY( -90deg);
            }

            .box.show-left {
                transform: translateZ(-150px) rotateY( 90deg);
            }

            .box.show-top {
                transform: translateZ(-100px) rotateX( -90deg);
            }

            .box.show-bottom {
                transform: translateZ(-100px) rotateX( 90deg);
            }


        .box__face {
            position: absolute;
            border: 2px solid #696b6e;
        }

        .box__face--front,
        .box__face--back {
            width: 520px;
            height: 200px;
            padding: 25px 45px 10px 45px;
        }

        .box__face--right {
            width: 100px;
            height: 200px;
            left: 320px;
            line-height: 200px;
        }


        .box__face--left {
            width: 100px;
            height: 200px;
            left: 100px;
            line-height: 200px;
        }

        .box__face--top,
        .box__face--bottom {
            width: 520px;
            height: 100px;
            top: 50px;
            line-height: 100px;
        }

        .box__face--front {
            background: hsla( 0, 0%, 0%, 0.1);
        }

        .box__face--right {
            background: hsla( 0, 0%, 0%, 0.3);
        }

        .box__face--back {
            background: hsla( 0, 0%, 0%, 0.1);
        }

        .box__face--left {
            background: hsla( 0, 0%, 0%, 0.1);
        }

        .box__face--top {
            background: hsla( 0, 0%, 0%, 0.1);
        }

        .box__face--bottom {
            background: hsla( 0, 0%, 0%, 0.3);
        }

        .box__face--front {
            transform: rotateY( 0deg) translateZ( 50px);
        }

        .box__face--back {
            transform: rotateY(180deg) translateZ( 50px);
        }

        .box__face--right {
            transform: rotateY( 90deg) translateZ(150px);
        }

        .box__face--left {
            transform: rotateY(-90deg) translateZ(150px);
        }

        .box__face--top {
            transform: rotateX( 90deg) translateZ(100px);
        }

        .box__face--bottom {
            transform: rotateX(-90deg) translateZ(100px);
        }
    </style>

    <style>

        .test {
            width: 100px;
            height: 100px;
            position: relative;
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px
        }

            .test:before {
                content: '';
                position: absolute;
                bottom: 50%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

        .tests {
            width: 100px;
            height: 100px;
            position: relative;
            overflow: hidden;
        }

            .tests:before {
                content: '';
                position: absolute;
                bottom: 50%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

        .testss {
            width: 120px;
            height: 105px;
            position: relative;
            overflow: hidden;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px
        }

            .testss:before {
                content: '';
                position: absolute;
                bottom: 50%;
                width: 120px;
                height: 105px;
                border-radius: 50%;
                box-shadow: 0px 300px 0px 300px white;
                border: 1px solid dimgray;
            }

        .hide {
            display: none;
        }

        #searchInput {
            background-image: url("/Content/SearchIcon.png");
            background-size: 25px 25px;
            background-position: 1px 1px;
            background-repeat: no-repeat;
            padding: 2px 20px 1px 30px;
        }
    </style>

</head>
<body>

    <div id="lodingWheel">
        <div style="width:100%; height:90vh; display:flex; justify-content:center; align-items:center">
            <img src="~/Content/giphy.gif" style="width:100px" alt="Alternate Text" />
        </div>
    </div>


    <div class="row" id="mainRow" style="display:none;">
        <div class="col-md-12">
            <div>
                <div class="row heading">
                    <div class="col" style="margin:0px 5px 15px 15px; padding:10px; background-color:white">

                        <div style="display: flex; justify-content: space-between; align-items: center">
                            <div style="flex:3">
                                <a href="@Url.Action("Attendance", "Management")">Employees </a>/ Attendance
                            </div>

                            <div style="flex:3; display:flex; justify-content:space-around">
                                <input id="searchInput" onkeyup="filterOnClass('box', this.value)" style="width:200px;border-radius:4px; float:right " type="text" placeholder="Search with name" title="Type in a name">
                            </div>

                            <div style="flex:3; display:flex; justify-content:space-between; align-items:center">
                                <div></div>
                                <div style="display:flex; align-items:center">
                                    <label>Location</label>
                                    @using (Html.BeginForm("ChangeLocTimeClockEvent", "ManagementHarpoon", FormMethod.Post))
                                    {
                                        <div>
                                            @Html.DropDownListFor(m => m.MatchedLocID, Model.MatchedLocs, "Select", new { @onChange = "this.form.submit()", @type = "text", @style = "text-align-last: center;width:150px;height:23px;font-size:15px;margin-left:6px;" })
                                            <noscript><input style="display:none" class="btn btn-success" type="submit" value="Search" /></noscript>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                        <i class="fa fa-bars" style="font-size:25px"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>

                <div class="payRollMainBody example" style="overflow-y: auto; height: 46em">
                    <div class="row" style="display:flex; ">
                        @foreach (var items in Model.employeeList)
                        {
                            if (items.events.Count > 0)
                            {
                                <div class="box @items.fullName" style="height:330px">
                                    <div style="position:relative; margin:0px 30px 0px 20px">
                                        <div style="width: 420px;  padding: 0px; display: flex; flex-direction: column; margin: 0px 40px 0px 40px; align-items: center; justify-content: space-between">
                                            <div style="padding:5px 10px 5px 10px; display:flex; width:100%; background-color:transparent; justify-content:space-between; align-items:center; background-color:#a6a8ab;">
                                                <img src="~/Content/thumbsUP_1.png" style="margin:0px; visibility:hidden;object-fit:contain; width:30px" alt="Alternate Text" />
                                                <h3 style="margin:0px; padding:0px; color:white; font-weight:bold">
                                                    Time Card
                                                </h3>
                                                @if (items.atWork == "True")
                                                {
                                                    <img src="~/Content/thumbsUP_1.png" style="margin:0px; object-fit:contain; width:30px" alt="Alternate Text" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/thumbsDOWN_1.png" style="margin:0px; object-fit:contain; width:30px" alt="Alternate Text" />
                                                }

                                            </div>
                                            <div class="example" style=" padding:10px 10px 0px 10px; background-color:white; width:100%; height:150px; @(items.events.Count > 8 ? "overflow-y:auto" : "")">
                                                <table class="table table-striped table-bordered">
                                                    <thead style="background-color:#a6a8ab; color:white">
                                                        <tr>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Clock-IN</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Clock-OUT</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Duration</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Location</th>
                                                            @if (Model.job_id_clocking)
                                                            {
                                                                <th style="text-align:center; font-size:10px; padding:0px" scope="col">Job ID</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody style="background-color:white; font-weight:bold">
                                                        @for (int i = 0; i < items.events.Count; i++)
                                                        {
                                                            if (i % 2 == 0)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        @if (items.events[i].eventID == "clockIN" || items.events[i].eventID == "adminIN")
                                                                        {<span>@items.events[i].timeStamp.ToString("hh:mm tt")</span>}
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        @if (i + 1 < items.events.Count)
                                                                        {
                                                                            if (items.events[i + 1].eventID == "clockOUT" || items.events[i + 1].eventID == "adminOUT")
                                                                            {<span>@items.events[i + 1].timeStamp.ToString("hh:mm tt")</span>}
                                                                    }
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        @if (i + 1 < items.events.Count)
                                                                        {
                                                                            TimeSpan diff2 = diff2 = (items.events[i + 1].timeStamp - items.events[i].timeStamp);
                                                                            <span>
                                                                                @diff2.ToString(@"hh\:mm")
                                                                            </span>
                                                                        }
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span>
                                                                            @items.events[i].locationID
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            @if (items.events[i].job_id != "" && items.events[i].job_id != null)
                                                                            {
                                                                                <button onclick="populateJobModal(@items.auto_emp_id)" data-toggle="modal" data-target="#jobModal" style="border:none; outline:none; margin:0px; font-size:10px; color:dodgerblue" class="fa fa-info" value="@items.events[i].job_id"></button>
                                                                            }
                                                                        </td>
                                                                    }
                                                                    

                                                                </tr>

                                                            }
                                                        }

                                                        @if (items.events.Count <= 2)
                                                        {
                                                            for (int i = 0; i < 7; i++)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            <span style="visibility:hidden">
                                                                                Test
                                                                            </span>
                                                                        </td>
                                                                    }
                                                                    

                                                                </tr>
                                                            }

                                                        }
                                                        else if (items.events.Count > 2 && items.events.Count <= 4)
                                                        {
                                                            for (int i = 0; i < 6; i++)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            <span style="visibility:hidden">
                                                                                Test
                                                                            </span>
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            }

                                                        }
                                                        else if (items.events.Count > 4 && items.events.Count <= 6)
                                                        {
                                                            for (int i = 0; i < 5; i++)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            <span style="visibility:hidden">
                                                                                Test
                                                                            </span>
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            }

                                                        }
                                                        else if (items.events.Count > 6 && items.events.Count <= 8)
                                                        {
                                                            for (int i = 0; i < 4; i++)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            <span style="visibility:hidden">
                                                                                Test
                                                                            </span>
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            }
                                                        }

                                                        @for (int i = 0; i < 3; i++)
                                                        {
                                                            <tr>
                                                                <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                    <span style="visibility:hidden">
                                                                        Test
                                                                    </span>
                                                                </td>
                                                                <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                    <span style="visibility:hidden">
                                                                        Test
                                                                    </span>
                                                                </td>
                                                                <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                    <span style="visibility:hidden">
                                                                        Test
                                                                    </span>
                                                                </td>
                                                                <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                    <span style="visibility:hidden">
                                                                        Test
                                                                    </span>
                                                                </td>
                                                                @if (Model.job_id_clocking)
                                                                {
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                 }

                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="border-radius:15px; position:absolute; top:140px; left:0;">
                                            <div style="position:relative">
                                                <div style="display:flex">
                                                    <div class="left" style="border-top:2px solid dimgray; border-left:2px solid dimgray; width:175px; height:105px; background-color:white; border-top-left-radius:10px; border-top-right-radius:12px; margin-left:15px">
                                                        @{
                                                            string base64ProfilePic = "";
                                                            if (items.profilePic != null)
                                                            {
                                                                base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@items.profilePic);
                                                                <img style="object-fit:contain; border-radius:50%; margin:20px 15px 20px 15px; width:7em; height:7rem" src="@base64ProfilePic" alt="Alternate Text" />
                                                            }
                                                            else
                                                            {
                                                                <img style="object-fit:contain; border-radius:50%; margin:20px 15px 20px 15px; width:7em; height:7rem" src="~/Content/profilepic.jpg" alt="Alternate Text" />
                                                            }
                                                        }
                                                    </div>
                                                    <div class="testss"></div>
                                                    <div class="right" style="border-top:2px solid dimgray; border-right:2px solid dimgray; padding:25px 10px 20px 30px; width:175px; height:105px; background-color:white; border-top-left-radius:12px; border-top-right-radius:10px">
                                                        <div style="display:flex; flex-direction:column; align-items:center">

                                                            @if (Model.AccessType == "Shop Fireman")
                                                            {
                                                                if (items.atWork == "True")
                                                                {
                                                                    <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalOut" style="margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-secondary">Clock OUT</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-success">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalIN" style="margin: 10px 10px 0px 0px; padding: 5px 20px 5px 20px; font-weight:bold" class="btn btn-secondary">Clock IN</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-secondary">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (items.atWork == "True")
                                                                {
                                                                    <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalOut" style="margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-primary">Clock OUT</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-success">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalIN" style="margin: 10px 10px 0px 0px; padding: 5px 20px 5px 20px; font-weight:bold" class="btn btn-primary">Clock IN</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-secondary">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }

                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom:2px solid dimgray; border-left:2px solid dimgray; border-right:2px solid dimgray; margin-left:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px; width:470px; height:45px; background-color:white"></div>
                                                <div style="position:absolute; top:60px; left:150px; width:12em; display:flex; flex-direction:column; align-items:start; padding-right:20px">
                                                    <span style="font-weight:bold; color:dimgray"><i>@items.fullName</i></span>
                                                    <span style="font-weight:bold; color:dimgray">@items.employeeId</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="box @items.fullName" style="height: 330px; padding-top: 80px">
                                    <div style="position:relative; margin:0px 30px 0px 20px">
                                        <div style="width: 420px; box-shadow: 0px 22px 15px -2px rgba(0,0,0,0.58); padding: 0px; display: flex; flex-direction: column; margin: 0px 40px 0px 40px; align-items: center; justify-content: space-between">
                                            <div style="padding:5px 10px 5px 10px; display:flex; width:100%; background-color:transparent; justify-content:space-between; align-items:center; background-color:#a6a8ab;">
                                                <img src="~/Content/thumbsDOWN_1.png" style="margin:0px; visibility:hidden;object-fit:contain; width:30px" alt="Alternate Text" />
                                                <h3 style="margin:0px; padding:0px; color:white; font-weight:bold">
                                                    Time Card
                                                </h3>
                                                @if (items.atWork == "True")
                                                {
                                                    <img src="~/Content/thumbsUP_1.png" style="margin:0px; object-fit:contain; width:30px" alt="Alternate Text" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/thumbsDOWN_1.png" style="margin:0px; object-fit:contain; width:30px" alt="Alternate Text" />
                                                }
                                            </div>
                                            <div class="example" style=" padding:10px 10px 0px 10px; background-color:white; width:100%; height:150px; overflow-y:auto">
                                                <table class="table table-striped table-bordered">
                                                    <thead style="background-color:#a6a8ab; color:white">
                                                        <tr>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Clock-IN</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Clock-OUT</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Duration</th>
                                                            <th style="text-align:center; font-size:10px; padding:0px" scope="col">Location</th>
                                                            @if (Model.job_id_clocking)
                                                            {
                                                                <th style="text-align:center; font-size:10px; padding:0px" scope="col">Job ID</th>
                                                            }
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody style="background-color:white; font-weight:bold">
                                                        @if (items.events.Count == 0)
                                                        {
                                                            for (int i = 0; i < 3; i++)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                        <span style="visibility:hidden">
                                                                            Test
                                                                        </span>
                                                                    </td>
                                                                    @if (Model.job_id_clocking)
                                                                    {
                                                                        <td style="text-align:center; font-size:10px; padding:0px" scope="col">
                                                                            <span style="visibility:hidden">
                                                                                Test
                                                                            </span>
                                                                        </td>
                                                                    }

                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="border-radius:15px; position:absolute; top: 60px; left:0;">
                                            <div style="position:relative">
                                                <div style="display:flex">
                                                    <div class="left" style="border-top:2px solid dimgray; border-left:2px solid dimgray; width:175px; height:105px; background-color:white; border-top-left-radius:10px; border-top-right-radius:12px; margin-left:15px">
                                                        @{
                                                            string base64ProfilePic = "";
                                                            if (items.profilePic != null)
                                                            {
                                                                base64ProfilePic = "data:image/png;base64," + Convert.ToBase64String(@items.profilePic);
                                                                <img style="object-fit:contain; border-radius:50%; margin:20px 15px 20px 15px; width:7em; height:7rem" src="@base64ProfilePic" alt="Alternate Text" />
                                                            }
                                                            else
                                                            {
                                                                <img style="object-fit:contain; border-radius:50%; margin:20px 15px 20px 15px; width:7em; height:7rem" src="~/Content/profilepic.jpg" alt="Alternate Text" />
                                                            }
                                                        }
                                                    </div>
                                                    <div class="testss"></div>
                                                    <div class="right" style="border-top:2px solid dimgray; border-right:2px solid dimgray; padding:25px 10px 20px 30px; width:175px; height:105px; background-color:white; border-top-left-radius:12px; border-top-right-radius:10px">
                                                        <div style="display:flex; flex-direction:column; align-items:center">
                                                            @if (Model.AccessType == "Shop Fireman")
                                                            {
                                                                if (items.atWork == "True")
                                                                {
                                                                    <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalOut" style="margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px" class="btn btn-secondary">Clock OUT</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-success">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalIN" style="margin: 10px 10px 0px 0px; padding: 5px 20px 5px 20px; font-weight:bold" class="btn btn-secondary">Clock IN</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-secondary">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (items.atWork == "True")
                                                                {
                                                                    <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalOut" style="margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-primary">Clock OUT</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-success">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <button onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" value="Test Test Test" data-toggle="modal" data-target="#myModalIN" style="margin: 10px 10px 0px 0px; padding: 5px 20px 5px 20px; font-weight:bold" class="btn btn-primary">Clock IN</button>
                                                                    if (Model.job_id_clocking)
                                                                    {
                                                                        if (!items.atJob)
                                                                        {
                                                                            <button disabled onclick="EmpDetails(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#AssignJob" style=" margin: 10px 10px 0px 0px; padding: 5px 12px 5px 12px; font-weight:bold" class="btn btn-secondary">Assign Job</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button onclick="CloseJob(@items.auto_emp_id); $('.profileImage').css('visibility', 'hidden'); $('.auto_loc_id').val('')" data-toggle="modal" data-target="#CloseJob" style=" margin: 10px 10px 0px 0px; padding: 5px 16px 5px 16px; font-weight:bold" class="btn btn-danger">Close Job</button>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="border-bottom:2px solid dimgray; border-left:2px solid dimgray; border-right:2px solid dimgray; margin-left:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px; width:470px; height:45px; background-color:white"></div>
                                                <div style="position:absolute; top:60px; left:150px; width:12em; display:flex; flex-direction:column; align-items:start; padding-right:20px">
                                                    <span style="font-weight:bold; color:dimgray"><i>@items.fullName</i></span>
                                                    <span style="font-weight:bold; color:dimgray">@items.employeeId</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*$(".btn").click(function () {
        $('#AttendanceRightBody').css('display', 'none');
        $('#divLoader').css('display', 'block');
        });*@

    <div id="myModalIN" data-backdrop="static" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            @using (Html.BeginForm("AddEvent", "ManagementHarpoon", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px">
                        <h5 style="margin-left: auto; margin-right: auto" class="modal-title">Time Clocking by Admin</h5>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h1>
                                    Clock-IN
                                </h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img class="profileImage" style="object-fit:contain; border-radius:50%; width:7em; height:7rem" src="" alt="Alternate Text" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:30px">
                            <div class="col-lg-12 text-center">
                                <span class="profileName"></span>
                            </div>
                        </div>


                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Location ID
                            </div>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(m => m.CreateEvent.auto_loc_id, Model.MatchedLocs, "Select Location", new { @class = "auto_loc_id", @id = "auto_loc_id_in", @style = "width:100%", @onchange = "CheckRequired(this.value)" })
                            </div>
                        </div>


                        <div class="row" style="margin-bottom: 10px; display:none">
                            <div class="col-lg-4 text-right">
                                Auto Emp ID
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.auto_emp_id, new { htmlAttributes = new { @class = "auto_emp_id", @style = "width:100%" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; display:none">
                            <div class="col-lg-4 text-right">
                                Event ID
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.event_id, new { htmlAttributes = new { @readonly = true, @id = "event_id", @style = "width:100%", @Value = "adminIN" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-4 text-right">
                                TimeStamp
                            </div>
                            <div class="col-lg-8">
                                @if (Model.AdminClockingEditTime)
                                {
                                    @Html.EditorFor(m => m.CreateEvent.time_stamp, new { htmlAttributes = new { @required = true, @type = "time", @class = "time_stamp", @style = "width:100%" } })
                                }
                                else
                                {
                                    @Html.EditorFor(m => m.CreateEvent.time_stamp, new { htmlAttributes = new { @required = true, @type = "time", @class = "time_stamp", @style = "width:100%", @readonly = true } })
                                }

                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Comments
                            </div>
                            <div class="col-lg-8">
                                @Html.TextAreaFor(m => m.CreateEvent.comments, 4, 20, new { @id = "comments", @style = "width:100%" })
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="padding:0px 15px 0px 15px">
                            <div class="col-lg-4 text-left" style="padding-left: 0px; color: red; padding-bottom: 0px">
                            </div>
                            <div class="col-lg-8 text-right" style="padding-right:0px; padding-bottom:0px">
                                <button style="padding:2px 30px 2px 30px; margin-right:10px" type="submit" class="btn btn-success newSubmit">Save</button>
                                <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

    <div id="myModalOut" data-backdrop="static" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            @using (Html.BeginForm("AddEvent", "ManagementHarpoon", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px">
                        <h5 style="margin-left: auto; margin-right: auto" class="modal-title">Time Clocking by Admin</h5>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h1>
                                    Clock-OUT
                                </h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img class="profileImage" style="object-fit:contain; border-radius:50%; width:7em; height:7rem" src="" alt="Alternate Text" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:30px">
                            <div class="col-lg-12 text-center">
                                <span class="profileName"></span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Location ID
                            </div>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(m => m.CreateEvent.auto_loc_id, Model.MatchedLocs, "Select Location", new { @class = "auto_loc_id", @id = "auto_loc_id_in", @style = "width:100%", @onchange = "CheckRequired(this.value)" })
                            </div>
                        </div>


                        <div class="row" style="margin-bottom: 10px; display:none">
                            <div class="col-lg-4 text-right">
                                Auto Emp ID
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.auto_emp_id, new { htmlAttributes = new { @class = "auto_emp_id", @style = "width:100%" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; display:none">
                            <div class="col-lg-5 text-right">
                                Event ID
                            </div>
                            <div class="col-lg-6">
                                @Html.EditorFor(m => m.CreateEvent.event_id, new { htmlAttributes = new { @readonly = true, @id = "event_id", @style = "width:100%", @Value = "adminOUT" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-4 text-right">
                                TimeStamp
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.time_stamp, new { htmlAttributes = new { @required = true, @type = "time", @class = "time_stamp", @style = "width:100%" } })
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Comments
                            </div>
                            <div class="col-lg-8">
                                @Html.TextAreaFor(m => m.CreateEvent.comments, 4, 20, new { @id = "comments", @style = "width:100%" })
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="padding:0px 15px 0px 15px">
                            <div class="col-lg-4 text-left" style="padding-left: 0px; color: red; padding-bottom: 0px">
                            </div>
                            <div class="col-lg-8 text-right" style="padding-right:0px; padding-bottom:0px">
                                <button style="padding:2px 30px 2px 30px; margin-right:10px" type="submit" class="btn btn-success newSubmit">Save</button>
                                <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="AssignJob" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            @using (Html.BeginForm("AddEvent", "ManagementHarpoon", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px">
                        <h5 style="margin-left: auto; margin-right: auto" class="modal-title">Assign Job by Admin</h5>
                    </div>
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img class="profileImage" style="object-fit:contain; border-radius:50%; width:7em; height:7rem" src="" alt="Alternate Text" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:30px">
                            <div class="col-lg-12 text-center">
                                <span class="profileName"></span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Location ID
                            </div>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(m => m.CreateEvent.auto_loc_id, Model.MatchedLocs, "Select Location", new { @disabled = true, @class = "auto_loc_id", @id = "auto_loc_id_in", @style = "width:100%; background-color:#e3e3e3", @onchange = "CheckRequired(this.value)" })
                            </div>
                        </div>


                        <div class="row" style="margin-bottom: 10px; display:none">
                            <div class="col-lg-4 text-right">
                                Auto Emp ID
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.auto_emp_id, new { htmlAttributes = new { @class = "auto_emp_id", @style = "width:100%" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; display:none">
                            <div class="col-lg-5 text-right">
                                Event ID
                            </div>
                            <div class="col-lg-6">
                                @Html.EditorFor(m => m.CreateEvent.event_id, new { htmlAttributes = new { @readonly = true, @id = "event_id", @style = "width:100%", @Value = "AssignJob" } })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-4 text-right">
                                TimeStamp
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.time_stamp, new { htmlAttributes = new { @disabled = true, @readonly = true, @required = true, @type = "time", @class = "time_stamp", @style = "width:100%" } })

                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-4 text-right">
                                Job ID
                            </div>
                            <div class="col-lg-8">
                                @Html.EditorFor(m => m.CreateEvent.job_id, new { htmlAttributes = new { required = true, @style = "width:100%", @type="text", @class="textfield",  } })
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="padding:0px 15px 0px 15px">
                            <div class="col-lg-4 text-left" style="padding-left: 0px; color: red; padding-bottom: 0px">
                            </div>
                            <div class="col-lg-8 text-right" style="padding-right:0px; padding-bottom:0px">
                                <button style="padding:2px 30px 2px 30px; margin-right:10px" type="submit" class="btn btn-success newSubmit">Save</button>
                                <button style="padding:2px 20px 2px 20px" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="jobModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header" style="padding:5px">
                    <h5 style="margin-left: auto; margin-right: auto" class="modal-title">Job Details</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <img class="profileImage" style="object-fit:contain; border-radius:50%; width:7em; height:7rem" src="" alt="Alternate Text" />
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:30px">
                                <div class="col-lg-12 text-center">
                                    <span class="profileName"></span>
                                </div>
                            </div>

                            <table class="table table-striped table-bordered" style="margin-bottom:0px">
                                <thead style="background-color:gray; color:white">
                                    <tr>
                                        <th style="font-size:10px; padding:0px; text-align:center" scope="col">Job ID</th>
                                        <th style="font-size:10px; padding:0px; text-align:center" scope="col">Start time</th>
                                        <th style="font-size:10px; padding:0px; text-align:center" scope="col">End time</th>
                                        <th style="font-size:10px; padding:0px; text-align:center" scope="col">Duration</th>
                                    </tr>
                                </thead>
                                <tbody id="pDetails">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:1px">
                    <button data-dismiss="modal" class="btn btn-danger" style="padding:2px 20px 2px 20px">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="CloseJob" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px">
            @using (Html.BeginForm("CloseJob", "ManagementHarpoon", FormMethod.Post))
            { 
                <div class="modal-content">
                    <div class="modal-header" style="padding:5px">
                        <h5 style="margin-left: auto; margin-right: auto" class="modal-title">Please Confirm</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-12" id="jodDiv">
                                Current Open Job - <span id="jobID"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="jodDiv">
                                Do yo want to close the job?
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.openJobID, new { htmlAttributes = new { @id = "openJobID" } })
                        @Html.HiddenFor(m => m.openJobID_autoEmpID, new { htmlAttributes = new { @id = "openJobID_autoEmpID" } })
                    </div>
                    <div class="modal-footer" style="padding:1px">
                        <button type="submit" class="btn btn-success" style="padding:0px 10px 0px 10px">Confirm</button>
                        <button data-dismiss="modal" class="btn btn-danger" style="padding:0px 15px 0px 15px">Cancel</button>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <input type="text" id="duration" style="display:none" name="name" value="" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>

        function filterOnClass(baseClass, s) {
            let re = new RegExp(s.trim(), 'i');
            document.querySelectorAll('.' + baseClass).forEach(node => {
                let cNames = Array.from(node.classList);
                // Show all if search string is blank
                if (s.trim() == '') {
                    node.classList.remove('hide');
                    // Otherwise, filter
                } else if (cNames.some(cName => re.test(cName))) {
                    node.classList.remove('hide');
                } else {
                    node.classList.add('hide');
                }
            });  
        }

        $('.textfield').keypress(function (e) {
            var regex = new RegExp("^[0-9a-zA-Z_\. ]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            e.preventDefault();
            return false;
        });

        function populateJobModal(empID) {

            EmpDetails(empID)

            $('#pDetails').html("")
            $.ajax({
                url: '@Url.Action("populateJobModal", "ManagementHarpoon")',
                data: { auto_id: empID },
                async: false,
                success: function (data) {
                    for (i = 0; i < data.length; i++) {
                        if (data[i].end_time != null) {
                            var sessionstart = moment(data[i].start_time).format("DD/MM/YYYY HH:mm:ss");
                            var sessionend = moment(data[i].end_time).format("DD/MM/YYYY HH:mm:ss");
                            var ms = moment(sessionend, "DD/MM/YYYY HH:mm:ss").diff(moment(sessionstart, "DD/MM/YYYY HH:mm:ss"));
                            if (ms < 0) {
                                ms = 0
                            }
                            var d = moment.duration(ms);
                            var timeelapsed = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

                            $('#pDetails').html($('#pDetails').html() + '<tr style="background-color:white; border:1px solid white"><td style="font-size:12px; padding:0px; text-align:center">' + data[i].job_id + '</td><td style="font-size:12px; padding:0px; text-align:center">' + moment(data[i].start_time).format("HH:mm") + '</td><td  style="font-size:12px; padding:0px; text-align:center">' + moment(data[i].end_time).format("HH:mm") + '</td></td><td  style="font-size:12px; padding:0px; text-align:center">'+ timeelapsed +'</td></tr>');
                        }
                        else {
                            $('#pDetails').html($('#pDetails').html() + '<tr style="background-color:white; border:1px solid white"><td style="font-size:12px; padding:0px; text-align:center">'+ data[i].job_id +'</td><td style="font-size:12px; padding:0px; text-align:center">'+ moment(data[i].start_time).format("HH:mm") +'</td><td  style="font-size:12px; padding:0px; text-align:center"></td></td><td  style="font-size:12px; padding:0px; text-align:center"></td></tr>');
                        }
                        
                    }
                    
                }
            });
        }

        $('.address').blur(function() {
            var hasNumber = this.value.match(/^[a-zA-Z0-9\s .,]+$/);
            if (hasNumber) {
                return false;
            } else {
                return false;
            }
        });

        function CheckRequired(val) {
            if (val != "") {
                $('.newSubmit').prop("disabled", false);
            }
            else {
                $('.newSubmit').prop("disabled", true);
            }
        }

        function CloseJob(val) {
            $.ajax({
                url: '@Url.Action("getOpenJob", "ManagementHarpoon")',
                data: { auto_id: val },
                success: function (data) {
                    $('#jobID').text(data)
                    $('#openJobID').val(data)
                    $('#openJobID_autoEmpID').val(val)
                }
            });
        }

        function EmpDetails(val) {
            $('.auto_emp_id').val(val)
            let now = new Date();

            //alert(now.getHours() + ":" + now.getMinutes())

            if (now.getHours().toString().length == 1) {
                if (now.getMinutes().toString().length == 1) {
                    $('.time_stamp').val('0' + now.getHours() + ":" + '0' + now.getMinutes());
                }
                else {
                    $('.time_stamp').val('0' + now.getHours() + ":" + now.getMinutes());
                }
            }
            else {
                if (now.getMinutes().toString().length == 1) {
                    $('.time_stamp').val(now.getHours() + ":" + '0' + now.getMinutes());
                }
                else {
                    $('.time_stamp').val(now.getHours() + ":" + now.getMinutes());
                }

            }

            $.ajax({
                url: '@Url.Action("populateEmployeeDetails", "ManagementHarpoon")',
                data: { auto_id: val },
                success: function (data) {
                    $(".profileImage").attr("src", data.split('seperator')[1]);
                    $(".profileName").text(data.split('seperator')[0]);
                    $('.profileImage').css('visibility', 'visible')
                    //$('.auto_loc_id').val(data.split('seperator')[2])
                }
            });
        }

        $(window).on('load', function () {
            $('#mainRow').css('display', 'block');
            $('#lodingWheel').css('display', 'none');
        });

        $(document).ready(function () {
            $('#clickThis').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#divLoader').css('display', 'block');
            });

        });

        $("#AttendanceLink").click(function () {
            $('#AttendanceRightBody').css('display', 'none');
            $('#divLoader').css('display', 'block');
        });



    </script>
</body>
</html>

